{% macro render_proposal_figures(figures) %}
    {% if figures %}
        {% for fig in figures %}
            <figure>
                {% if fig.state is attachment_ready %}
                    {% if fig.target_full is none %}
                        <img src="{{ fig.target_view }}" alt="Figure {{ loop.index }}" />
                    {% else %}
                        <a href="{{ fig.target_full }}">
                            <img src="{{ fig.target_view }}" alt="Figure {{ loop.index }}" />
                        </a>
                    {% endif %}
                {% elif fig.state is attachment_error %}
                    <p class="warning">
                        The uploaded figure could not be processed.
                    </p>
                {% else %}
                    <p class="not_present">
                        The uploaded figure has not yet been processed.
                        <br />
                        Please try reloading this page later to see the figure here.
                    </p>
                {% endif %}

                <figcaption>
                    <div class="fignum">
                        <p>Figure {{ loop.index }}:</p>
                    </div>
                    <div class="figcap">
                        {{ fig.caption | format_text }}
                    </div>
                </figcaption>
            </figure>
        {% endfor %}
    {% endif %}
{% endmacro %}
