{% macro render_proposal_figures(figures, target_full, target_preview, proposal_id) %}
    {% if figures %}
        {% for fig in figures %}
            <figure>
                {% if fig.state is attachment_ready %}
                    {% if not fig.has_preview %}
                        <img src="{{ url_for(target_full, proposal_id=proposal_id, fig_id=fig.id, md5sum=fig.md5sum) }}" alt="Figure {{ loop.index }}" />
                    {% else %}
                        <a href="{{ url_for(target_full, proposal_id=proposal_id, fig_id=fig.id, md5sum=fig.md5sum) }}">
                            <img src="{{  url_for(target_preview, proposal_id=proposal_id, fig_id=fig.id, md5sum=fig.md5sum)}}" alt="Figure {{ loop.index }}" />
                        </a>
                    {% endif %}
                {% elif fig.state is attachment_error %}
                    <p class="warning">
                        The uploaded figure could not be processed.
                    </p>
                {% else %}
                    <p class="not_present">
                        The uploaded figure has not yet been processed.
                        <br />
                        Please try reloading this page later to see the figure here.
                    </p>
                {% endif %}

                <figcaption>
                    <div class="fignum">
                        <p>Figure {{ loop.index }}:</p>
                    </div>
                    <div class="figcap">
                        {{ fig.caption | format_text }}
                    </div>
                </figcaption>
            </figure>
        {% endfor %}
    {% endif %}
{% endmacro %}
