{% macro render_institution_form(institution) %}
    <li>
        <div class="explanation">
            Primary name by which the institution is known,
            e.g. &ldquo;University of &hellip;&rdquo;
            &nbsp; or &nbsp; &ldquo;&hellip; Observatory&rdquo;.
        </div>
    </li>
    <li>
        <label for="institution_name">Institution name</label>
        <input type="text" name="institution_name" value="{{ institution.name }}" autofocus="autofocus" required="required" size="40" />
    </li>
    <li>
        <label for="institution_name_abbr">Abbreviated name</label>
        <input type="text" name="institution_name_abbr" value="{{ '' if institution.name_abbr is none else institution.name_abbr }}" size="10" />
        <div class="formtip">
            <div>
                If the institution has a commonly-used abbreviation,
                please enter the abbreviation here
                and give its full name in the box above.
            </div>
        </div>
    </li>

    <li>
        <div class="explanation">
            Name of a subdivision of the institution,
            e.g. a department, faculty or institute.
            You can omit any leading classification
            such as &ldquo;Department of &hellip;&rdquo;.
        </div>
    </li>
    <li>
        <label for="department">Department</label>
        <input type="text" name="department" value="{{ institution.department }}" size="40" />
        <span class="explanation">optional</span>
    </li>
    <li>
        <label for="department_abbr">Abbreviated department</label>
        <input type="text" name="department_abbr" value="{{ '' if institution.department_abbr is none else institution.department_abbr }}" size="10" />
        <div class="formtip">
            <div>
                If the subdivision has a commonly-used abbreviation,
                please enter the abbreviation here
                and give its full name in the box above.
            </div>
        </div>
    </li>

    <li>
        <div class="explanation">
            If the institution forms part of a larger organization
            (e.g. Chinese Academy of Sciences &mdash; CAS,
            or National Astronomical Observatory of Japan &mdash; NAOJ)
            you can enter that here.
        </div>
    </li>
    <li>
        <label for="organization">Parent organization</label>
        <input type="text" name="organization" value="{{ institution.organization }}" size="40" />
        <span class="explanation">optional</span>
    </li>
    <li>
        <label for="organization_abbr">Abbreviated organization</label>
        <input type="text" name="organization_abbr" value="{{ '' if institution.organization_abbr is none else institution.organization_abbr }}" size="10" />
        <div class="formtip">
            <div>
                If the parent organization has a commonly-used abbreviation,
                please enter the abbreviation here
                and give its full name in the box above.
            </div>
        </div>
    </li>

    <li>
        <label for="address">Address</label>
        <textarea name="address" cols="40" rows="8">{{ institution.address }}</textarea>
    </li>
    <li>
        <label for="country_code">Country</label>
        <div style="display: inline-block; width: 50ex;"><select name="country_code" data-country_list="{{ url_for('query.country_list') }}" data-selected="{{ institution.country }}">
            <option value="">Loading&hellip;</option>
        </select></div>
    </li>
{% endmacro %}

{% macro render_member_institution(member, part_truncate=25) %}
    {{ member.institution_name | abbr(part_truncate, abbreviation=member.institution_name_abbr) }}
    {%- if member.institution_department %}
        ({{ member.institution_department | abbr(part_truncate, abbreviation=member.institution_department_abbr) }})
    {%- elif member.institution_department_abbr is not none %}
        ({{ member.institution_department_abbr }})
    {%- endif %},
    {% if member.institution_organization %}
        {{ member.institution_organization | abbr(part_truncate, abbreviation=member.institution_organization_abbr) }},
    {% elif member.institution_organization_abbr is not none %}
        {{ member.institution_organization_abbr }}
    {% endif %}
    {{ member.institution_country | country_name | abbr(part_truncate) }}
{% endmacro %}
