{% macro render_institution_form(institution, countries) %}
    <li>
        <label for="institution_name">Institution name</label>
        <input type="text" name="institution_name" value="{{ institution.name }}" autofocus="autofocus" required="required" size="40" />
        <span class="explanation">e.g. University of &hellip; &nbsp; / &nbsp; &hellip; Observatory</span>
    </li>
    <li>
        <label for="department">Department</label>
        <input type="text" name="department" value="{{ institution.department }}" size="40" />
        <span class="explanation">optional: e.g. Dept. of &hellip; &nbsp; / &nbsp;  Institute of &hellip;</span>
    </li>

    <li>
        <label for="organization">Parent organization</label>
        <input type="text" name="organization" value="{{ institution.organization }}" size="40" />
        <span class="explanation">optional: e.g. Chinese Academy of Sciences</span>
    </li>
    <li>
        <label for="address">Address</label>
        <textarea name="address" cols="40" rows="8">{{ institution.address }}</textarea>
    </li>
    <li>
        <label for="country_code">Country</label>
        <select name="country_code">
            {% for (country_code, country_display_name) in countries.items() %}
                <option value="{{ country_code }}" {{ 'selected="selected"' | safe if country_code == institution.country }}>{{ country_display_name }}</option>
            {% endfor %}
        </select>
    </li>
{% endmacro %}

{% macro render_institution_summary(institution) %}
    {{ institution.name | truncate(35, killwords=True, end='\u2026') }}{% if institution.department %} ({{ institution.department | truncate(25, killwords=True, end='\u2026') }}){% endif %},
    {% if institution.organization %}
        {{ institution.organization | truncate(15, killwords=True, end='\u2026') }},
    {% endif %}
    {{ institution.country | country_name | truncate(15, killwords=True, end='\u2026') }}
{% endmacro %}

{% macro render_member_institution(member, part_truncate=100) %}
    {{ member.institution_name | abbr(part_truncate) }}{% if member.institution_department %} ({{ member.institution_department | abbr(part_truncate) }}){% endif %},
    {% if member.institution_organization %}
        {{ member.institution_organization | abbr(part_truncate) }},
    {% endif %}
    {{ member.institution_country | country_name | abbr(part_truncate) }}
{% endmacro %}
