{% macro render_institution_form(institution, countries) %}
    Institution name: <input type="text" name="institution_name" value="{{ institution.name }}" autofocus="autofocus" required="required" />
    <i>(e.g. Institute for Astronomy)</i>
    <br />
    Organization:
    <input type="text" name="organization" value="{{ institution.organization }}" />
    <i>(e.g. University of Anytown, if applicable)</i>
    <br />
    Address:
    <textarea name="address">{{ institution.address }}</textarea>
    <br />
    Country:
    <select name="country_code">
        {% for (country_code, country_name) in countries.items() %}
            <option value="{{ country_code }}" {{ 'selected="selected"' | safe if country_code == institution.country }}>{{ country_name }}</option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro render_institution_summary(institution) %}
    {{ institution.name }},
    {% if institution.organization %}
        {{ institution.organization }},
    {% endif %}
    {{ institution.country }}
{% endmacro %}
