{% from 'macro/institution.html' import render_member_institution %}

{% macro render_member_warning() %}
    <p class="caution">
        Adding members with permission to edit the proposal will
        grant them full access to the proposal.
    </p>

    <ul class="caution_detail">
        <li>
            All editors are able to edit the members list,
            including adding/removing people and changing the PI.
        </li>
        <li>
            This system does not (yet) guard against concurrent editing
            of part of a proposal.  You should coordinate edits with
            other members to avoid editing the same part at the same time.
        </li>
    </ul>
{% endmacro %}

{% macro render_proposal_members(proposal_id, members, show_admin_links=false, can_edit=false, with_extra_labels=false) %}
    <table>
        <tr>
            <th>Name</th>
            <th>Affiliation</th>
            <th>Institution</th>
            <th>Role</th>
        </tr>
        {% for member in members.values() %}
            <tr>
                <td>
                    {% if member.can_view %}
                        <a href="{{ url_for('people.person_view', person_id=member.person_id) }}">{{ member.person_name }}</a>
                    {% else %}
                        {{ member.person_name }}
                    {% endif %}
                </td>
                <td>
                    {{ member.affiliation_name }}
                    {% if show_admin_links %}
                        <nav>
                            <a href="{{ url_for('.member_affiliation_edit', proposal_id=proposal_id, member_id=member.id) }}" id="member_aff_ed_{{ member.id }}">edit</a>
                        </nav>
                    {% endif %}
                </td>
                <td>
                    {% if member.resolved_institution_id is not none %}
                        {% if show_admin_links %}
                            <a href="{{ url_for('people.institution_view', institution_id=member.resolved_institution_id) }}">{{ render_member_institution(member, part_truncate=20) }}</a>
                        {% else %}
                            {{ render_member_institution(member, part_truncate=20) }}
                        {% endif %}
                    {% elif can_edit and not member.person_registered %}
                        <a href="{{ url_for('people.person_edit_institution', person_id=member.person_id) }}">Select institution</a>
                    {% else %}
                        <i>Unknown institution</i>
                    {% endif %}
                    {% if show_admin_links %}
                        <nav>
                            <a href="{{ url_for('.member_institution_edit', proposal_id=proposal_id, member_id=member.id) }}" id="member_inst_ed_{{ member.id }}">edit</a>
                        </nav>
                    {% endif %}
                </td>
                <td>
                    {% if member.pi %}<span class="label">PI</span>{% endif %}
                    {% if with_extra_labels %}
                        {% if member.editor %}<span class="label volatile">editor</span>{% endif %}
                        {% if member.reviewer %}<span class="label">reviewer</span>{% endif %}
                        {% if member.observer%}<span class="label">observer</span>{% endif %}
                        {% if can_edit and not member.person_registered %}
                            <a href="{{ url_for('.member_reinvite', proposal_id=proposal_id, member_id=member.id) }}">Re-send invitation</a>
                        {% endif %}
                    {% endif %}
                </td>
           </tr>
        {% endfor %}
    </table>
{% endmacro %}
