{% macro render_main_menu(facility_name, navigation, show_person_proposals_callout, proposal_code) %}
    <li><a href="{{ url_for('home.home_page') }}">Home</a></li>
    <li class="callouttip">
        <a id="person_proposals_link" href="{{ url_for('people.person_proposals') }}">Your proposals</a>
        {% if show_person_proposals_callout %}
            <div>
                <p class="point_left">
                    Your proposal list
                </p>
                <p>
                    You can use your proposal list to return to
                    the proposal at any time.
                </p>
                <p class="point_right">
                    Proposal identifier: {{ proposal_code }}
                </p>
                <p>
                    This is your new proposal identifier.
                    When you are editing part of your proposal,
                    click this to return to the main proposal view
                    (abandoning any unsaved changes).
                    You can also use your browser&rsquo;s back button.
                </p>
                <p>
                    Please mention the proposal identifier if you need
                    to contact us about your proposal.
                </p>
                <p>
                    <a id="callout_dismiss">OK</a>
                </p>
            </div>
        {% endif %}
    </li>
    <li>
        <a id="person_reviews_link" href="{{ url_for('people.person_reviews') }}">Your reviews</a>
    </li>
    {% if facility_name is defined %}
        <li><a href="{{ url_for('.facility_home') }}">{{ facility_name }}</a></li>
    {% endif %}
    {% if navigation is defined %}
        {% for navitem in navigation %}
            {% if navitem == 'facility_admin' %}
                <li><a href="{{ url_for('.facility_admin') }}">Administrative menu</a></li>
            {% elif navitem == 'site_admin' %}
                <li><a href="{{ url_for('admin.admin_home') }}">Site administration</a></li>
            {% elif navitem == 'people' %}
                <li><a href="{{ url_for('people.person_list') }}">User Directory</a></li>
            {% elif navitem == 'help' %}
                <li><a href="{{ url_for('help.help_index') }}">Help contents</a></li>
            {% elif navitem is not string %}
                {% with name=navitem[0], url=navitem[1] %}
                    {% if url is none %}
                        <li>{{ name }}</li>
                    {% else %}
                        <li><a href="{{ url }}">{{ name }}</a></li>
                    {% endif %}
                {% endwith %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}
