{% macro render_main_menu(facility_name, navigation, show_person_proposals_callout) %}
    <li><a href="{{ url_for('home_page') }}">Home</a></li>
    <li class="callouttip">
        <a id="person_proposals_link" href="{{ url_for('person_proposals') }}">Your proposals</a>
        {% if show_person_proposals_callout %}
            <div>
                <p>
                    Your proposal list
                </p>
                <p>
                    You can use your proposal list to return to
                    the proposal at any time.
                </p>
                <p>
                    <a id="callout_dismiss">OK</a>
                </p>
            </div>
        {% endif %}
    </li>
    {% if facility_name is defined %}
        <li><a href="{{ url_for('.facility_home') }}">{{ facility_name }}</a></li>
    {% endif %}
    {% if navigation is defined %}
        {% for navitem in navigation %}
            {% if navitem == 'facility_admin' %}
                <li><a href="{{ url_for('.facility_admin') }}">Administrative menu</a></li>
            {% elif navitem == 'people' %}
                <li><a href="{{ url_for('.person_list') }}">User Directory</a></li>
            {% elif navitem == 'help' %}
                <li><a href="{{ url_for('.help_index') }}">Help contents</a></li>
            {% elif navitem is not string %}
                {% with name=navitem[0], url=navitem[1] %}
                    <li><a href="{{ url }}">{{ name }}</a></li>
                {% endwith %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}
