{% macro render_proposal_pdf(pdf, target, proposal_id) %}
    {% if pdf.state is attachment_ready %}
        {% for page in range(1, pdf.pages + 1) %}
            <p>
                <img src="{{ url_for(target, proposal_id=proposal_id, page=page) }}" class="pdf_preview" />
            </p>
        {% endfor %}
    {% elif pdf.state is attachment_error %}
        <p class="warning">
            The uploaded PDF file could not be processed.
        </p>
    {% else %}
        <p class="not_present">
            The uploaded PDF file has not yet been processed.
        </p>
    {% endif %}
{% endmacro %}
