{% macro render_proposal_summary(facility_name, facility_call_type_class, proposal, proposal_code, abstract=none, categories=none, include_decision=true, can_edit_decision=false, without_basic_info=false) %}
    <table>
        {% if not without_basic_info %}
        <tr>
            <th>Facility</th>
            <td>{{ facility_name }}</td>
        </tr>
        <tr>
            <th>Semester</th>
            <td>{{ proposal.semester_name }}</td>
        </tr>
        <tr>
            <th>Queue</th>
            <td>{{ proposal.queue_name }}</td>
        </tr>
        <tr>
            <th>Call type</th>
            <td>{{ proposal.call_type | call_type_name(facility_call_type_class) }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Proposal identifier</th>
            <td>
                <a href="{{ url_for('.proposal_view', proposal_id=proposal.id) }}">{{ proposal_code }}</a>
            </td>
        </tr>
        <tr>
            <th>Proposal status</th>
            <td>{{ proposal.state | proposal_state_name }}</td>
        </tr>
        {% if include_decision and (can_edit_decision or (proposal.decision_accept is not none)) %}
        <tr>
            <th>Decision</th>
            <td>

                {% if can_edit_decision %}<a href="{{ url_for('.proposal_decision', proposal_id=proposal.id, referrer='pr') }}">{% endif %}
                {% if proposal.decision_accept is none %}
                    Undecided
                {% elif proposal.decision_accept %}
                    Accept
                {% else %}
                    Reject
                {% endif %}
                {% if can_edit_decision %}</a>{% endif %}
                {% if proposal.decision_exempt %}
                    <span class="label">exempt</span>
                {% endif %}
                {% if proposal.decision_ready %}
                    <span class="label">ready</span>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        <tr>
            <th>Proposal title</th>
            <td>{{ proposal.title }}</td>
        </tr>
        {% if proposal.member is not none %}
            <tr>
                <th>Proposal PI</th>
                <td>
                    {% if proposal.member.can_view %}
                        <a href="{{ url_for('people.person_view', person_id=proposal.member.person_id) }}">{{ proposal.member.person_name }}</a>
                    {% else %}
                        {{ proposal.member.person_name }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if caller is defined %}
            {{ caller() }}
        {% endif %}
    </table>

    {% if abstract %}
        {{ abstract | format_text }}
    {% endif %}

    {% if categories %}
        <p>
            {% for category in categories.values() %}
                <span class="label">{{ category.category_name }}</span>
            {% endfor %}
        </p>
    {% endif %}
{% endmacro %}
