{% from 'macro/institution.html' import render_member_institution %}

{% macro render_proposal_summary(facility_name, proposal, proposal_code, can_edit) %}
    <p>
        Proposal for:
        {{ facility_name }}
        /
        {{ proposal.semester_name }}
        /
        {{ proposal.queue_name }}
        <br />
        Proposal identifier:
        {{ proposal_code }}
    </p>

    {% if can_edit %}
        <p>
            <a href="{{ url_for('.title_edit', proposal_id=proposal.id) }}">Edit title</a>
        </p>
    {% endif %}
{% endmacro %}

{% macro render_proposal_members(proposal, can_edit) %}
    <h2>Members</h2>

    <table>
        <tr>
            <th>Name</th>
            <th>Affiliation</th>
            <th>Institution</th>
            <th>Information</th>
        </tr>
        {% for member in proposal.members %}
            <tr>
                <td>
                    {% if session.is_admin or member.person_public or (can_edit and not member.person_registered) %}
                        <a href="{{ url_for('people.person_view', person_id=member.person_id) }}">{{ member.person_name }}</a></td>
                    {% else %}
                        {{ member.person_name }}
                    {% endif %}
                <td>{{ member.affiliation_name }}</td>
                <td>
                    {% if member.resolved_institution_id is not none %}
                        {% if session.is_admin %}
                            <a href="{{ url_for('people.institution_view', institution_id=member.resolved_institution_id) }}">{{ render_member_institution(member) }}</a>
                        {% else %}
                            {{ render_member_institution(member) }}
                        {% endif %}
                    {% elif can_edit and not member.person_registered %}
                        <a href="{{ url_for('people.person_edit_institution', person_id=member.person_id) }}">Select institution</a>
                    {% else %}
                        <i>Unknown institution</i>
                    {% endif %}
                </td>
                <td>
                    {% if member.pi %}PI{% endif %}
                    {% if member.editor %}Editor{% endif %}
                    {% if member.observer%}Observer{% endif %}
                </td>
           </tr>
        {% endfor %}
    </table>

    {% if can_edit %}
    <p>
        <a href="{{ url_for('.member_add', proposal_id=proposal.id) }}">Add member</a>
        <br />
        <a href="{{ url_for('.member_edit', proposal_id=proposal.id) }}">Edit members</a>
    </p>
    {% endif %}
{% endmacro %}
