{% macro render_user_panel() %}
{% if session.user_id is defined %}
    Logged in as
    {% if session.person is defined %}
        <a id="user_profile_link" href="{{ url_for('people.person_view', person_id=session.person.id) }}">{{ session.person.name }}</a>
        {% if session.is_admin is defined %}
            &mdash;
            <a id="drop_admin_link" href="{{ url_for('people.drop_admin') }}">drop admin</a>
        {% elif session.person.admin %}
            &mdash;
            <a id="take_admin_link" href="{{ url_for('people.take_admin') }}">take admin</a>
        {% endif %}
    {% else %}
        &ldquo;User {{ session.user_id }}&rdquo;
        &mdash;
        <a href="{{ url_for('people.register_person') }}">create profile</a>
    {% endif %}
    &mdash;
    <a id="log_out_link" href="{{ url_for('people.log_out') }}">log out</a>
{% else %}
    <a id="log_in_link" href="{{ url_for('people.log_in') }}">Log in</a>
{% endif %}
{% endmacro %}
