{% macro render_user_panel(current_user) %}
{% if current_user.user is not none %}
    Logged in as
    {% if current_user.person is not none %}
        <a id="user_profile_link" href="{{ url_for('people.person_view', person_id=current_user.person.id) }}">{{ current_user.person.name }}</a>
        {% if current_user.is_admin %}
            &mdash;
            <a id="drop_admin_link" href="{{ url_for('people.drop_admin') }}">drop admin</a>
        {% elif current_user.person.admin %}
            &mdash;
            <a id="take_admin_link" href="{{ url_for('people.take_admin') }}">take admin</a>
        {% endif %}
    {% else %}
        &ldquo;User {{ current_user.user.id }}&rdquo;
        &mdash;
        <a href="{{ url_for('people.register_person') }}">create profile</a>
    {% endif %}
    &mdash;
    <a id="log_out_link" href="{{ url_for('people.log_out') }}">log out</a>
{% else %}
    <a id="log_in_link" href="{{ url_for('people.log_in') }}">Log in</a>
{% endif %}
{% endmacro %}
