{% extends 'layout.html' %}

{% block content %}
<nav>
    <p>
        <a href="{{ url_for('home_page') }}">Back to home page</a>
    </p>
</nav>

<ul>
    <li><a href="{{ url_for('.message_list') }}">Email messages</a></li>
    <li><a href="{{ url_for('people.institution_log_approval') }}">Approve institution edits</a></li>
    <li><a href="{{ url_for('.processing_status') }}">View processing status</a></li>
</ul>

<h2>Facility Administrative Menus</h2>

<ul>
    {% for facility in facilities %}
        <li><a href="{{ url_for(facility.code | fmt('{}.facility_admin')) }}">{{ facility.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
