{% extends 'layout.html' %}
{% set help_link=url_for('help.admin_page', page_name='site_menu') %}

{% block content %}
<nav>
    <ol class="fa-ul">
        <li><a href="{{ url_for('home.home_page') }}"><span class="fa-li"><span class="fa-solid fa-house"></span></span>Back to home page</a></li>
    </ol>
</nav>

<ol class="fa-ul">
    <li><a href="{{ url_for('.message_list') }}"><span class="fa-li"><span class="fa-solid fa-envelope"></span></span>Email messages</a></li>
    <li><a href="{{ url_for('people.institution_log_approval') }}"><span class="fa-li"><span class="fa-solid fa-building-columns"></span></span>Approve institution edits</a></li>
    <li><a href="{{ url_for('.processing_status') }}"><span class="fa-li"><span class="fa-solid fa-gear"></span></span>View processing status</a></li>
    <li><a href="{{ url_for('.request_status') }}"><span class="fa-li"><span class="fa-solid fa-user-gear"></span></span>View user request status</a></li>
    <li><a href="{{ url_for('.user_unregistered') }}"><span class="fa-li"><span class="fa-solid fa-user-xmark"></span></span>Unregistered users</a></li>
    <li><a href="{{ url_for('people.user_session_list') }}"><span class="fa-li"><span class="fa-solid fa-users"></span></span>User log in sessions</a></li>
</ol>

<h2>Site Groups</h2>

<ul>
    {% for (site_group_type, site_group_name) in site_groups.items() %}
        <li>
            <a href="{{ url_for('.site_group_view', site_group_type=site_group_type) }}">{{ site_group_name }}</a>
        </li>
    {% endfor %}
</ul>

<h2>Facility Administrative Menus</h2>

<ul>
    {% for facility in facilities.values() %}
        <li><a href="{{ url_for(facility.code | fmt('{}.facility_admin')) }}">{{ facility.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
