{% extends 'layout.html' %}
{% set help_link=url_for('help.admin_page', page_name='site_menu') %}

{% block content %}
<nav>
    <ol>
        <li><a href="{{ url_for('home.home_page') }}">Back to home page</a></li>
    </ol>
</nav>

<ul>
    <li><a href="{{ url_for('.message_list') }}">Email messages</a></li>
    <li><a href="{{ url_for('people.institution_log_approval') }}">Approve institution edits</a></li>
    <li><a href="{{ url_for('.processing_status') }}">View processing status</a></li>
    <li><a href="{{ url_for('.request_status') }}">View user request status</a></li>
    <li><a href="{{ url_for('.user_unregistered') }}">Unregistered users</a></li>
    <li><a href="{{ url_for('people.user_session_list') }}">User log in sessions</a></li>
</ul>

<h2>Site Groups</h2>

<ul>
    {% for (site_group_type, site_group_name) in site_groups.items() %}
        <li>
            <a href="{{ url_for('.site_group_view', site_group_type=site_group_type) }}">{{ site_group_name }}</a>
        </li>
    {% endfor %}
</ul>

<h2>Facility Administrative Menus</h2>

<ul>
    {% for facility in facilities.values() %}
        <li><a href="{{ url_for(facility.code | fmt('{}.facility_admin')) }}">{{ facility.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
