{% extends 'layout.html' %}
{% set navigation = ['site_admin'] %}

{% block content %}
<table>
    <tr>
        <th>Status</th>
        <th>Date (UT)</th>
        <th>Subject</th>
    </tr>
    {% for message in messages %}
    <tr>
        <td>
            {{ message.state }}
        </td>
        <td>{{ message.date | format_datetime }}</td>
        <td><a href="{{ url_for('.message_view', message_id=message.id) }}">{{ message.subject }}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
