{% extends 'layout.html' %}
{% set navigation = ['site_admin'] %}
{% set help_link=url_for('help.admin_page', page_name='messages') %}

{% block content %}
<form method="GET" action="{{ url_for('.message_list') }}">
    <p>
        <select name="state">
            <option value="" {{ 'selected="selected"' | safe if current_state is none }}>Any status</option>
            {% for (state_num, state_name) in states.items() %}
                <option value="{{ state_num }}" {{ 'selected="selected"' | safe if current_state == state_num}}>{{ state_name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Filter" />
        {% for (param, param_val) in form_params.items() %}
            <input type="hidden" name="{{ param }}" value="{{ param_val }}" />
        {% endfor %}
    </p>
</form>

{% if messages %}
    {% set update_counter = create_counter(0) %}
    <form method="POST" action="{{ url_for('.message_list') }}">
        <table>
            <tr>
                <th>Status</th>
                <th>Date (UT)</th>
                <th>Subject</th>
                <th>Update?</th>
            </tr>
            {% for message in messages %}
            <tr>
                <td>
                    {{ message.state | message_state_name }}
                </td>
                <td>{{ message.date | format_datetime }}</td>
                <td><a href="{{ url_for('.message_view', message_id=message.id) }}">{{ message.subject }}</a></td>
                <td>
                    {% if message.state is message_state_active %}
                        <input type="checkbox" name="{{ message.id | fmt('message_{}') }}" value="1" id="{{ update_counter() | fmt('update_box_{}') }}" />
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>

        {% if update_counter() > 0 %}
            <p>
                <select name="state_new">
                    {% for (state_num, state_name) in states_settable.items() %}
                        <option value="{{ state_num }}" >{{ state_name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" name="submit" value="Set state of marked entries" />
                {% for (param, param_val) in set_form_params.items() %}
                    <input type="hidden" name="{{ param }}" value="{{ param_val }}" />
                {% endfor %}
            </p>
        {% endif %}
    </form>
{% else %}
    <p class="not_present">
        No messages match filter parameters.
    </p>
{% endif %}

<nav>
    <p>
        {% if target_first is not none %}
            <a href="{{ target_first }}">First page</a>
        {% endif %}
        {% if target_next is not none %}
            <a href="{{ target_next }}">Next page</a>
        {% endif %}
    </p>
</nav>
{% endblock %}
