{% extends 'layout_wide.html' %}
{% set navigation = ['site_admin'] %}
{% set help_link=url_for('help.admin_page', page_name='processing_status') %}

{% set update_counter = create_counter(0) %}

{% macro processing_table(entries, checkbox_fmt, id_field, is_review=False) %}
    {% if entries %}
        <table>
            <tr>
                <th>State</th>
                <th>Date (UT)</th>
                <th>Proposal</th>
                {% if is_review %}
                    <th>Review</th>
                    <th>Review state</th>
                {% else %}
                    <th>Proposal state</th>
                    <th>Section</th>
                {% endif %}
                <th>Uploader</th>
                <th>File</th>
                <th>MD5 sum</th>
                <th>Update?</th>
            </tr>
            {% for entry in entries %}
                <tr>
                    <td class="{{ entry.state | attachment_state_class }}">{{ entry.state | attachment_state_name }}</td>
                    <td>{{ entry.uploaded | format_datetime }}</td>
                    <td><a href="{{ url_for(entry.facility_code | fmt('{}.proposal_view'), proposal_id=entry.proposal.id) }}">{{ entry.proposal.code }}</a></td>
                    {% if is_review %}
                        <td><a href="{{ url_for(entry.facility_code | fmt('{}.review_edit'), reviewer_id=entry.reviewer.id) }}">{{ entry.reviewer.role | reviewer_role_name(entry.reviewer_roles) }}</a></td>
                        <td>{{ entry.reviewer.review_state | review_state_name }}</td>
                    {% else %}
                        <td>{{ entry.proposal.state | proposal_state_name }}</td>
                        <td>{{ entry.role | text_role_name(entry.text_roles) }}</td>
                    {% endif %}
                    <td><a href="{{ url_for('people.person_view', person_id=entry.uploader) }}">{{ entry.uploader_name }}</a></td>
                    <td>{{ caller(entry) }}</td>
                    <td>{{ entry.md5sum }}</td>
                    <td class="control_center">
                        {% if entry.state is attachment_new %}
                            &nbsp;
                        {% else %}
                            <input type="checkbox" name="{{ entry[id_field] | fmt(checkbox_fmt) }}" value="1" id="{{ update_counter() | fmt('update_box_{}') }}" />
                            <input type="hidden" name="prev_{{ entry[id_field] | fmt(checkbox_fmt) }}" value="{{ entry.state }}" />
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class="not_present">
            All files appear to be ready.
        </p>
    {% endif %}
{% endmacro %}

{% block content %}
<form method="POST" action="{{ url_for('.processing_status') }}">
    <h2>PDF Files</h2>

    {% call(entry) processing_table(pdfs, 'pdf_{}', 'pdf_id') %}
        <a href="{{ url_for(entry.facility_code | fmt('{}.case_view_pdf'), proposal_id=entry.proposal.id, role=entry.role, md5sum=entry.md5sum) }}">{{ entry.filename }}</a>
    {% endcall %}

    <h2>Proposal Figures</h2>

    {% call(entry) processing_table(prop_figures, 'prop_fig_{}', 'fig_id') %}
        <a href="{{ url_for(entry.facility_code | fmt('{}.case_view_figure'), proposal_id=entry.proposal.id, role=entry.role, fig_id=entry.id, md5sum=entry.md5sum) }}">{{ entry.filename }}</a>
    {% endcall %}

    <h2>Review Figures</h2>

    {% call(entry) processing_table(rev_figures, 'rev_fig_{}', 'fig_id', is_review=True) %}
        <a href="{{ url_for(entry.facility_code | fmt('{}.review_view_figure'), reviewer_id=entry.reviewer.id, fig_id=entry.id, md5sum=entry.md5sum) }}">{{ entry.filename }}</a>
    {% endcall %}

    <h2>Publications</h2>

    {% if pubs %}
        <table>
            <tr>
                <th>State</th>
                <th>Date (UT)</th>
                <th>Proposal</th>
                <th>Proposal state</th>
                <th>Type</th>
                <th>Publication</th>
                <th>Update?</th>
            <tr>
            {% for pub in pubs %}
                <tr>
                    <td class="{{ pub.state | attachment_state_class }}">{{ pub.state | attachment_state_name }}</td>
                    <td>{{ pub.edited | format_datetime }}</td>
                    <td><a href="{{ url_for(pub.facility_code | fmt('{}.proposal_view'), proposal_id=pub.proposal_id) }}">{{ pub.proposal.code }}</a></td>
                    <td>{{ pub.proposal.state | proposal_state_name }}</td>
                    <td>{{ pub.type | publication_type_name }}</td>
                    <td>{{ pub.description }}</td>
                    <td class="control_center">
                        {% if pub.state is attachment_new %}
                            &nbsp;
                        {% else %}
                            <input type="checkbox" name="{{ pub.id | fmt('pub_{}') }}" value="1" id="{{ update_counter() | fmt('update_box_{}') }}" />
                            <input type="hidden" name="{{ pub.id | fmt('prev_pub_{}') }}" value="{{ pub.state }}" />
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class="not_present">
            All publications appear to be ready.
        </p>
    {% endif %}

    <h2>Coverage Maps</h2>

    {% if mocs %}
        <table>
            <tr>
                <th>State</th>
                <th>Date (UT)</th>
                <th>Name</th>
                <th>Update?</th>
            </tr>
            {% for moc in mocs %}
                    <tr>
                    <td class="{{ moc.state | attachment_state_class }}">{{ moc.state | attachment_state_name }}</td>
                    <td>{{ moc.uploaded | format_datetime }}</td>
                    <td><a href="{{ url_for(moc.facility_code | fmt('{}.tool_clash_moc_edit'), moc_id=moc.id) }}">{{ moc.name }}</a></td>
                    <td class="control_center">
                        {% if moc.state is attachment_new %}
                            &nbsp;
                        {% else %}
                            <input type="checkbox" name="{{ moc.id | fmt('moc_{}') }}" value="1" id="{{ update_counter() | fmt('update_box_{}') }}" />
                            <input type="hidden" name="{{ moc.id | fmt('prev_moc_{}') }}" value="{{ moc.state }}" />
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class="not_present">
            All coverage maps appear to be ready.
        </p>
    {% endif %}

    {% if update_counter() > 0 %}
        <p>
            <select name="state_new">
                {% for (state_num, state_name) in states_allowed.items() %}
                    <option value="{{ state_num }}">{{ state_name }}</option>
                {% endfor %}
            </select>
            <input type="submit" name="submit" value="Set state of marked entries" />
        </p>
    {% endif %}
</form>
{% endblock %}
