{% extends 'layout.html' %}
{% set navigation=['site_admin'] %}
{% set help_link=url_for('help.admin_page', page_name='user') %}

{% block content %}
{% if users %}
    <ul>
        <li>
            The following list shows user accounts which have been created but
            do not have profiles attached.
        </li>
    </ul>

    <form method="POST" action="{{ url_for('.user_unregistered') }}">
        <table>
            <tr>
                <th>User name</th>
                <th>Registered (UT)</th>
                <th>Delete?</th>
            </tr>
            {% for user in users.values() %}
                <tr>
                    <td><a href="{{ url_for('people.user_log', user_id=user.id) }}">{{ user.name }}</a></td>
                    <td>
                        {% if user.event is not none %}
                            {{ user.event.date | format_datetime }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td><input type="checkbox" name="{{ user.id | fmt('user_{}') }}" value="1" /></td>
                </tr>
            {% endfor %}
        </table>

        <p>
            <input type="submit" name="submit" value="Delete marked entries" />
        </p>
    </form>
{% else %}
    <p class="not_present">
        There are no user accounts without profiles.
    </p>
{% endif %}
{% endblock %}
