{% macro render_request_display(requests) %}
    <table>
        <tr>
            <th>Instrument</th>
            {% for column in requests.columns.values() %}
                <th>{{ column }}</th>
            {% endfor %}
            <th>Total</th>
        </tr>
        {% for (row_id, row_name) in requests.rows.items() %}
            <tr>
                <th>{{ row_name }}</th>
                {% for column_id in requests.columns.keys() %}
                    <td>{{ requests.table[row_id][column_id] | fmt('{:g}') }}</td>
                {% endfor %}
                <td class="total">{{ requests.table[row_id][none] | fmt('{:g}' )}}</td>
            </tr>
        {% endfor %}
        {% if none in requests.table %}
            <tr>
                <th>Total</th>
                {% for column_id in requests.columns.keys() %}
                    <td class="total">{{ requests.table[none][column_id] | fmt('{:g}') }}</td>
                {% endfor %}
                <td class="grandtotal">{{ requests.table[none][none] | fmt('{:g}') }}</td>
            </tr>
        {% endif %}
    </table>
{% endmacro %}

{% macro render_request_table(requests, instruments, weathers, description='request') %}
    {% set new_counter = create_counter(1) %}
    <table id="requests">
        <tr>
            <th>Instrument</th>
            <th>
                Weather band
                <div class="formtip">
                    <div>
                        <p>
                            Observing time at the JCMT is scheduled in
                            5 weather &ldquo;bands&rdquo;
                            based on the atmospheric opacity at 225 GHz.
                        </p>
                        <p>
                            <a href="https://www.eaobservatory.org/jcmt/observing/weather-bands/" target="_blank">Weather band information</a>
                        </p>
                    </div>
                </div>
            </th>
            <th>Time</th>
            <th>Actions</th>
        </tr>
        {% for request in requests.values() %}
            {% if request.id is none %}
                {% set request_id = (new_counter() | fmt('new_{}')) %}
            {% else %}
                {% set request_id = request.id %}
            {% endif %}
            <tr id="requestrow_{{ request_id }}">
                <td>
                    <select name="instrument_{{ request_id }}">
                        {% for instrument_id, instrument_name in instruments.items() %}
                            <option value="{{ instrument_id | fmt('{}_{}') }}" {{ 'selected="selected"' | safe if instrument_id == (request.instrument, request.ancillary) }}>{{ instrument_name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="weather_{{ request_id }}">
                        {% for weather_id, weather_info in weathers.items() %}
                            <option value="{{ weather_id }}" {{ 'selected="selected"' | safe if weather_id == request.weather }}>
                                {{ weather_info.name }}:
                                {% if weather_info.min is not none %}
                                    {{ weather_info.min }} &lt;
                                {% endif %}
                                &tau;&#x2082;&#x2082;&#x2085;
                                {% if weather_info.max is not none %}
                                    &le; {{ weather_info.max }}
                                {% endif %}
                            </option>
                        {% endfor %}
                    </select>
                </td>
                <td><input type="number" min="0" step="any" name="time_{{ request_id }}" value="{{ request.time }}" /> hours</td>
                <td><input type="button" id="delete_{{ request_id }}" value="Delete" />
            </tr>
        {% endfor %}
    </table>
    <table id="requesttable_template" class="template" data-newcounter="{{ new_counter() }}">
        <tr id="requestrow_template">
            <td>
                <select name="instrument">
                    {% for instrument_id, instrument_name in instruments.items() %}
                        <option value="{{ instrument_id | fmt('{}_{}') }}">{{ instrument_name }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select name="weather">
                    {% for weather_id, weather_info in weathers.items() %}
                        <option value="{{ weather_id }}">
                            {{ weather_info.name }}:
                            {% if weather_info.min is not none %}
                                {{ weather_info.min }} &lt;
                            {% endif %}
                            &tau;&#x2082;&#x2082;&#x2085;
                            {% if weather_info.max is not none %}
                                &le; {{ weather_info.max }}
                            {% endif %}
                        </option>
                    {% endfor %}
                </select>
            </td>
            <td><input type="number" min="0" step="any" name="time" /> hours</td>
            <td><input type="button" id="delete_template" value="Delete" />
        </tr>
    </table>

    <p>
        <input type="button" id="add_request" value="Add {{ description }}" />
    </p>
{% endmacro %}

{% macro render_request_options(options, option_values) %}
    <ol>
        {% for (option, option_name) in options.items() %}
        <li>
            <input type="checkbox" name="option_{{ option }}" {{ 'checked="checked"' | safe if option_values[option] }} />
            <span class="checkboxlabel">{{ option_name }}</span>
            {% if option == 'target_of_opp' %}
                <div class="formtip">
                    <div>
                        <p>
                            Please select this option if your proposal involves
                            observations of a certain class of phenomena
                            when a triggering event occurs.
                            The targets for this kind of observation are
                            generally not known in advance.
                        </p>
                        <p>
                            <a href="https://www.eaobservatory.org/jcmt/observing/guidelines-for-flexible-observing/#target_of_opp" target="_blank">Flexible observing guidelines for targets of opportunity</a>
                        </p>
                    </div>
                </div>
            {% elif option == 'time_specific' %}
                <div class="formtip">
                    <div>
                        <p>
                            This option applies when you wish to observe
                            an event which is expected to occur at a given
                            time.
                            Generally the targets and times should be
                            known in advance and included in your proposal.
                        </p>
                        <p>
                            Examples might include perihelion of comets
                            or planetary transits.
                        </p>
                    </div>
                </div>
            {% endif %}
        </li>
        {% endfor %}
    </ol>
{% endmacro %}

{% macro render_request_options_display(options) %}
    {% if options %}
        <p>
            {% for option in options %}
                <span class="label">{{ option }}</span>
            {% endfor %}
        </p>
    {% endif %}
{% endmacro %}
