{% macro render_ext_review_question(code) %}
    {% with questions = {
                'jcmt_review_aims': 'How do you rate the scientific aims of the proposal?',
                'jcmt_review_goals': 'Are there conflicting / confusing goals?',
                'jcmt_review_difficulties': 'Have the potential difficulties been raised and discussed?',
                'jcmt_review_details': 'Are the details of the program dealt with / understood?',
                'jcmt_review_obj_inst': 'Are the selected target objects the best choice for the proposal?',
                'jcmt_review_telescope': 'Does the selected telescope / wavelength / instrument best address the science goals of the proposal?',
            } %}
        {% if code in questions %}
            {{ questions[code] }}
        {% else %}
            Unknown question.
        {% endif %}
    {% endwith %}
{% endmacro %}

{% macro render_review_rating(review, default=('&nbsp;' | safe)) %}
    {% if not review.can_view_rating %}
        {{ default }}
    {% elif review.review_rating is not none %}
        {{ review.review_rating }}
    {% elif review.review_extra.peer_rating is not none %}
        {{ review.review_extra.peer_rating | jcmt_peer_rating_name }}
    {% else %}
        {{ default }}
    {% endif %}
{% endmacro %}

{% macro render_review_expertise(review, default=('&nbsp;' | safe )) %}
        {% if not review.can_view_rating %}
            {{ default }}
        {% elif review.review_extra.expertise is not none %}
            {{ review.review_extra.expertise | jcmt_expertise_name }}
        {% elif review.review_extra.peer_expertise is not none %}
            {{ review.review_extra.peer_expertise | jcmt_peer_expertise_short_name }}
        {% else %}
            {{ default }}
        {% endif %}
{% endmacro %}
