{% macro render_ext_review_question(code) %}
    {% with questions = {
                'jcmt_review_aims': 'How do you rate the scientific aims of the proposal?',
                'jcmt_review_goals': 'Are there conflicting / confusing goals?',
                'jcmt_review_difficulties': 'Have the potential difficulties been raised and discussed?',
                'jcmt_review_details': 'Are the details of the program dealt with / understood?',
                'jcmt_review_obj_inst': 'Are the target objects, coordinates and instrumentation correct?',
                'jcmt_review_telescope': 'Does the selected telescope / wavelength / instrument best address the science goals of the proposal?',
            } %}
        {% if code in questions %}
            {{ questions[code] }}
        {% else %}
            Unknown question.
        {% endif %}
    {% endwith %}
{% endmacro %}
