{% extends "layout.html" %}

{% block content %}

{% if message is not none %}
    <p>
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ url_for('change_password') }}">
    <p>
        Current password:
        <input type="password" name="password" />
        <br />
        New password:
        <input type="password" name="password_new" />
        <br />
        Re-enter password:
        <input type="password" name="password_check" />
        <br />
        <input type="submit" value="Change password" name="submit" />
    </p>
</form>

{% endblock %}
