{% extends "layout.html" %}

{% set no_help_link=1 %}

{% block content %}

<h1>{{ application_name }}</h1>

<h2 class="subtitle">Proposal Submission System</h2>

<div id="facilities">
    {% for facility in facilities.values() %}
        <div>
            <a href="{{ url_for(facility.code + '.facility_home') }}">
                <img src="{{ url_for('static', filename='image/facility_' + facility.code +'.jpeg') }}" />
                <br />
                <span>{{ facility.name }}</span>
            </a>
        </div>
    {% endfor %}
</div>

<nav>
    <ol class="fa-ul">
        <li><a href="{{ url_for('people.invitation_token_enter') }}"><span class="fa-li"><span class="fa-solid fa-envelope-open-text"></span></span>Enter an invitation code</a></li>
        <li><a href="{{ url_for('help.help_index') }}"><span class="fa-li"><span class="fa-solid fa-circle-info"></span></span>Help and information</a></li>
        {% if show_admin_links %}
            <li><a href="{{ url_for('admin.admin_home') }}"><span class="fa-li"><span class="fa-solid fa-shield-halved"></span></span>Site administration</a>
        {% endif %}
    </ol>
</nav>

{% endblock %}
