{% extends "layout.html" %}

{% set no_help_link=1 %}

{% block content %}

<h1>{{ application_name }}</h1>

<h2 class="subtitle">Proposal Submission System</h2>

<div id="facilities">
    {% for facility in facilities %}
        <div>
            <a href="{{ url_for(facility.code + '.facility_home') }}">
                <img src="{{ url_for('static', filename='image/facility_' + facility.code +'.jpeg') }}" />
                <br />
                <span>{{ facility.name }}</span>
            </a>
        </div>
    {% endfor %}
</div>

<nav>
    <ul>
        <li><a href="{{ url_for('people.invitation_token_enter') }}">Enter an invitation code</a></li>
        <li><a href="{{ url_for('help.help_index') }}">Help and information</a></li>
    </ul>
</nav>

{% endblock %}
