<!DOCTYPE html>

{% from 'macro/user_control.html' import render_user_panel %}
{% from 'macro/flash.html' import render_flashes %}

<html lang="en">
    <head>
        <title>{{ application_name }}{% if title is defined %}: {{ title }}{% endif %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
        {% if scripts is defined %}
           <script type="text/javascript" src="/static/js/jquery.js"></script>
           {% for script in scripts %}
               <script type="text/javascript" src="/static/js/{{ script }}.js"></script>
           {% endfor %}
        {% endif %}
    </head>
    <body>
        {{ render_user_panel() }}
        {{ render_flashes() }}

        {% block body %}
            {% if title is defined %}
                <h1>{{ title }}</h1>
            {% endif %}

            {% block content %}
            {% endblock %}
        {% endblock %}
    </body>
</html>
