<!DOCTYPE html>

{% from 'macro/user_control.html' import render_user_panel %}
{% from 'macro/flash.html' import render_flashes %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ application_name }}{% if title is defined %}: {{ title }}{% endif %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nonprint.css') }}" media="not print" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/print.css') }}" media="print" type="text/css" />
        {% if scripts is defined %}
           <script type="text/javascript" src="/static/js/jquery.js"></script>
           {% for script in scripts %}
               <script type="text/javascript" src="/static/js/{{ script }}.js"></script>
           {% endfor %}
        {% endif %}
    </head>
    <body>
        <header>
            <ul id="navbar">
                <li><a href="{{ url_for('home_page') }}">Home</a></li>
                <li><a href="{{ url_for('people.invitation_token_enter') }}">Invitation</a></li>
                {% if facility_name is defined %}
                    <li><a href="{{ url_for('.facility_home') }}">{{ facility_name }}</a></li>
                {% endif %}
                <li id="user_control">
                    {{ render_user_panel() }}
                </li>
            </ul>
            {{ render_flashes() }}
        </header>

        {% block body %}
            <div id="content">
                {% if title is defined %}
                    <h1>{{ title }}</h1>
                {% endif %}

                {% block content %}
                {% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
