<!DOCTYPE html>

{% from 'macro/user_control.html' import render_user_panel %}
{% from 'macro/flash.html' import render_flashes %}
{% from 'macro/menu.html' import render_main_menu %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ application_name }}{% if title is defined %}: {{ title }}{% endif %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nonprint.css') }}" media="not print" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/print.css') }}" media="print" type="text/css" />
        {% if stylesheets is defined %}
           {% for stylesheet in stylesheets %}
                <link rel="stylesheet" href="{{ url_for('static', filename='css/' + stylesheet + '.css') }}" type="text/css" />
           {% endfor %}
        {% endif %}
        {% if scripts is defined %}
           <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
           {% for script in scripts %}
               <script type="text/javascript" src="{{ url_for('static', filename='js/' + script + '.js' ) }}"></script>
           {% endfor %}
        {% endif %}
        <meta name="theme-color" content="#040" />
    </head>
    <body>
        <header>
            <ul id="navbar">
                {{ render_main_menu(facility_name, navigation, show_person_proposals_callout, proposal_code) }}
                <li id="user_control">
                    {{ render_user_panel(current_user) }}
                    {% if help_link is defined %}
                        <a class="help_link" href="{{ help_link }}" target="_blank">Help</a>
                    {% else %}
                        <a class="help_link" href="{{ url_for('help.help_index') }}" target="_blank">Help</a>
                    {% endif %}
                </li>
            </ul>
            {{ render_flashes() }}
        </header>

        {% if application_status_notice %}
            <p id="status_notice">{{ application_status_notice }}</p>
        {% endif %}

        {% block body %}
            {% if content_class is defined %}
                <div id="content" class="{{ content_class }}">
            {% else %}
                <div id="content">
            {% endif %}
                {% block content_header %}
                {% endblock %}

                {% if title is defined %}
                    <h1>{{ title }}</h1>
                {% endif %}

                {% block content %}
                {% endblock %}

            </div>
        {% endblock %}

        <footer>
            <ul id="footernav">
                {% if help_link is defined %}
                    <li><a href="{{ help_link }}" target="_blank">{{ help_link_text if help_link_text is defined else 'Help on this page' }}</a></li>
                {% elif no_help_link is not defined %}
                    <li><a href="{{ url_for('help.help_index') }}" target="_blank">Help and information</a></li>
                {% endif %}
                {% if no_contact_link is not defined %}
                    <li><a href="{{ url_for('home.contact_page') }}">Contact us</a></li>
                {% endif %}
            </ul>

            {% block footer_extra %}
            {% endblock %}
        </footer>
    </body>
</html>
