{% extends "layout.html" %}

{% block content %}

{% if message is not none %}
    <p>
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ url_for('login') }}">
    <p>
        User name: <input type="text" name="user_name" value="{{ user_name }}" />
        <br />
        Password: <input type="password" name="password" />
        <br />
        <input type="submit" value="Log in" name="submit" />
    </p>
</form>

<p>
    If you do not already have an account you may
    <a href="{{ url_for('register') }}">register</a>.
</p>

<p>
    If you do not remember your user name or password, please
    <a href="{{ url_for('reset_password') }}">reset your password</a>
    to regain access to your account.
</p>

{% endblock %}
