{% extends 'layout.html' %}
{% if person is not none %}
    {% set navigation=['people', (person.name, url_for('.person_view', person_id=person.id))] %}
{% else %}
    {% set help_link=url_for('help.review_page', page_name='review_list') %}
{% endif %}

{% block content %}
    {% if not proposals %}
        <p class="not_present">
            You do not currently have any active reviews in this system.
        </p>
    {% else %}
        <p>
            The following
            {% if (proposals | length) > 1 %}
                tables show
            {% else %}
                table shows
            {% endif %}
            proposals for which you have active reviews.
        </p>

        <ul>
            <li>Click the proposal identifier to view a proposal.</li>
            <li>Click a review role to edit the corresponding review.</li>
        </ul>

        {% for facility in proposals %}
            <h2>{{ facility.name }}</h2>

            <table>
                <tr>
                    <th>Proposal</th>
                    <th>PI Name</th>
                    <th>Title</th>
                    <th>Review state</th>
                    <th>Review role</th>
                </tr>
                {% for proposal_id, proposal_reviews in facility.proposals | groupby('id') %}
                    {% for proposal in proposal_reviews %}
                        <tr>
                            {% if loop.first %}
                                <td rowspan="{{ proposal_reviews | length }}"><a href="{{ url_for(facility.code + '.proposal_view', proposal_id=proposal.id) }}">{{ proposal.code }}</a></td>
                                <td rowspan="{{ proposal_reviews | length }}">
                                    {% if proposal.member is not none %}
                                        {{ proposal.member.person_name | abbr(25) }}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                    </td>
                                <td rowspan="{{ proposal_reviews | length }}">{{ proposal.title | abbr(25) }}</td>
                            {% endif %}
                            <td>{{ proposal.reviewers.review_state | review_state_name }}</td>
                            <td><a href="{{ url_for(facility.code + '.review_edit', reviewer_id=proposal.reviewers.id) }}">{{ proposal.reviewers.role | reviewer_role_name(facility.role_class) }}</a></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        {% endfor %}
    {% endif %}
{% endblock %}
