{% extends 'layout.html' %}
{% if person is not none %}
    {% set navigation=['people', (person.name, url_for('.person_view', person_id=person.id))] %}
{% else %}
    {% set help_link=url_for('help.user_page', page_name='proposal_list') %}
{% endif %}

{% block content %}
    {% if not proposals %}
        <p class="not_present">
            You do not yet have any proposals in this system.
        </p>
    {% else %}
        {% for facility in proposals %}
            <h2>{{ facility.name }}</h2>

            <table>
                <tr>
                    <th>Semester</th>
                    <th>Queue</th>
                    <th>Proposal</th>
                    <th>Title</th>
                    <th>State</th>
                    <th>Your role</th>
                </tr>
                {% for semester, semester_proposals in facility.proposals | groupby('semester_id') %}
                    {% for queue, queue_proposals in semester_proposals | groupby('queue_id') %}
                    {% set semester_loop = loop %}
                        {% for proposal in queue_proposals %}
                            <tr>
                                {% if loop.first and semester_loop.first %}
                                    <td rowspan="{{ semester_proposals | length }}">{{ proposal.semester_name }}</td>
                                {% endif %}
                                {% if loop.first %}
                                    <td rowspan="{{ loop.length }}">{{ proposal.queue_name }}</td>
                                {% endif %}
                                <td><a href="{{ url_for(facility.code + '.proposal_view', proposal_id=proposal.id) }}">{{ proposal.code }}</a></td>
                                <td>{{ proposal.title | abbr(35) }}</td>
                                <td>{{ proposal.state | proposal_state_name }}</td>
                                <td>
                                    {% if proposal.member.pi %}<span class="label">PI</span>{% endif %}
                                    {% if proposal.member.editor %}<span class="label">editor</span>{% endif %}
                                    {% if proposal.member.observer%}<span class="label">observer</span>{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </table>
        {% endfor %}
    {% endif %}
{% endblock %}
