{% extends 'layout.html' %}
{% if person is not none %}
    {% set navigation=['people', (person.name, url_for('.person_view', person_id=person.id))] %}
{% else %}
    {% set help_link=url_for('help.review_page', page_name='review_list') %}
{% endif %}

{% block content %}
    {% if not proposals %}
        <p class="not_present">
            {% if person is none %}
                You do not currently have any active reviews in this system.
            {% else %}
                This person does not have any active reviews in the system.
            {% endif %}
        </p>
    {% else %}
        <p>
            The following
            {% if (proposals | length) > 1 %}
                tables show
            {% else %}
                table shows
            {% endif %}
            proposals for which you have active reviews.
        </p>

        <ul>
            <li>Click the proposal identifier to view a proposal.</li>
            <li>Click a review role to edit the corresponding review.</li>
        </ul>

        {% for facility in proposals %}
            <h2>{{ facility.name }}</h2>

            <table>
                <tr>
                    <th>Proposal</th>
                    <th>PI Name</th>
                    <th>Title</th>
                    <th>Review state</th>
                    <th>Review role</th>
                    <th>Due by</th>
                </tr>
                {% for proposal in facility.proposals.values_in_sorted_order() %}
                    {% for reviewer in proposal.reviewers.values_in_role_order(facility.role_class) %}
                        <tr>
                            {% if loop.first %}
                                <td rowspan="{{ proposal.reviewers | length }}"><a href="{{ url_for(facility.code + '.proposal_view', proposal_id=proposal.id) }}">{{ proposal.code }}</a></td>
                                <td rowspan="{{ proposal.reviewers | length }}">
                                    {% if proposal.member is not none %}
                                        {{ proposal.member.person_name | abbr(25) }}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                    </td>
                                <td rowspan="{{ proposal.reviewers | length }}">{{ proposal.title | abbr(25) }}</td>
                            {% endif %}
                            <td class="{{ reviewer.review_state | review_state_class }}">{{ reviewer.review_state | review_state_name }}</td>
                            <td><a href="{{ url_for(facility.code + '.proposal_review_new', proposal_id=proposal.id, reviewer_role=reviewer.role) if reviewer.id is none else url_for(facility.code + '.review_edit', reviewer_id=reviewer.id) }}">{{ reviewer.role | reviewer_role_name(facility.role_class) }}</a></td>
                            <td>
                                {% if reviewer.deadline is none %}
                                    <span class="missing_data">Not specified</span>
                                {% else %}
                                    {{ reviewer.deadline.date | format_datetime }} UT
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        {% endfor %}
    {% endif %}
{% endblock %}
