{% extends "layout.html" %}
{% set scripts=['edit_affiliation'] %}
{% set navigation=['facility_admin', ('Queues', url_for('.queue_list')), (queue.name, url_for('.queue_view', queue_id=queue.id))] %}
{% set help_link=url_for('help.admin_page', page_name='queue') %}

{% block content %}

<p>
    This page allows you to edit the affiliations which may be selected
    for each member of a proposal for this queue.
</p>

<p>
    <b>Note:</b>
</p>

<ul>
    <li>
        Editing the affiliations here will alter any existing
        proposals on which they have been used.  Therefore please only
        make minor alterations to the affiliations which do not alter
        their meaning.
    </li>
    <li>
        If an affiliation has changed substantially, please "hide" it to
        prevent its subsequent selection and add its replacement as a new
        affiliation.
    </li>
    <li>
        You should not delete existing affiliations if there is a chance
        that they have already been used on a proposal.
        (Attempting to do so should be an error.)
    </li>
    <li>
        The exact meaning of the &ldquo;exclude from assignment&rdquo; column
        depends on the facility-specific affiliation assignment rules.
    </li>
</ul>

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ url_for('.affiliation_edit', queue_id=queue.id) }}">
    <table id="affiliations">
        <tr>
            <th>Affiliation</th>
            <th>Hidden</th>
            <th>Exclude from assignment</th>
            <th>Actions</th>
        </tr>
        {% for affiliation in affiliations %}
            <tr id="affiliationrow_{{ affiliation.id }}">
                <td><input type="text" name="name_{{ affiliation.id }}" value="{{ affiliation.name }}" required="required" /></td>
                <td><input type="checkbox" name="hidden_{{ affiliation.id }}" value="yes" {{ 'checked="checked"' | safe if affiliation.hidden }} /></td>
                <td><input type="checkbox" name="exclude_{{ affiliation.id }}" value="yes" {{ 'checked="checked"' | safe if affiliation.exclude }} /></td>
                <td><input type="button" id="delete_{{ affiliation.id }}" value="Delete" />
            </tr>
        {% endfor %}
    </table>
    <table class="template">
        <tr id="affiliationrow_template">
            <td><input type="text" name="name" value="" /></td>
            <td><input type="checkbox" name="hidden" value="yes" /></td>
            <td><input type="checkbox" name="exclude" value="yes" /></td>
            <td><input type="button" id="delete_template" value="Delete" />
        </tr>
    </table>
    <p>
        <input type="button" id="add_affiliation" value="Add affiliation" />
    </p>
    <p>
        <input type="submit" value="Save" name="submit" />
    </p>
</form>

{% endblock %}
