{% extends 'layout.html' %}

{% if show_proposal_link and (proposal_code is not none) %}
    {% set navigation=[(proposal_code, url_for('.proposal_view', proposal_id=proposal_id))] %}
{% endif %}

{% if scripts is defined %}
    {% set scripts = ['hedwig_util', 'edit_calculation'] + scripts %}
{% else %}
    {% set scripts = ['hedwig_util', 'edit_calculation'] %}
{% endif %}

{% block content %}

{% block calculator_proposal_link %}
    {% if show_proposal_link %}
        <p>
            <a href="{{ url_for('.proposal_view', proposal_id=proposal_id, _anchor="calculations") }}">Back to proposal</a>
        </p>
    {% endif %}
{% endblock %}

{% block calculator_output %}
    {% if output_values is not none %}
        <section>
            <h2>Results</h2>

            <table id="main_result_table">
                {% block calculator_output_table %}
                    {% for value in outputs %}
                        {% with output = output_values[value.code] %}
                            <tr>
                                <th>
                                    {{ value.name }}
                                </th>
                                <td>
                                    {{ output | fmt(value.format) }}
                                    {% if value.unit is not none %}
                                        {{ value.unit }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endwith %}
                    {% endfor %}

                    {% block calculator_output_extra_table %}
                    {% endblock %}
                {% endblock %}
            </table>

            {% block calculator_output_extra %}
            {% endblock %}
        </section>
    {% endif %}
{% endblock %}

<form method="POST" action="{{ url_for((calculator_code, modes[current_mode].code) | fmt('.calc_{}_{}')) }}">

{% block calculator_input %}
    <section>
        <h2>Input</h2>

        {% if message is not none %}
            <p class="warning">
                {{ message }}
            </p>
        {% endif %}

        <ol>
            {% block calculator_input_list %}
                {% for section in inputs.by_section() %}
                    {% if section.name is not none %}
                        <li class="separator">{{ section.name }}</li>
                    {% endif %}
                    {% for value in section.items %}
                        {% with input = input_values[value.code] %}
                            {% block calculator_input_item scoped %}
                                <li>
                                    <label for="a">{{ value.name }}</label>
                                    <input type="text" name="{{ value.code }}" value="{{ input }}" />
                                    {% if value.unit is not none %}
                                        {{ value.unit }}
                                    {% endif %}
                                </li>
                            {% endblock %}
                        {% endwith %}
                    {% endfor %}
                {% endfor %}
            {% endblock %}
            <li>
                <input type="submit" name="submit_calc" value="Calculate" />
            </li>
        </ol>
    </section>
{% endblock %}

{% block calculator_save %}
    {% if (output_values is not none) and proposals %}
        <section>
            <h2>Save to Proposal</h2>

            <ol>
                <li>
                    <label for="proposal_id">Proposal</label>
                    <select name="proposal_id">
                        {% for proposal in proposals %}
                            <option value="{{ proposal.id }}" {{ 'selected="selected"' | safe if proposal.id == proposal_id }}>{{ proposal.code }}: {{ proposal.title | truncate(45, killwords=true, end='\u2026') }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <label for="calculation_title">Title</label>
                    <input type="text" name="calculation_title" value="{{ calculation_title }}" size="30" />
                    <span class="explanation">optional note to identify calculation</span>
                </li>
                {% if calculation_id is not none %}
                    <li>
                        <label for="overwrite">Overwrite</label>
                        <input type="checkbox" name="overwrite" value="yes" {{ 'disabled="disabled"' | safe if proposal_id != calculation_proposal }} {{ 'checked="checked"' | safe if overwrite }}/>
                        <span class="checkboxlabel">Update existing calculation in the proposal</span>
                    </li>
                {% endif %}
                <li>
                    <input type="submit" name="submit_save" value="Save" />
                    <input type="submit" name="submit_save_redir" id="submit_save_redir" value="Save and return to proposal" />
                </li>
            </ol>
        </section>
    {% else %}
        <input type="hidden" name="calculation_title" value="{{ calculation_title }}" />
        {% if proposal_id is not none %}
            <input type="hidden" name="proposal_id" value="{{ proposal_id }}" />
        {% endif %}
    {% endif %}
    {% if calculation_id is not none %}
        <input type="hidden" name="calculation_id" value="{{ calculation_id }}" />
        <input type="hidden" name="calculation_proposal" value="{{ calculation_proposal }}" />
    {% endif %}
    {% if for_proposal_id is not none %}
        <input type="hidden" name="for_proposal_id" value="{{ for_proposal_id }}" />
    {% endif %}
{% endblock %}

{% block calculator_modes %}
    {% if 1 < (modes | length) %}
        <section>
            <h2>Calculator Mode</h2>

            <ol>
                <li>
                    <label for="mode">Mode</label>
                    <select name="mode">
                        {% for (mode_id, mode) in modes.items() %}
                            <option value="{{ mode_id }}" {{ 'selected="selected"' | safe if mode_id == current_mode }}>{{ mode.name }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <input type="submit" name="submit_mode" value="Change mode" />
                </li>
            </ol>
        </section>
    {% endif %}
{% endblock %}

</form>

{% endblock %}
