{% extends 'layout.html' %}

{% set navigation = concatenate_lists(
    (none if for_proposal_id is none else [(for_proposal_code | default('Unknown Proposal', true), url_for('.proposal_view', proposal_id=for_proposal_id))]),
    (none if for_reviewer_id is none else [(for_reviewer_role | reviewer_role_name(facility_role_class, with_review=true), url_for('.review_edit', reviewer_id=for_reviewer_id))])) %}

{% set scripts = concatenate_lists(['hedwig_util', 'edit_calculation'], scripts) %}

{% macro render_save_form(description, save_proposals, id_name, prefix, info) %}
    {% if (output_values is not none) and save_proposals %}
        <section>
            <h2>Save to {{ description }}</h2>

            <ol>
                <li>
                    <label for="{{ id_name }}">{{ description }}</label>
                    <select name="{{ id_name }}">
                        {{ caller() }}
                    </select>
                </li>
                <li>
                    <label for="{{ prefix }}calculation_title">Title</label>
                    <input type="text" name="{{ prefix }}calculation_title" value="{{ info.title }}" size="30" />
                    <span class="explanation">optional note to identify calculation</span>
                </li>
                {% if info.id is not none %}
                    <li>
                        <label for="{{ prefix }}calculation_overwrite">Overwrite</label>
                        <input type="checkbox" name="{{ prefix }}calculation_overwrite" value="yes" {{ 'checked="checked"' | safe if info.overwrite }}/>
                        <span class="checkboxlabel">Update existing calculation in the {{ description | lower }}</span>
                    </li>
                {% endif %}
                <li>
                    <input type="submit" name="{{ prefix }}submit_save" value="Save" />
                    <input type="submit" name="{{ prefix }}submit_save_redir" id="{{ prefix }}submit_save_redir" value="Save and return to {{ description | lower }}" />
                </li>
            </ol>
        </section>
    {% else %}
        <input type="hidden" name="{{ prefix }}calculation_title" value="{{ info.title }}" />
        {% if info.parent_id is not none %}
            <input type="hidden" name="{{ id_name }}" value="{{ info.parent_id }}" />
        {% endif %}
    {% endif %}
    {% if info.id is not none %}
        <input type="hidden" name="{{ prefix }}calculation_id" value="{{ info.id }}" />
    {% endif %}
{% endmacro %}

{% block content %}

{% block calculator_proposal_link %}
    {% if (for_reviewer_id is not none) or (for_proposal_id is not none) %}
        <nav>
            <ol class="fa-ul">
                {% if for_reviewer_id is not none %}
                    <li><a href="{{ url_for('.review_edit', reviewer_id=for_reviewer_id, _anchor="calculations") }}"><span class="fa-li"><span class="fa-solid fa-arrow-left"></span></span>Back to review</a></li>
                {% elif for_proposal_id is not none %}
                    <li><a href="{{ url_for('.proposal_view', proposal_id=for_proposal_id, _anchor="calculations") }}"><span class="fa-li"><span class="fa-solid fa-arrow-left"></span></span>Back to proposal</a></li>
                {% endif %}
            </ol>
        </nav>
    {% endif %}
{% endblock %}

{% block calculator_output %}
    {% if output_values is not none %}
        <section>
            <h2>Results</h2>

            <table id="main_result_table">
                {% block calculator_output_table %}
                    {% for value in outputs %}
                        {% with output = output_values[value.code] %}
                            <tr>
                                <th>
                                    {{ value.name }}
                                </th>
                                <td>
                                    {{ output | fmt(value.format) }}
                                    {% if value.unit is not none %}
                                        {{ value.unit }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endwith %}
                    {% endfor %}

                    {% block calculator_output_extra_table %}
                    {% endblock %}
                {% endblock %}
            </table>

            {% block calculator_output_extra %}
            {% endblock %}

            {% if query_encoded is not none %}
                <ol class="fa-ul">
                    <li><a href="{{ url_for((calculator_code, modes[current_mode].code) | fmt('.calc_{}_{}'), query=query_encoded, _external=true) }}" id="perm_query_link"><span class="fa-li"><span class="fa-solid fa-link"></span></span>Link to this calculation</a><li>
                </ol>
            {% endif %}
        </section>
    {% endif %}
{% endblock %}

<form method="POST" action="{{ url_for((calculator_code, modes[current_mode].code) | fmt('.calc_{}_{}')) }}">

{% block calculator_input %}
    <section>
        <h2>Input</h2>

        {% if message is not none %}
            <p class="warning">
                {{ message }}
            </p>
        {% endif %}

        <ol>
            {% block calculator_input_list %}
                {% for section in inputs.by_section() %}
                    {% if section.name is not none %}
                        <li class="separator">{{ section.name }}</li>
                    {% endif %}
                    {% for value in section.items %}
                        {% with input = input_values[value.code] %}
                            {% block calculator_input_item scoped %}
                                <li>
                                    <label for="a">{{ value.name }}</label>
                                    <input type="text" name="{{ value.code }}" value="{{ input }}" />
                                    {% if value.unit is not none %}
                                        {{ value.unit }}
                                    {% endif %}
                                </li>
                            {% endblock %}
                        {% endwith %}
                    {% endfor %}
                {% endfor %}
            {% endblock %}
            <li>
                <input type="submit" name="submit_calc" value="Calculate" />
            </li>
        </ol>
    </section>
{% endblock %}

{% block calculator_save %}
    {% call render_save_form('Proposal', proposals, 'proposal_id', '', calculation) %}
        {% for proposal in proposals.values() %}
            <option value="{{ proposal.id }}" {{ 'selected="selected"' | safe if proposal.id == calculation.parent_id }}>{{ proposal.code }}: {{ proposal.title | truncate(45, killwords=true, end='\u2026') }}</option>
        {% endfor %}
    {% endcall %}
{% endblock %}

{% block calculator_save_review %}
    {% call render_save_form('Review', review_proposals, 'reviewer_id', 'review_', review_calculation) %}
        {% for proposal in review_proposals.values() %}
            <option value="{{ proposal.reviewer.id }}" {{ 'selected="selected"' | safe if proposal.reviewer.id == review_calculation.parent_id }}>{{ proposal.reviewer.role | reviewer_role_name(facility_role_class, with_review=true) }}: {{ proposal.code }}: {{ proposal.title | truncate(25, killwords=true, end='\u2026') }}</option>
        {% endfor %}
    {% endcall %}
{% endblock %}

{% block calculator_save_common %}
    {% if for_proposal_id is not none %}
        <input type="hidden" name="for_proposal_id" value="{{ for_proposal_id }}" />
    {% endif %}
    {% if for_reviewer_id is not none %}
        <input type="hidden" name="for_reviewer_id" value="{{ for_reviewer_id }}" />
    {% endif %}
{% endblock %}

{% block calculator_modes %}
    {% if 1 < (modes | length) %}
        <section>
            <h2>Calculator Mode</h2>

            <ol>
                <li>
                    <label for="mode">Mode</label>
                    <select name="mode">
                        {% for (mode_id, mode) in modes.items() %}
                            <option value="{{ mode_id }}" {{ 'selected="selected"' | safe if mode_id == current_mode }}>{{ mode.name }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <input type="submit" name="submit_mode" value="Change mode" />
                </li>
            </ol>
        </section>
    {% endif %}
{% endblock %}

</form>

{% endblock %}

{% block footer_extra %}
    <p class="footerinfo">
        Calculator version {{ calculator_version }},
        interface version {{ interface_version }}.
    </p>
{% endblock %}
