{% extends "layout.html" %}

{% set navigation = concatenate_lists(
    (none if proposal_id is none else [(proposal_code | default('Unknown Proposal', true), url_for('.proposal_view', proposal_id=proposal_id))]),
    (none if reviewer_id is none else [(reviewer_role | reviewer_role_name(facility_role_class, with_review=true), url_for('.review_edit', reviewer_id=reviewer_id))])) %}

{% set scripts=['table_row_drag', 'manage_calculation'] %}
{% if reviewer_id is none %}
    {% set help_link=url_for('help.user_page', page_name='calculation') %}
{% else %}
    {% set help_link=url_for('help.review_page', page_name='technical') %}
{% endif %}

{% block content %}

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

{% if reviewer_id is none %}
    {% if can_edit %}
        <form method="POST" action="{{ url_for('.calculation_manage', proposal_id=proposal_id) }}">
    {% else %}
        <nav>
            <ol class="fa-ul">
                <li><a href="{{ url_for('.proposal_view', proposal_id=proposal_id, _anchor='calculations') }}"><span class="fa-li"><span class="fa-solid fa-arrow-left"></span></span>Back to proposal</a></li>
            </ol>
        </nav>
    {% endif %}
{% else %}
    {% if can_edit %}
        <form method="POST" action="{{ url_for('.review_calculation_manage', reviewer_id=reviewer_id) }}">
    {% else %}
        <nav>
            <ol class="fa-ul">
                <li><a href="{{ url_for('.proposal_reviews', proposal_id=proposal_id) }}"><span class="fa-li"><span class="fa-solid fa-arrow-left"></span></span>Back to reviews</a></li>
            </ol>
        </nav>
    {% endif %}
{% endif %}

<table id="calculations">
    <tr>
        <th colspan="2">Calculation</th>
        <th>Input</th>
        <th>Output</th>
        {% if can_edit %}
            <th>Actions</th>
        {% endif %}
    </tr>
    {% for calculation in calculations %}
        <tr id="calcrow_{{ calculation.id }}">
            {% if can_edit %}
                <td class="draggrip">&vellip;&vellip;</td>
            {% else %}
                <td>{{ loop.index }}</td>
            {% endif %}
            <td>
                {% if calculation.title %}
                    {{ calculation.title }}
                    </br />
                {% endif %}
                Calculator: {{ calculation.calculator_name }}
                <br />
                Mode: {{ calculation.mode_info.name }}
                <br />
                Interface version: {{ calculation.version }}
                <br />
                Calculator version: {{ calculation.calc_version }}
                <br />
                Performed: {{ calculation.date_run | format_datetime }} UT
            </td>
            <td>
                {% for value in calculation.inputs %}
                    {% with in_val = calculation.input[value.code] %}
                        {% if in_val is not none %}
                            {{ value.name }}:
                            {{ in_val | fmt(value.format) }}
                            {% if value.unit is not none %}
                                {{ value.unit }}
                            {% endif %}
                            {% if not loop.last %}
                                <br />
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </td>
            <td>
                {% for value in calculation.outputs %}
                    {% with out_val = calculation.output[value.code] %}
                        {{ value.name }}:
                        {% if out_val is none %}
                            &mdash;
                        {% else %}
                            {{ out_val | fmt(value.format) }}
                            {% if value.unit is not none %}
                                {{ value.unit }}
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                    {% if not loop.last %}
                        <br />
                    {% endif %}
                {% endfor %}
            </td>
            {% if can_edit %}
                <td>
                    <input type="button" id="delete_{{ calculation.id }}" value="Delete" />
                    <input name="sort_order_{{ calculation.id }}" type="hidden" value="{{ calculation.sort_order }}" />
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>

{% if can_edit %}
    <p>
        <input type="submit" value="Save" name="submit" />
    </p>

    </form>
{% endif %}

{% endblock %}
