{% extends 'confirm.html' %}
{% set navigation=[((call.semester_name, call.queue_name, (call.type | call_type_name(facility_call_type_class))) | fmt('{} {} {}'), url_for('.review_call', call_id=call.id))] %}
{% set help_link=url_for('help.admin_page', page_name='review_final') %}

{% block confirm_extra %}
<ul>
    <li>
        This will update the state of the proposals to the final review state.
    </li>
    <li>
        External reviewers will no longer be able to access proposals
        and edit their reviews.
    </li>
    <li>
        Committee ratings will be made visible.
    </li>
</ul>
{% endblock %}

{% block confirm_form_extra %}
    {% if proposals is not none %}
        <table>
            <tr>
                <th>Proposal</th>
                <th>PI Name</th>
                <th>Advance?</th>
            </tr>
            {% for proposal in proposals.values() %}
                <tr>
                    <td><a href="{{ url_for('.proposal_view', proposal_id=proposal.id) }}">{{ proposal.code }}</a></td>
                    <td>
                        {% if proposal.member.can_view %}
                            <a href="{{ url_for('people.person_view', person_id=proposal.member.person_id) }}">{{ proposal.member.person_name | abbr(25) }}</a>
                        {% else %}
                            {{ proposal.member.person_name | abbr(25) }}
                        {% endif %}
                    </td>
                    <td><input type="checkbox" name="{{ proposal.id | fmt('proposal_{}') }}" /></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
