{% extends "layout.html" %}
{% set navigation=['facility_admin'] %}
{% set help_link=url_for('help.admin_page', page_name='call') %}

{% block content %}

<nav>
    <p>
        <a href="{{ url_for('.call_new') }}">New call</a>
    </p>
</nav>

<table>
    <tr>
        <th>Semester</th>
        <th>Queue</th>
        <th>Status</th>
        <th colspan="3">Links</th>
    </tr>
    {% for call in calls %}
        <tr>
            <td>
                <a href="{{ url_for('.semester_view', semester_id=call.semester_id) }}">
                    {{ call.semester_name }}
                </a>
            </td>
            <td>
                <a href="{{ url_for('.queue_view', queue_id=call.queue_id) }}">
                    {{ call.queue_name }}
                </a>
            </td>
            <td>{{ call.status }}</td>
            <td>
                <a href="{{ url_for('.call_view', call_id=call.id) }}">
                    View call
                </a>
            </td>
            <td>
                <a href="{{ url_for('.call_proposals', call_id=call.id) }}">
                    View proposals
                </a>
            </td>
            <td>
                <a href="{{ url_for('.review_call', call_id=call.id) }}">
                    Review process
                </a>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
