{% extends 'layout.html' %}
{% set help_link=url_for('help.admin_page', page_name='review_process') %}

{% block content %}
<nav>
    <p>
        <a href="{{ url_for('.review_call_tabulation', call_id=call_id) }}">View detailed tabulation</a>
        or
        <a href="{{ url_for('.review_call_tabulation_download', call_id=call_id) }}">download as a CSV file</a>
        {% if can_edit %}
            <br />
            <a href="{{ url_for('.review_call_reviewers', call_id=call_id) }}">Assign reviewers</a>
            <br />
            <a href="{{ url_for('.review_affiliation_weight', call_id=call_id) }}">Edit affiliation weights</a>
            <br />
            <a href="{{ url_for('.review_confirm_feedback', call_id=call_id) }}">Approve feedback reports</a>
        {% endif %}
    </p>
</nav>

<table>
    <tr>
        <th>Proposal</th>
        <th>Links</th>
        <th>State</th>
        <th>Decision</th>
        <th>PI Name</th>
        <th>Title</th>
        <th>Primary Reviewer</th>
    </tr>
    {% for proposal in proposals %}
        <tr>
            <td><a href="{{ url_for('.proposal_view', proposal_id=proposal.id) }}">{{ proposal.code }}</a></td>
            <td><a href="{{ url_for('.proposal_reviews', proposal_id=proposal.id) }}">Reviews</a></td>
            <td>{{ proposal.state | proposal_state_name }}</td>
            <td>
                {% if proposal.decision_accept is none %}
                    &nbsp;
                {% elif proposal.decision_accept %}
                    Accept
                {% else %}
                    Reject
                {% endif %}
                {% if proposal.decision_ready %}
                    <span class="label">ready</span>
                {% endif %}
            </td>
            <td>
                {% if proposal.members.person_id is not none %}
                    {% if session.is_admin or proposal.members.person_public %}
                        <a href="{{ url_for('people.person_view', person_id=proposal.members.person_id) }}">{{ proposal.members.person_name | abbr }}</a>
                    {% else %}
                        {{ proposal.members.person_name | abbr }}
                    {% endif %}
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
            <td>{{ proposal.title | abbr }}</td>
            <td>
                {% if proposal.reviewers %}
                    {% for reviewer in proposal.reviewers.values() %}
                        {% if session.is_admin or reviewer.person_public %}
                            <a href="{{ url_for('people.person_view', person_id=reviewer.person_id) }}">{{ reviewer.person_name | abbr }}</a>
                        {% else %}
                            {{ reviewer.person_name | abbr }}
                        {% endif %}
                        {% if not loop.last %}
                            <br />
                        {% endif %}
                    {% endfor %}
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
