{% extends 'layout_wide.html' %}
{% set navigation=[(call.semester_name + ' ' + call.queue_name, url_for('.review_call', call_id=call.id))] %}
{% set help_link=url_for('help.admin_page', page_name='review_process') %}

{% block content %}
{% if targets %}
<nav>
    <p>
        {% for target in targets %}
            <a href="{{ target.url }}">{{ target.text }}</a>
            {% if not loop.last %}
                <br />
            {% endif %}
        {% endfor %}
    </p>
</nav>
{% endif %}

<table>
    <tr>
        <th>Proposal</th>
        <th>State</th>
        <th>PI Name</th>
        <th>Title</th>
        <th>Reviewer role</th>
        <th>Reviewer name</th>
        <th>Review status</th>
        <th>Actions</th>
    </tr>
    {% for proposal in proposals %}
        {% with reviewers = proposal.reviewers %}
            {% if not reviewers %}
                {% set reviewers = {None: None} %}
            {% endif %}
            {% for reviewer in reviewers.values() %}
                <tr>
                    {% if loop.first %}
                        <td rowspan="{{ reviewers | length }}"><a href="{{ url_for('.proposal_view', proposal_id=proposal.id) }}">{{ proposal.code }}</a></td>
                        <td rowspan="{{ reviewers | length }}">{{ proposal.state | proposal_state_name }}</td>
                        <td rowspan="{{ reviewers | length }}">
                            {% if proposal.members.person_id is not none %}
                                <a href="{{ url_for('people.person_view', person_id=proposal.members.person_id) }}">{{ proposal.members.person_name | abbr(25) }}</a>
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                        <td rowspan="{{ reviewers | length }}">{{ proposal.title | abbr(25) }}</td>
                    {% endif %}
                    {% if reviewer is none %}
                        <td colspan="3"><span class="missing_data">none assigned</a></td>
                    {% else %}
                        <td><a href="{{ url_for('.review_edit', reviewer_id=reviewer.id) }}">{{ reviewer.role | reviewer_role_name }}</a></td>
                        <td>
                            <a href="{{ url_for('people.person_view', person_id=reviewer.person_id) }}">{{ reviewer.person_name | abbr(25) }}</a>
                            {% if not reviewer.person_registered %}
                                <span class="label">unregistered</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if reviewer.review_present %}
                                Done
                            {% else %}
                                Not done
                                {% if reviewer.role is reviewer_role_external %}
                                    <a href="{{ url_for('.review_external_remove', proposal_id=proposal.id, reviewer_id=reviewer.id) }}">Remove</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if loop.first %}
                        <td rowspan="{{ reviewers | length }}">
                            <a href="{{ url_for('.review_external_add', proposal_id=proposal.id) }}">Add external reviewer</a>
                            <br />
                            <a href="{{ url_for('.proposal_reviews', proposal_id=proposal.id) }}">View reviews</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endwith %}
    {% endfor %}
</table>
{% endblock %}
