{% extends 'layout.html' %}
{% set navigation=['facility_admin',
                   ('Calls', url_for('.call_list')),
                   (call.semester_name + ' ' + call.queue_name, url_for('.call_view', call_id=call.id))] %}
{% set help_link=url_for('help.admin_page', page_name='call') %}

{% block content %}

<table>
    <tr>
        <th>Proposal</th>
        <th>Title</th>
        <th>State</th>
        <th>PI Name</th>
        <th>PI Affiliation</th>
    </tr>
    {% for proposal in proposals %}
        <tr>
            <td>
                <a href="{{ url_for('.proposal_view', proposal_id=proposal.id) }}">{{ proposal.code }}</a>
            </td>
            <td>{{ proposal.title }}</td>
            <td>{{ proposal.state | proposal_state_name }}</td>
            {% if proposal.member.person_id is not none %}
                <td>
                    <a href="{{ url_for('people.person_view', person_id=proposal.member.person_id) }}">{{ proposal.member.person_name }}</a>
                </td>
                <td>{{ proposal.member.affiliation_name }}</td>
            {% else %}
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>

{% endblock %}
