{% extends "layout.html" %}
{% set navigation=['facility_admin', ('Calls', url_for('.call_list'))] %}

{% block content %}

<table>
    <tr>
        <th>Semester</th>
        <td><a href="{{ url_for('.semester_view', semester_id=call.semester_id) }}">{{ call.semester_name }}</a></td>
    </tr>
    <tr>
        <th>Queue</th>
        <td><a href="{{ url_for('.queue_view', queue_id=call.queue_id) }}">{{ call.queue_name }}</a></td>
    </tr>
    <tr>
        <th>Open</th>
        <td>{{ call.date_open | format_datetime }}</td>
    </tr>
    <tr>
        <th>Close</th>
        <td>{{ call.date_close | format_datetime }}</td>
    </tr>
    <tr>
        <th>Abstract</th>
        <td>{{ call.abst_word_lim }} word{% if call.abst_word_lim != 1 %}s{% endif %}</td>
    </tr>
    <tr>
        <th rowspan="3">Technical Justification</th>
        <td>{{ call.tech_note | format_text }}</td>
    </tr>
    <tr>
        <td>{{ call.tech_word_lim }} word{% if call.tech_word_lim != 1 %}s{% endif %}</td>
    </tr>
    <tr>
        <td>{{ call.tech_page_lim }} page{% if call.tech_page_lim != 1 %}s{% endif %}</td>
    </tr>
    <tr>
        <th rowspan="4">Scientific Justification</th>
        <td>{{ call.sci_note | format_text }}</td>
    </tr>
    <tr>
        <td>{{ call.sci_word_lim }} word{% if call.sci_word_lim != 1 %}s{% endif %}</td>
    </tr>
    <tr>
        <td>{{ call.sci_fig_lim }} figure{% if call.sci_fig_lim != 1 %}s{% endif %}</td>
    </tr>
    <tr>
        <td>{{ call.sci_page_lim }} page{% if call.sci_page_lim != 1 %}s{% endif %}</td>
    </tr>
</table>

<p>
    <a href="{{ url_for('.call_edit', call_id=call.id) }}">Edit call</a>
</p>

{% endblock %}
