{% extends "layout.html" %}
{% set navigation=['facility_admin'] %}
{% set help_link=url_for('help.admin_page', page_name='call') %}

{% block content %}

<nav>
    <p>New call:</p>

    <ul id="new_call_links">
        {% for (type_num, type_name) in facility_call_type_class.get_options().items() %}
            <li><a href="{{ url_for('.call_new', call_type=type_num) }}">{{ type_name }}</a></li>
        {% endfor %}
    </ul>
</nav>

{% if not calls %}
    <p class="not_present">
        No calls have yet been defined.
    </p>
{% else %}
    <table>
        <tr>
            <th>Semester</th>
            <th>Type</th>
            <th>Queue</th>
            <th>Status</th>
            <th>Submitted<br />proposals</th>
            <th colspan="2">Links</th>
        </tr>
        {% for semester_calls in calls.values() | plain_group_by('semester_id') %}
            {% for type_calls in semester_calls | plain_group_by('type') %}
                {% set type_loop = loop %}
                {% for call in type_calls %}
                    <tr>
                        {% if loop.first and type_loop.first %}
                            <td rowspan="{{ semester_calls | length }}">
                                <a href="{{ url_for('.semester_view', semester_id=call.semester_id) }}">
                                    {{ call.semester_name }}
                                </a>
                            </td>
                        {% endif %}
                        {% if loop.first %}
                            <td rowspan="{{ loop.length }}">
                                {{ call.type | call_type_name(facility_call_type_class) }}
                            </td>
                        {% endif %}
                        <td>
                            <a href="{{ url_for('.call_view', call_id=call.id) }}">
                                {{ call.queue_name }}
                            </a>
                            {% if call.separate %}
                                <span class="label">separate</span>
                            {% endif %}
                        </td>
                        <td class="{{ call.state | call_state_class }}">{{ call.state | call_state_name }}</td>
                        <td class="number_center">
                            {% if call.proposal_count %}
                                {{ call.proposal_count }}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ url_for('.call_proposals', call_id=call.id) }}">
                                Proposals
                            </a>
                        </td>
                        <td>
                            <a href="{{ url_for('.review_call', call_id=call.id) }}">
                                Review process
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </table>
{% endif %}

{% endblock %}
