{% extends 'layout_wide.html' %}
{% set help_link=url_for('help.admin_page', page_name='review_process') %}

{% macro render_reviewer_cell(reviewers) %}
    <td>
        {% if reviewers %}
            {% for reviewer in reviewers %}
                {% if session.is_admin or reviewer.person_public %}
                    <a href="{{ url_for('people.person_view', person_id=reviewer.person_id) }}">{{ reviewer.person_name | abbr }}</a>
                {% else %}
                    {{ reviewer.person_name | abbr }}
                {% endif %}
                {% if not loop.last %}
                    <br />
                {% endif %}
            {% endfor %}
        {% else %}
            &nbsp;
        {% endif %}
    </td>
{% endmacro %}

{% block content %}
<nav>
    <p>
        {% if proposals  %}
            <a href="{{ url_for('.review_call_tabulation', call_id=call_id) }}">View detailed tabulation</a>
            or
            <a href="{{ url_for('.review_call_tabulation_download', call_id=call_id) }}">download as a CSV file</a>
        {% endif %}
        {% if can_edit %}
            {% if proposals %}
                <br />
            {% endif %}
            <a href="{{ url_for('.review_affiliation_weight', call_id=call_id) }}">Edit affiliation weights</a>
            <br />
            <a href="{{ url_for('.review_call_available', call_id=call_id) }}">Edit time available</a>
            {% if proposals %}
                <br />
                <a href="{{ url_for('.review_call_reviewers', call_id=call_id) }}">Assign reviewers</a>
                <br />
                <a href="{{ url_for('.review_call_advance_final', call_id=call_id) }}">Advance to final review phase</a>
                <br />
                <a href="{{ url_for('.review_confirm_feedback', call_id=call_id) }}">Approve feedback reports</a>
            {% endif %}
        {% endif %}
    </p>
</nav>

{% if not proposals %}
    <p class="not_present">
        No proposals have been submitted for this call.
    </p>
{% else %}
    <table>
        <tr>
            <th>Proposal</th>
            <th>Links</th>
            <th>State</th>
            <th>Decision</th>
            <th>PI Name</th>
            <th>Title</th>
            <th>Primary Reviewer</th>
            <th>Secondary Reviewer</th>
            <th>Categories</th>
        </tr>
        {% for proposal in proposals %}
            <tr>
                <td><a href="{{ url_for('.proposal_view', proposal_id=proposal.id) }}">{{ proposal.code }}</a></td>
                <td>
                    {% if proposal.can_view_review %}
                        <a href="{{ url_for('.proposal_reviews', proposal_id=proposal.id) }}">Reviews</a>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                <td>{{ proposal.state | proposal_state_name }}</td>
                <td>
                    {% if proposal.can_edit_decision %}<a href="{{ url_for('.proposal_decision', proposal_id=proposal.id, referrer='rp') }}">{% endif %}
                    {% if proposal.decision_accept is none %}
                        Undecided
                    {% elif proposal.decision_accept %}
                        Accept
                    {% else %}
                        Reject
                    {% endif %}
                    {% if proposal.can_edit_decision %}</a>{% endif %}
                    {% if proposal.decision_exempt %}
                        <span class="label">exempt</span>
                    {% endif %}
                    {% if proposal.decision_ready %}
                        <span class="label">ready</span>
                    {% endif %}
                </td>
                <td>
                    {% if proposal.member is not none %}
                        {% if session.is_admin or proposal.member.person_public %}
                            <a href="{{ url_for('people.person_view', person_id=proposal.member.person_id) }}">{{ proposal.member.person_name | abbr }}</a>
                        {% else %}
                            {{ proposal.member.person_name | abbr }}
                        {% endif %}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                <td>{{ proposal.title | abbr }}</td>
                {{ render_reviewer_cell(proposal.reviewers_primary) }}
                {{ render_reviewer_cell(proposal.reviewers_secondary) }}
                <td>
                    {% if proposal.categories %}
                        {% for category in proposal.categories.values() %}
                            <span class="label">{{ category.category_name }}</span>
                        {% endfor %}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}
