{% extends "layout.html" %}
{% set navigation=['facility_admin', ('Calls', url_for('.call_list'))] %}
{% set help_link=url_for('help.admin_page', page_name='call') %}
{% set scripts=['edit_call'] %}

{% from 'macro/text.html' import render_format_control %}

{% block content %}

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ target }}" novalidate="novalidate">
    <ol>
        <li class="separator">Call information</li>
        {% if call.id is none %}
            <li>
                <label for="semester_id">Semester</label>
                <select name="semester_id" data-existing="{{ existing_calls | json }}">
                    {% for semester in semesters.values() %}
                        <option value="{{ semester.id }}" {{'selected="selected"' | safe if semester.id == call.semester_id }}>{{ semester.name }}</option>
                    {% endfor %}
                </select>
            </li>
            <li>
                <label for="queue_id">Queue</label>
                <select name="queue_id">
                    {% for queue in queues.values() %}
                        <option value="{{ queue.id }}" {{'selected="selected"' | safe if queue.id == call.queue_id }}>{{ queue.name }}</option>
                    {% endfor %}
                </select>
                <span id="queue_warning" class="forminfo_bad">call already exists for this semester and queue</span>
            </li>
            <li>
                <label>Type</label>
                {{ call_type | call_type_name(facility_call_type_class) }}
            </li>
        {% endif %}
        <li>
            <label for="multi_semester">Semester range</label>
            <input type="checkbox" name="multi_semester" {{ 'checked="checked"' | safe if call.multi_semester }} />
            observations may span multiple semesters
        </li>
        <li>
            <label for="date_open">Opening date</label>
            <input type="date" name="open_date" value="{{ call.date_open.date }}" placeholder="YYYY-MM-DD" required="required" size="10" />
            <input type="time" name="open_time" value="{{ call.date_open.time }}" placeholder="HH:MM" required="required" size="5" />
            <span class="explanation">UT, date call opens for submissions</span>
        </li>
        <li>
            <label for="close_date">Closing date</label>
            <input type="date" name="close_date" value="{{ call.date_close.date }}" placeholder="YYYY-MM-DD" required="requried" size="10" />
            <input type="time" name="close_time" value="{{ call.date_close.time }}" placeholder="HH:MM" required="required" size="5" />
            <span class="explanation">UT, proposal deadline</span>
        </li>
        <li>
            <label for="note_format">Note format</label>
            {{ render_format_control('note_format', call.note_format, format_types) }}
            <span class="explanation">applies to all notes below</span>
        </li>
        {% orderblocks proposal_order %}
            {% block proposal_abstract %}
                <li class="separator">Abstract</li>
                <li>
                    <label for="abst_word_lim">Abstract word limit</label>
                    <input type="number" name="abst_word_lim" value="{{ call.abst_word_lim }}" min="0" step="25" size="5" />
                </li>
            {% endblock %}
            {% block science_case %}
                <li class="separator">Science case</li>
                <li>
                    <label for="sci_note">Science case note</label>
                    <textarea name="sci_note" cols="40" rows="5">{{ call.sci_note }}</textarea>
                </li>
                <li>
                    <label for="sci_word_lim">Science word limit</label>
                    <input type="number" name="sci_word_lim" value="{{ call.sci_word_lim }}" min="0" step="100" size="5" />
                    <span class="explanation">when edited online</span>
                </li>
                <li>
                    <label for="sci_fig_lim">Science figure limit</label>
                    <input type="number" name="sci_fig_lim" value="{{ call.sci_fig_lim }}" min="0" step="1" size="5" />
                    <span class="explanation">when edited online</span>
                </li>
                <li>
                    <label for="sci_page_lim">Science page limit</label>
                    <input type="number" name="sci_page_lim" value="{{ call.sci_page_lim }}" min="0" step="1" size="5" />
                    <span class="explanation">for PDF uploads</span>
                </li>
            {% endblock %}
            {% block technical_case %}
                <li class="separator">Technical case</li>
                <li>
                    <label for="tech_note">Technical case note</label>
                    <textarea name="tech_note" cols="40" rows="5">{{ call.tech_note }}</textarea>
                </li>
                <li>
                    <label for="tech_word_lim">Technical word limit</label>
                    <input type="number" name="tech_word_lim" value="{{ call.tech_word_lim }}" min="0" step="100" size="5" />
                    <span class="explanation">when edited online</span>
                </li>
                <li>
                    <label for="tech_fig_lim">Technical figure limit</label>
                    <input type="number" name="tech_fig_lim" value="{{ call.tech_fig_lim }}" min="0" step="1" size="5" />
                    <span class="explanation">when edited online</span>
                </li>
                <li>
                    <label for="tech_page_lim">Technical page limit</label>
                    <input type="number" name="tech_page_lim" value="{{ call.tech_page_lim }}" min="0" step="1" size="5" />
                    <span class="explanation">for PDF uploads</span>
                </li>
            {% endblock %}
            {% block proposal_request %}
            {% endblock %}
            {% block proposal_previous %}
                <li class="separator">Previous proposals</li>
                <li>
                    <label for="sci_note">Previous proposals note</label>
                    <textarea name="prev_prop_note" cols="40" rows="5">{{ call.prev_prop_note }}</textarea>
                </li>
            {% endblock %}
        {% endorderblocks %}
        <li class="separator">Additional options</li>
        <li>
            <label for="capt_word_lim">Caption word limit</label>
            <input type="number" name="capt_word_lim" value="{{ call.capt_word_lim }}" min="0" step="25" size="5" />
        </li>
        <li>
            <label for="expl_word_lim">Explanation word limit</label>
            <input type="number" name="expl_word_lim" value="{{ call.expl_word_lim }}" min="0" step="25" size="5" />
        </li>
        <li>
            <input type="submit" value="Save" name="submit" />
        </li>
    </ol>
</form>

{% endblock %}
