{% extends 'layout.html' %}
{% set navigation=[((call.semester_name, call.queue_name, (call.type | call_type_name(facility_call_type_class))) | fmt('{} {} {}'), url_for('.review_call', call_id=call.id))] %}
{% set help_link=url_for('help.admin_page', page_name='time_available') %}

{% block content %}
{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ url_for('.review_call_available', call_id=call.id) }}">
    {% block available_form %}
    {% endblock %}
</form>

{% endblock %}
