{% extends 'layout_wide.html' %}
{% set navigation=[((call.semester_name, call.queue_name, (call.type | call_type_name(facility_call_type_class))) | fmt('{} {} {}'), url_for('.review_call', call_id=call.id))] %}

{% set help_link=url_for('help.admin_page', page_name='review_statistics') %}
{% set scripts = ['jquery_stickytableheaders', 'hedwig_util', 'review_statistics'] %}

{% block content %}

<nav>
    <ol class="fa-ul">
        <li><a href="{{ url_for('.review_call_stats_download', call_id=call.id, cttee=cttee_role) }}"><span class="fa-li"><span class="fa-solid fa-download"></span></span>Download as a CSV file</a></li>
    </ol>
</nav>

<ul>
    <li>
        This table shows the rating given by each reviewer to each proposal,
        converted to a 0 &ndash; 100 scale where necessary.
    </li>
    <li>
        If a reviewer gave multiple ratings to the same proposal,
        an average value is shown here.
    </li>
    <li>
        The weighting associated with each value is indicated by the background color
        and is summarized in the mean and standard deviation cells
        on a 0 &ndash; 100 scale.
    </li>
</ul>

<form method="GET" action="{{ url_for('.review_call_stats', call_id=call.id) }}">
    <p>
        <select name="cttee">
            <option value="" {{ 'selected="selected"' | safe if cttee_role is none }}>Any role</option>
            <hr />
            <option value="0" {{ 'selected="selected"' | safe if (cttee_role is not none) and (not cttee_role) }}>Non-committee roles</option>
            <option value="1" {{ 'selected="selected"' | safe if cttee_role }}>Committee roles</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>

<table id="statistics">
    <thead>
        <tr>
            <th class="col_sortable col_sortedalready sideways" data-col_sortkey="person_name"><div><div><span>Reviewer</span></div></div></th>
            {% for person in persons.values() %}
                <th rowspan="{{ 1 if peer_reviewer_proposals else 2 }}" class="sideways" data-col_sortinfo="{{ {
                            'person_name': person.name,
                            'proposal_code': peer_reviewer_proposals.get(person.id, [{'code': None}])[0].code,
                            'rat_mean': rating_person_mean[person.id],
                            'rat_stdev': rating_person_stdev[person.id],
                            'weight_mean': weight_person_mean[person.id],
                            'weight_stdev': weight_person_stdev[person.id],
                        } | json }}"><div><div>
                    {% if person.can_view %}
                        <a href="{{ url_for('people.person_view', person_id=person.id)  }}">{{ person.name | abbr(25) }}</a>
                    {% else %}
                        {{ person.name | abbr(25) }}
                    {% endif %}
                </div></div></th>
            {% endfor %}
            <th rowspan="{{ 3 if peer_reviewer_proposals else 2 }}" class="sortable sortreverse sideways spacer_left" data-sortkey="rat_mean"><div><div><span>Rating mean</span></div></div></th>
            <th rowspan="{{ 3 if peer_reviewer_proposals else 2 }}" class="sortable sortreverse sideways" data-sortkey="rat_stdev"><div><div><span>Rating std. dev.</span></div></div></th>
            <th rowspan="{{ 3 if peer_reviewer_proposals else 2 }}" class="sortable sortreverse sideways spacer_left" data-sortkey="weight_mean"><div><div><span>Weight mean</span></div></div></th>
            <th rowspan="{{ 3 if peer_reviewer_proposals else 2 }}" class="sortable sortreverse sideways" data-sortkey="weight_stdev"><div><div><span>Weight std. dev.</span></div></div></th>
        </tr>
        {% if peer_reviewer_proposals %}
            <tr>
                <th class="col_sortable sideways" data-col_sortkey="proposal_code"><div><div><span>Proposal</span></div></div></th>
                {% for person in persons.values() %}
                    {% if person.id in peer_reviewer_proposals %}
                        <th rowspan="2" class="sideways"><div><div>
                            {% with peer_proposals = peer_reviewer_proposals[person.id] %}
                                {% with proposal = peer_proposals[0] %}
                                    <a href="{{ url_for('.proposal_view', proposal_id=proposal.id) }}">{{ proposal.code }}</a>
                                {% endwith %}
                                {% if (peer_proposals | length ) > 1 %}
                                    <abbr title="{% for i in range(1, (peer_proposals | length))%}{{ peer_proposals[i].code }}{% if not loop.last %}, {% endif %}{% endfor %}">&hellip;</abbr>
                                {% endif %}
                            {% endwith %}
                        </div></div></th>
                    {% else %}
                        <th rowspan="2">&nbsp;</th>
                    {% endif %}
            {% endfor %}
            </tr>
        {% endif %}
        <tr>
            <th class="sortable sortedalready" data-sortkey="proposal_code">Proposal</th>
        </tr>
    </thead>
    <tbody>
        {% for proposal in proposals.values() %}
            {% if proposal.id in ratings %}
                <tr data-sortinfo="{{ {
                            'proposal_code': proposal.code,
                            'rat_mean': rating_proposal_mean[proposal.id],
                            'rat_stdev': rating_proposal_stdev[proposal.id],
                            'weight_mean': weight_proposal_mean[proposal.id],
                            'weight_stdev': weight_proposal_stdev[proposal.id],
                        } | json }}">
                    {% with proposal_ratings = ratings[proposal.id] %}
                    {% with proposal_weights = weights[proposal.id] %}
                        <td><a href="{{ url_for('.proposal_view', proposal_id=proposal.id) }}">{{ proposal.code }}</a></td>
                        {% for (person_id, person) in persons.items() %}
                            {% if person_id in proposal_ratings %}
                                <td class="number_center" style="background-color: {{ proposal_weights[person_id] | color_scale() }};">
                                    {{ proposal_ratings[person_id] }}
                                </td>
                            {% else %}
                                <td>&nbsp;</td>
                            {% endif %}
                            </td>
                        {% endfor %}
                    {% endwith %}
                    {% endwith %}
                    <td class="spacer_left total">
                        {{ rating_proposal_mean[proposal.id] | fmt('{:.0f}') }}
                    </td>
                    <td class="total">
                        {{ rating_proposal_stdev[proposal.id] | fmt('{:.0f}') }}
                    </td>
                    <td class="spacer_left total">
                        {{ weight_proposal_mean[proposal.id] | fmt('{:.0f}') }}
                    </td>
                    <td class="total">
                        {{ weight_proposal_stdev[proposal.id] | fmt('{:.0f}') }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr class="spacer_above">
            <th class="col_sortable col_sortreverse" data-col_sortkey="rat_mean">Rating mean</th>
            {% for person_id in persons.keys() %}
                <td class="spacer_above total">
                    {{ rating_person_mean[person_id] | fmt('{:.0f}') }}
                </td>
            {% endfor %}
            <td class="spacer_left spacer_above grandtotal" colspan="4" rowspan="4">&nbsp;</td>
        </tr>
        <tr>
            <th class="col_sortable col_sortreverse" data-col_sortkey="rat_stdev">Rating std. dev.</th>
            {% for person_id in persons.keys() %}
                <td class="spacer_above total">
                    {{ rating_person_stdev[person_id] | fmt('{:.0f}') }}
                </td>
            {% endfor %}

        </tr>
        <tr class="spacer_above">
            <th class="col_sortable col_sortreverse" data-col_sortkey="weight_mean">Weight mean</th>
            {% for person_id in persons.keys() %}
                <td class="spacer_above total">
                    {{ weight_person_mean[person_id] | fmt('{:.0f}') }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <th class="col_sortable col_sortreverse" data-col_sortkey="weight_stdev">Weight std. dev.</th>
            {% for person_id in persons.keys() %}
                <td class="spacer_above total">
                    {{ weight_person_stdev[person_id] | fmt('{:.0f}') }}
                </td>
            {% endfor %}
        </tr>
    </tfoot>
</table>

{% endblock %}
