{% extends 'layout_wide.html' %}
{% set navigation=[((call.semester_name, call.queue_name, (call.type | call_type_name(facility_call_type_class))) | fmt('{} {} {}'), url_for('.review_call', call_id=call.id))] %}
{% set help_link=url_for('help.admin_page', page_name='review_process') %}

{% block content %}
{% if targets %}
<nav>
    <p>
        {% for target in targets %}
            <a href="{{ target.url }}">{{ target.text }}</a>
            {% if not loop.last %}
                <br />
            {% endif %}
        {% endfor %}
    </p>
</nav>
{% endif %}

<form method="GET" action="{{ url_for('.review_call_reviewers', call_id=call.id) }}">
    <p>
        <select name="role">
            <option value="" {{ 'selected="selected"' | safe if (current_role is none) }}>Any role</option>
            {% for (role_num, role_name) in roles.items() %}
                <option value="{{ role_num }}" {{ 'selected="selected"' | safe if (role_num == current_role) }}>{{ role_name }}</option>
            {% endfor %}
        </select>
        <select name="state">
            <option value="" {{ 'selected="selected"' | safe if (current_state is none) }} >Any status</option>
            {% for (state_num, state_name) in states.items() %}
                <option value="{{ state_num }}" {{ 'selected="selected"' | safe if (current_state == state_num) }}>{{ state_name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>

<table>
    <tr>
        <th>Proposal</th>
        <th>State</th>
        <th>PI Name</th>
        <th>Title</th>
        <th>Reviewer role</th>
        <th>Reviewer name</th>
        <th>Review status</th>
        <th>Actions</th>
    </tr>
    {% for proposal in proposals %}
        {% with reviewers = proposal.reviewers %}
            {% if not reviewers %}
                {% set reviewers = {none: none} %}
            {% endif %}
            {% for reviewer in reviewers.values() %}
                <tr>
                    {% if loop.first %}
                        <td rowspan="{{ reviewers | length }}"><a href="{{ url_for('.proposal_view', proposal_id=proposal.id) }}">{{ proposal.code }}</a></td>
                        <td rowspan="{{ reviewers | length }}">{{ proposal.state | proposal_state_name }}</td>
                        <td rowspan="{{ reviewers | length }}">
                            {% if proposal.member is not none %}
                                <a href="{{ url_for('people.person_view', person_id=proposal.member.person_id) }}">{{ proposal.member.person_name | abbr(25) }}</a>
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                        <td rowspan="{{ reviewers | length }}">{{ proposal.title | abbr(25) }}</td>
                    {% endif %}
                    {% if reviewer is none %}
                        <td colspan="3"><span class="missing_data">none {{ 'assigned' if ((current_role is none) and (current_state is none)) else 'matching filter' }}</span></td>
                    {% else %}
                        <td class="{{ reviewer.role | reviewer_role_class(facility_role_class) }}">
                            <a href="{{ url_for('.review_edit', reviewer_id=reviewer.id, referrer='cr') }}">{{ reviewer.role | reviewer_role_name(facility_role_class) }}</a>
                        </td>
                        <td class="{{ reviewer.role | reviewer_role_class(facility_role_class) }}">
                            <a href="{{ url_for('people.person_view', person_id=reviewer.person_id) }}">{{ reviewer.person_name | abbr(25) }}</a>
                            {% if not reviewer.person_registered %}
                                <span class="label">unregistered</span>
                            {% endif %}
                        </td>
                        <td class="{{ reviewer.review_state | review_state_class }}">
                            {{ reviewer.review_state | review_state_name }}
                            {% if reviewer.role in proposal.invite_roles %}
                                {% if reviewer.review_state is not review_state_present %}
                                    <a href="{{ url_for('.proposal_reviewer_remove', reviewer_id=reviewer.id) }}">Remove</a>
                                {% endif %}
                                {% if reviewer.review_state is not review_state_done %}
                                    <a href="{{ url_for('.proposal_reviewer_remind', reviewer_id=reviewer.id) }}">Send reminder</a>
                                {% endif %}
                            {% endif %}
                            {% if (not reviewer.person_registered) and (reviewer.role in proposal.invite_roles) %}
                                    <a href="{{ url_for('.proposal_reviewer_reinvite', reviewer_id=reviewer.id) }}">Re-send invitation</a>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if loop.first %}
                        <td rowspan="{{ reviewers | length }}">
                            {% for reviewer_role in proposal.invite_roles %}
                                <a href="{{ url_for('.proposal_reviewer_add', proposal_id=proposal.id, reviewer_role=reviewer_role) }}">Add {{ reviewer_role | reviewer_role_name(facility_role_class) | lower }} reviewer</a>
                                <br />
                            {% endfor %}
                            <a href="{{ url_for('.proposal_reviews', proposal_id=proposal.id) }}">View reviews</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endwith %}
    {% endfor %}
</table>
{% endblock %}
