{% extends 'layout_wide.html' %}
{% set navigation=[((call.semester_name, call.queue_name, (call.type | call_type_name(facility_call_type_class))) | fmt('{} {} {}'), url_for('.review_call', call_id=call.id))] %}

{% set help_link=url_for('help.admin_page', page_name='review_statistics') %}

{% block content %}

<nav>
    <ol>
        <li><a href="{{ url_for('.review_call_stats_download', call_id=call.id) }}">Download as a CSV file</a></li>
    </ol>
</nav>

<ul>
    <li>
        This table shows the rating given by each reviewer to each proposal,
        converted to a 0 &ndash; 100 scale where necessary.
    </li>
    <li>
        If a reviewer gave multiple ratings to the same proposal,
        only a single value is shown here.
    </li>
    <li>
        The weighting associated with each value is indicated by the background color
        and is summarized in the mean and standard deviation cells
        on a 0 &ndash; 100 scale.
    </li>
</ul>

<table>
    <thead>
        <tr>
            <th>Proposal</th>
            {% for person in persons.values() %}
                <th class="sideways"><div><div>{{ person.name | abbr(25) }}</div></div></th>
            {% endfor %}
            <th class="sideways spacer_left"><div><div>Rating mean</div></div></th>
            <th class="sideways"><div><div>Rating std. dev.</div></div></th>
            <th class="sideways spacer_left"><div><div>Weight mean</div></div></th>
            <th class="sideways"><div><div>Weight std. dev.</div></div></th>
        </tr>
    </thead>
    {% for proposal in proposals.values() %}
        {% if proposal.id in ratings %}
            <tr>
                {% with proposal_ratings = ratings[proposal.id] %}
                {% with proposal_weights = weights[proposal.id] %}
                    <td>{{ proposal.code }}</td>
                    {% for (person_id, person) in persons.items() %}
                        {% if person_id in proposal_ratings %}
                            <td class="number_center" style="background-color: {{ proposal_weights[person_id] | color_scale() }};">
                                {{ proposal_ratings[person_id] }}
                            </td>
                        {% else %}
                            <td>&nbsp;</td>
                        {% endif %}
                        </td>
                    {% endfor %}
                {% endwith %}
                {% endwith %}
                <td class="spacer_left total">
                    {{ rating_proposal_mean[proposal.id] | fmt('{:.0f}') }}
                </td>
                <td class="total">
                    {{ rating_proposal_stdev[proposal.id] | fmt('{:.0f}') }}
                </td>
                <td class="spacer_left total">
                    {{ weight_proposal_mean[proposal.id] | fmt('{:.0f}') }}
                </td>
                <td class="total">
                    {{ weight_proposal_stdev[proposal.id] | fmt('{:.0f}') }}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    <tr class="spacer_above">
        <th>Rating mean</th>
        {% for person_id in persons.keys() %}
            <td class="spacer_above total">
                {{ rating_person_mean[person_id] | fmt('{:.0f}') }}
            </td>
        {% endfor %}
        <td class="spacer_left spacer_above grandtotal" colspan="4" rowspan="4">&nbsp;</td>
    </tr>
    <tr>
        <th>Rating std. dev.</th>
        {% for person_id in persons.keys() %}
            <td class="spacer_above total">
                {{ rating_person_stdev[person_id] | fmt('{:.0f}') }}
            </td>
        {% endfor %}

    </tr>
    <tr class="spacer_above">
        <th>Weight mean</th>
        {% for person_id in persons.keys() %}
            <td class="spacer_above total">
                {{ weight_person_mean[person_id] | fmt('{:.0f}') }}
            </td>
        {% endfor %}
    </tr>
    <tr>
        <th>Weight std. dev.</th>
        {% for person_id in persons.keys() %}
            <td class="spacer_above total">
                {{ weight_person_stdev[person_id] | fmt('{:.0f}') }}
            </td>
        {% endfor %}
    </tr>
</table>

{% endblock %}
