{% extends 'layout.html' %}
{% set navigation=[((call.semester_name, call.queue_name, (call.type | call_type_name(facility_call_type_class))) | fmt('{} {} {}'), url_for('.review_call', call_id=call.id))] %}
{% set help_link=url_for('help.admin_page', page_name='affiliation_weight') %}
{% set scripts=['checkbox_indeterminate', 'call_affiliation_weight'] %}

{% block content %}
<ul>
    {% block weight_meaning_list %}
        <li>
            The affiliation weight can influence the relative assignment
            of a proposal to its members&rsquo; affiliations.
        </li>
        <li>
            The exact meaning depends on the facility&rsquo;s specific
            affiliation assignment rules.
        </li>
    {% endblock %}
</ul>

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ url_for('.review_affiliation_weight', call_id=call.id) }}">
    <table id="affiliation_weight">
        <tr>
            <th>Affiliation</th>
            <th>Weight</th>
            <th>Override hidden</th>
            <th>Override assignment type</th>
        </tr>
        {% for (hidden, hidden_affiliations) in affiliations.group_by_hidden() %}
            {% for affiliation in hidden_affiliations.values_in_type_order(facility_affiliation_type_class) %}
                <tr {{ combined_class(('spacer_above', loop.first and hidden),) | safe }}>
                    <td>
                        {{ affiliation.name }}
                        {% if affiliation.type is not affiliation_type_standard(facility_affiliation_type_class) %}<span class="label">{{ affiliation.type | affiliation_type_name(facility_affiliation_type_class) }}</span>{% endif %}
                    </td>
                    <td><input type="number" name="weight_{{ affiliation.id }}" value="{{ affiliation.weight.weight if affiliation.weight.weight is not none }}" min="0" step="any"></td>
                    <td class="control_center"><input type="checkbox" name="hidden_{{ affiliation.id }}" class="checkbox_indeterminate" value="{{ 'indeterminate' if affiliation.weight.hidden is none else 'yes' }}" {{ 'checked="checked"' | safe if affiliation.weight.hidden or (affiliation.weight.hidden is none)}} /></td>
                    <td><select name="type_{{ affiliation.id }}">
                        <option value="" {{ 'selected="selected"' | safe if affiliation.weight.type is none }}>&mdash;</option>
                        <hr />
                        {% for (type_id, type_name) in affiliation_types.items() %}
                            <option value="{{ type_id }}" {{ 'selected="selected"' | safe if type_id == affiliation.weight.type }}>{{ type_name }}</option>
                        {% endfor %}
                    </select></td>
                </tr>
            {% endfor %}
        {% endfor %}
        <tr>
            <th>Total</th>
            <th><span id="total_weight">Loading&hellip;</span></th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </table>

    <p>
        Notes:
        <br />
        <textarea name="note" cols="80" rows="5">{{ note.text }}</textarea>
    </p>
    <p>
        <input type="submit" name="submit" value="Save" />
        <input type="hidden" name="note_format" value="{{ note.format }}" />
    </p>
</form>

{% endblock %}
