{% extends 'layout.html' %}
{% set navigation=['facility_admin',
                   ('Calls', url_for('.call_list')),
                   ((call.semester_name, call.queue_name, (call.type | call_type_name(facility_call_type_class))) | fmt('{} {} {}'), url_for('.call_view', call_id=call.id))] %}
{% set help_link=url_for('help.admin_page', page_name='call') %}

{% block content %}

{% if not proposals %}
    <p class="not_present">
        No proposals have been received for this call.
    </p>
{% else %}
    <table>
        <tr>
            {% for state in state_proposals.keys() %}
                <th>{{ state | proposal_state_name }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for n_proposals in state_proposals.values() %}
                <td class="number_center">{{ n_proposals }}</td>
            {% endfor %}
        </tr>
    </table>

    <table>
        <tr>
            <th>Proposal</th>
            <th>Type</th>
            <th>Title</th>
            <th>State</th>
            <th>PI Name</th>
            <th>PI Affiliation</th>
        </tr>
        {% for proposal in proposals %}
            <tr>
                <td>
                    <a href="{{ url_for('.proposal_view', proposal_id=proposal.id) }}" id="proposal_view_{{ proposal.id }}">{{ proposal.code }}</a>
                </td>
                <td>{{ proposal.type | proposal_type_short_name }}</td>
                <td>{{ proposal.title }}</td>
                <td>{{ proposal.state | proposal_state_name }}</td>
                {% if proposal.member is not none %}
                    <td>
                        <a href="{{ url_for('people.person_view', person_id=proposal.member.person_id) }}">{{ proposal.member.person_name }}</a>
                    </td>
                    <td>{{ proposal.member.affiliation_name }}</td>
                {% else %}
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock %}
