{% extends "layout.html" %}
{% set navigation=['facility_admin', ('Calls', url_for('.call_list'))] %}
{% set help_link=url_for('help.admin_page', page_name='call') %}

{% block content %}

<table>
    <tr>
        <th>Semester</th>
        <td>
            <a href="{{ url_for('.semester_view', semester_id=call.semester_id) }}">{{ call.semester_name }}</a>
            {% if call.multi_semester %}
                <span class="label">multiple</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Queue</th>
        <td>
            <a href="{{ url_for('.queue_view', queue_id=call.queue_id) }}">{{ call.queue_name }}</a>
            {% if call.separate %}
                <span class="label">separate</span>
            {% endif %}
            {% if call.hidden %}
                <span class="label">hidden</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Type</th>
        <td>
            {{ call.type | call_type_name(facility_call_type_class) }}
            {% if call.allow_continuation %}
                <span class="label">continuation request</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Open</th>
        <td>{{ call.date_open | format_datetime }}</td>
    </tr>
    {% if mid_closes is not none %}
        <th>Intermediate close dates</th>
        <td>
            {% if mid_closes %}
                <ul>
                    {% for mid_close in mid_closes.values() %}
                        <li>
                            {{mid_close.date | format_datetime }}
                            {% if mid_close.closed %}
                                <span class="label">closed</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="missing">No intermediate dates have been specified.</p>
            {% endif %}
            <nav>
                <ol>
                    <li><a href="{{ url_for('.call_mid_close', call_id=call.id) }}">Edit intermediate close dates</a></li>
                </ol>
            </nav>
        </td>
    {% endif %}
    <tr>
        <th>Close</th>
        <td>{{ call.date_close | format_datetime }}</td>
    </tr>
    {% orderblocks proposal_order %}
        {% block proposal_abstract %}
            <tr>
                <th>Abstract</th>
                <td>{{ call.abst_word_lim }} word{% if call.abst_word_lim != 1 %}s{% endif %}</td>
            </tr>
        {% endblock %}
        {% block science_case %}
            <tr>
                <th rowspan="4">Scientific Justification</th>
                <td>
                    {% if call.sci_note %}
                        {{ call.sci_note | format_text(call.note_format) }}
                    {% else %}
                        <p class="missing">Note has not been entered.</p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{{ call.sci_word_lim }} word{% if call.sci_word_lim != 1 %}s{% endif %}</td>
            </tr>
            <tr>
                <td>{{ call.sci_fig_lim }} figure{% if call.sci_fig_lim != 1 %}s{% endif %}</td>
            </tr>
            <tr>
                <td>{{ call.sci_page_lim }} page{% if call.sci_page_lim != 1 %}s{% endif %}</td>
            </tr>
        {% endblock %}
        {% block technical_case %}
            <tr>
                <th rowspan="4">Technical Justification</th>
                <td>
                    {% if call.tech_note %}
                        {{ call.tech_note | format_text(call.note_format) }}
                    {% else %}
                        <p class="missing">Note has not been entered.</p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{{ call.tech_word_lim }} word{% if call.tech_word_lim != 1 %}s{% endif %}</td>
            </tr>
            <tr>
                <td>{{ call.tech_fig_lim }} figure{% if call.tech_fig_lim != 1 %}s{% endif %}</td>
            </tr>
            <tr>
                <td>{{ call.tech_page_lim }} page{% if call.tech_page_lim != 1 %}s{% endif %}</td>
            </tr>
        {% endblock %}
        {% block proposal_request %}
        {% endblock %}
        {% block proposal_previous %}
            <tr>
                <th>Previous proposals</th>
                <td>
                    {% if call.prev_prop_note %}
                        {{ call.prev_prop_note | format_text(call.note_format) }}
                    {% else %}
                        <p class="missing">Note has not been entered.</p>
                    {% endif %}
                </td>
            </tr>
        {% endblock %}
    {% endorderblocks %}
    <tr>
        <th>Captions</th>
        <td>{{ call.capt_word_lim }} word{% if call.capt_word_lim != 1 %}s{% endif %}</td>
    </tr>
    <tr>
        <th>Explanations</th>
        <td>{{ call.expl_word_lim }} word{% if call.expl_word_lim != 1 %}s{% endif %}</td>
    </tr>
    {% if call.separate and (call.preamble is not none) %}
        <tr>
            <th>Preamble</th>
            <td>{{ call.preamble | format_text(call.preamble_format) }}</td>
        </tr>
    {% endif %}
</table>

<nav>
    <ol>
        <li><a href="{{ url_for('.call_edit', call_id=call.id) }}">Edit call</a></li>
        <li><a href="{{ url_for('.call_new', call_type=call.type, copy=call.id) }}">Copy call</a></li>
        <li><a href="{{ url_for('.call_proposals', call_id=call.id) }}">View proposals</a></li>
        <li><a href="{{ url_for('.review_call', call_id=call.id) }}">Review process</a></li>
    </ol>
</nav>

{% endblock %}
