{% extends 'confirm.html' %}
{% set navigation=[((call.semester_name, call.queue_name, (call.type | call_type_name(facility_call_type_class))) | fmt('{} {} {}'), url_for('.review_call', call_id=call.id))] %}
{% set help_link=url_for('help.admin_page', page_name='review_final') %}

{% block confirm_extra %}
<ul>
    <li>
        <p>
            This will update the state of the proposals to the final review state.
        </p>
    </li>
    <li>
        <p>
            Committee ratings will be made visible.
        </p>
    </li>
    <li>
        <p>
            Reviewers with the following roles will no longer be able to access proposals
            and edit their reviews:
        </p>
        <ul id="roles_closing_list">
            {% for role_closing in roles_closing %}
                <li>
                    {{ role_closing.role_name }}
                    {% if role_closing.deadline is not none %}
                        (deadline {{ role_closing.deadline.date | format_datetime }}{{ ' &mdash; <b>not yet passed</b>' | safe if role_closing.future }})
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </li>
</ul>
{% endblock %}

{% block confirm_form_extra %}
    {% if proposals is not none %}
        <table>
            <tr>
                <th>Proposal</th>
                <th>PI Name</th>
                <th>Advance?</th>
            </tr>
            {% for proposal in proposals.values() %}
                <tr>
                    <td><a href="{{ url_for('.proposal_view', proposal_id=proposal.id) }}">{{ proposal.code }}</a></td>
                    <td>
                        {% if proposal.member.can_view %}
                            <a href="{{ url_for('people.person_view', person_id=proposal.member.person_id) }}">{{ proposal.member.person_name | abbr(25) }}</a>
                        {% else %}
                            {{ proposal.member.person_name | abbr(25) }}
                        {% endif %}
                    </td>
                    <td class="control_center"><input type="checkbox" name="{{ proposal.id | fmt('proposal_{}') }}" /></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
