{% extends "layout.html" %}
{% set navigation=[(proposal_code, url_for('.proposal_view', proposal_id=proposal_id))] %}

{% block content %}

<p>
    <a href="{{ url_for('.proposal_view', proposal_id=proposal_id) }}">Back to proposal</a>
</p>

{% if note %}
    <section>
        <h2>Note</h2>

        {{ note | format_text }}
    </section>
{% endif %}

{% if word_limit %}
    {% if page_limit %}
        <p class="section_label">
            Either
        </p>
    {% endif %}

    <section {{ 'class="deselected"' | safe if pdf is not none }}>
        <h2>Edit Online</h2>

        <p>
            You may write
            {{ word_limit }} word{% if word_limit != 1 %}s{% endif %}{% if fig_limit %}
                and attach
                {% if fig_limit == 1 %}
                    1 figure{% else %}
                    up to {{ fig_limit }} figures{%endif%}{%endif %}.
        </p>

        {% if text is none %}
            {% if pdf is none %}
                <p class="not_present">
                    No text has been written online.
                </p>
            {% else %}
                <p class="caution">
                    Editing text online will remove your existing PDF file.
                </p>
            {% endif %}
        {% else %}
            <table>
                <tr>
                    <th>Words</th>
                    <td>{{ text.words }}</td>
                </tr>
                <tr>
                    <th>Last edited</th>
                    <td>{{ text.edited | format_datetime }} UTC</td>
                </tr>
                <tr>
                    <th>Last edited by</th>
                    <td>
                        {% if session['is_admin'] %}
                            <a href="{{ url_for('people.person_view', person_id=text.editor) }}">{{ text.editor_name }}</a>
                        {% else %}
                            {{ text.editor_name }}
                        {% endif %}
                    </td>
                </tr>
            </table>
        {% endif %}

        <nav>
            <p>
                <a href="{{ target_text }}">Edit text</a>
            </p>
        </nav>

        {% if figures %}
            <table>
                <tr>
                    <th colspan="2">Figure</th>
                    <th>Caption</th>
                    <th>Information</th>
                </tr>
                {% for figure in figures %}
                    <tr>
                        <th>{{ loop.index }}</th>
                        <td>
                            {% if figure.state is attachment_ready %}
                                <a href="{{ figure.target_full }}">
                                    <img src="{{ figure.target_view }}" />
                                </a>
                            {% elif figure.state is attachment_error %}
                                <p class="warning">
                                    Error during processing
                                </p>
                                <p>
                                    <a href="{{ figure.target_full }}">View image</a>
                                </p>
                            {% else %}
                                <p class="not_present">
                                    Not yet processed
                                </p>
                                <p>
                                    <a href="{{ figure.target_full }}">View image</a>
                                </p>
                            {% endif %}
                        </td>
                        <td>
                            {{ figure.caption | format_text }}
                        </td>
                        <td>
                            {{ figure.filename }}
                            <br />
                            Uploaded:
                            {{ figure.uploaded | format_datetime }}
                            <br />
                            <a href="{{ figure.target_edit }}">Edit figure</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <nav>
                <p>
                    <a href="{{ target_manage_figure }}">Manage figures</a>
                </p>
            </nav>
        {% endif %}

        {% if fig_limit > (figures | length) and pdf is none %}
            <nav>
                <p>
                    {% if true %}
                        <a href="{{ target_new_figure }}">Upload new figure</a>
                    {% endif %}
                </p>
            </nav>
        {% endif %}
    </section>
{% endif %}

{% if page_limit %}
    {% if word_limit %}
        <p class="section_label">
            Or
        </p>
    {% endif %}

    <section {{ 'class="deselected"' | safe if text is not none }}>
        <h2>Upload PDF File</h2>

        <p>
            You may upload a PDF file with
            {% if page_limit == 1 %}
                1 page.
            {% else %}
                up to {{ page_limit }} pages.
            {% endif %}
        </p>

        {% if pdf is none %}
            {% if text is none %}
                <p class="not_present">
                    No PDF file has been uploaded.
                </p>
            {% else %}
                <p class="caution">
                    Uploading a PDF will remove your existing
                    text and figures.
                </p>
            {% endif %}
        {% else %}
            <table>
                <tr>
                    <th>File name</th>
                    <td>{{ pdf.filename }}</td>
                </tr>
                <tr>
                    <th>Pages</th>
                    <td>{{ pdf.pages }}</td>
                </tr>
                <tr>
                    <th>Uploaded</th>
                    <td>{{ pdf.uploaded | format_datetime }} UTC</td>
                </tr>
                <tr>
                    <th>Uploaded by</th>
                    <td>
                        {% if session['is_admin'] %}
                            <a href="{{ url_for('people.person_view', person_id=pdf.uploader) }}">{{ pdf.uploader_name }}</a>
                        {% else %}
                            {{ pdf.uploader_name }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>MD5 sum</th>
                    <td>{{ pdf.md5sum }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>
                        {% if pdf.state is attachment_ready %}
                            Processed successfully
                        {% elif pdf.state is attachment_error %}
                            Error during processing
                        {% else %}
                            Not yet processed
                        {% endif %}
                    </td>
                </tr>
            </table>
        {% endif %}

        <nav>
            <p>
                {% if pdf is not none %}
                    <a href="{{ target_pdf_view }}">View current PDF file</a>
                    <br />
                {% endif %}
                <a href="{{ target_pdf }}">Upload {{ 'new' if pdf is none else 'replacement' }} PDF file</a>
            </p>
        </nav>
    </section>
{% endif %}

{% if (not word_limit) and (not page_limit) %}
    <p>
        No word or page limits have been configured for this
        call for proposals.
    </p>
{% endif %}

{% endblock %}
