{% extends "layout.html" %}

{% set help_link=url_for('help.user_page', page_name='proposal_create') %}

{% block content %}

{% if session.is_admin %}
    <nav>
        <p>
            <a id="admin_menu_link" href="{{ url_for('.facility_admin') }}">Administrative menu</a>
        </p>
    </nav>
{% endif %}

<h2 id="call">Calls for Proposals</h2>

{% if open_semesters %}
    <p>
        The following
        {{ facility_call_type_class.STANDARD | call_type_name(facility_call_type_class) | lower }}
        calls for proposals are open:
    </p>

    <ul>
        {% for semester_id, semester_name in open_semesters.items() %}
            <li><a id="semester_{{ semester_id }}_link" href="{{ url_for('.semester_calls', semester_id=semester_id, call_type=facility_call_type_class.STANDARD) }}">{{ semester_name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>
        There are currently no open
        {{ facility_call_type_class.STANDARD | call_type_name(facility_call_type_class) | lower }}
        calls for proposals.
    </p>
{% endif %}

{% if open_nonstandard_semesters or closed_semesters %}
    <nav>
        <p>
            {% if open_nonstandard_semesters %}
                <a href="{{ url_for('.semester_non_standard') }}">Other calls for proposals</a>
                <br />
            {% endif %}

            {% if closed_semesters %}
                <a href="{{ url_for('.semester_closed') }}">Previous calls for proposals</a>
            {% endif %}
        </p>
    </nav>
{% endif %}

<h2 id="calc">Calculators</h2>

{% if calculators %}
    <ul>
        {% for calculator in calculators %}
            <li>
                {{ calculator.name }}
                <ul>
                    {% for mode_id, mode in calculator.modes.items() %}
                        <li><a href="{{ url_for('.calc_' + calculator.code + '_' + mode.code) }}">{{ mode.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="not_present">
        No calculators are available.
    </p>
{% endif %}

<h2 id="targtool">Target Tools</h2>

{% if target_tools %}
    <ul>
        {% for tool in target_tools %}
            <li>
                <a href="{{ url_for('.tool_' + tool.code) }}">{{ tool.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="not_present">
        No target tools are available.
    </p>
{% endif %}

{% if review_calls %}
    <h2 id="reviewprocess">Review Processes</h2>

    <ul>
        {% for review_call in review_calls %}
            <li>
                <a href="{{ url_for('.review_call', call_id=review_call.id) }}">
                    {{ review_call.semester_name }},
                    {{ review_call.queue_name }}
                    ({{ review_call.type | call_type_name(facility_call_type_class) }})
                </a>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
