{% extends "layout.html" %}

{% set help_link=url_for('help.user_page', page_name='proposal_create') %}

{% from 'macro/call.html' import render_call_list %}

{% block content %}

{% if show_admin_links %}
    <nav>
        <ol class="fa-ul">
            <li><a id="admin_menu_link" href="{{ url_for('.facility_admin') }}"><span class="fa-li"><span class="fa-solid fa-building-shield"></span></span>Administrative menu</a></li>
        </ol>
    </nav>
{% endif %}

<h2 id="call">Calls for Proposals</h2>

{% if open_calls_std %}
    {% with plural = (open_calls_std_count > 1) %}
        <p>
            The following
            {{ facility_call_type_class.STANDARD | full_call_type_name(facility_call_type_class, plural=plural) }}
            {{ 'are' if plural else 'is' }} open:
        </p>
    {% endwith %}

    {{ render_call_list(facility_call_type_class, open_calls_std, call_type=facility_call_type_class.STANDARD) }}
{% else %}
    <p>
        There are currently no open
        {{ facility_call_type_class.STANDARD | call_type_name(facility_call_type_class) | lower }}
        calls for proposals.
    </p>
{% endif %}

{% if open_calls_nonstd %}
    <nav>
        <ol>
            <li><a href="{{ url_for('.semester_non_standard') }}">Other calls for proposals</a></li>
        </ol>
    </nav>
{% endif %}

{% if closed_calls_std %}
    <nav>
        <ol>
            <li><a href="{{ url_for('.semester_closed') }}">Previous calls for proposals</a></li>
        </ol>
    </nav>
{% endif %}

<h2 id="calc">Calculators</h2>

{% if calculators %}
    <ul>
        {% for calculator in calculators.values() %}
            <li>
                {{ calculator.name }}
                <ul>
                    {% for mode_id, mode in calculator.modes.items() %}
                        <li><a href="{{ url_for('.calc_' + calculator.code + '_' + mode.code) }}">{{ mode.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="not_present">
        No calculators are available.
    </p>
{% endif %}

<h2 id="targtool">Target Tools</h2>

{% if target_tools %}
    <ul>
        {% for tool in target_tools.values() %}
            <li>
                <a href="{{ url_for('.tool_' + tool.code) }}">{{ tool.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="not_present">
        No target tools are available.
    </p>
{% endif %}

{% if review_calls %}
    <h2 id="reviewprocess">Review Processes</h2>

    <ul>
        {% for (semester_id, semester_review_calls) in review_calls.group_by('semester_id') %}
            <li>

                {% with call = semester_review_calls | first_value %}
                    {{ call.semester_name }}
                {% endwith %}
                <ul>
                    {% for (queue_id, queue_review_calls) in semester_review_calls.group_by('queue_id') %}
                        <li>
                            {% with call = queue_review_calls | first_value %}
                                {{ call.queue_name }}:
                            {% endwith %}
                            {% for review_call in queue_review_calls.values() %}
                                <a href="{{ url_for('.review_call', call_id=review_call.id) }}" class="{{ 'active_entries' if (review_call.proposal_count > 0) else 'inactive_entries'}}">{{ review_call.type | call_type_name(facility_call_type_class) | lower }}</a>{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
