{% extends "layout.html" %}
{% set navigation=[(proposal_code, url_for('.proposal_view', proposal_id=proposal_id))] %}
{% set scripts=['table_row_drag', 'manage_figure'] %}

{% block content %}

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ target }}">
    <table id="figures">
        <tr>
            <th colspan="2">Figure</th>
            <th>Information</th>
            <th>Actions</th>
        </tr>
        {% for figure in figures.values_in_sorted_order() %}
            <tr id="figrow_{{ figure.id }}">
                <td class="draggrip">&vellip;&vellip;</td>
                <td>
                    {% if figure.state is attachment_ready %}
                        <img src="{{ url_for('.case_view_figure_thumbnail', proposal_id=proposal_id, role=role, fig_id=figure.id, md5sum=figure.md5sum) }}" />
                    {% elif figure.state is attachment_error %}
                        <p class="warning">
                            Error during processing
                        </p>
                    {% else %}
                        <p class="not_present">
                            Not yet processed
                        </p>
                    {% endif %}
                </td>
                <td>
                    {{ figure.filename }}
                    <br />
                    Uploaded:
                    {{ figure.uploaded | format_datetime }}
                    <br />
                    Uploaded by:
                    {{ figure.uploader_name }}
                    <br />
                    {{ figure.md5sum }}
                </td>
                <td>
                    <input type="button" id="delete_{{ figure.id }}" value="Delete" />
                    <input name="sort_order_{{ figure.id }}" type="hidden" value="{{ figure.sort_order }}" />
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        <input type="submit" value="Save" name="submit" />
    </p>
</form>

{% endblock %}
