{% extends "layout.html" %}

{% set navigation = concatenate_lists(
    (none if proposal_id is none else [(proposal_code | default('Unknown Proposal', true), url_for('.proposal_view', proposal_id=proposal_id))]),
    (none if reviewer_id is none else [(reviewer_role | reviewer_role_name(facility_role_class, with_review=true), url_for('.review_edit', reviewer_id=reviewer_id))])) %}

{% set scripts=['table_row_drag', 'manage_figure'] %}

{% block content %}

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ target }}">
    <table id="figures">
        <tr>
            <th colspan="2">Figure</th>
            <th>Information</th>
            <th>Actions</th>
        </tr>
        {% for figure in figures.values_in_sorted_order() %}
            <tr id="figrow_{{ figure.id }}">
                <td class="draggrip">&vellip;&vellip;</td>
                <td>
                    {% if figure.state is attachment_ready %}
                        {% if reviewer_id is none %}
                            <img src="{{ url_for('.case_view_figure_thumbnail', proposal_id=proposal_id, role=role, fig_id=figure.id, md5sum=figure.md5sum) }}" />
                        {% else %}
                            <img src="{{ url_for('.review_view_figure_thumbnail', reviewer_id=reviewer_id, fig_id=figure.id, md5sum=figure.md5sum) }}" />
                        {% endif %}
                    {% elif figure.state is attachment_error %}
                        <p class="warning">
                            Error during processing
                        </p>
                    {% else %}
                        <p class="not_present">
                            Not yet processed
                        </p>
                    {% endif %}
                </td>
                <td>
                    {{ figure.filename }}
                    <br />
                    Uploaded:
                    {{ figure.uploaded | format_datetime }}
                    <br />
                    Uploaded by:
                    {{ figure.uploader_name }}
                    <br />
                    {{ figure.md5sum }}
                </td>
                <td>
                    <input type="button" id="delete_{{ figure.id }}" value="Delete" />
                    <input name="sort_order_{{ figure.id }}" type="hidden" value="{{ figure.sort_order }}" />
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        <input type="submit" value="Save" name="submit" />
    </p>
</form>

{% endblock %}
