{% extends "layout.html" %}

{% set navigation = concatenate_lists(
    (none if proposal_id is none else [(proposal_code | default('Unknown Proposal', true), url_for('.proposal_view', proposal_id=proposal_id))]),
    (none if reviewer_id is none else [(reviewer_role | reviewer_role_name(facility_role_class, with_review=true), url_for('.review_edit', reviewer_id=reviewer_id))])) %}

{% if word_limit is not none %}
    {% set scripts=['edit_text'] %}
{% endif %}

{% block content %}

<ul>
    {% if figure.id is not none %}
        <li>
            You may select a replacement image to upload if you wish
            to change the figure itself.
        </li>
        <li>
            To edit the caption only, do not select a new file to upload.
        </li>
    {% endif %}
    <li class="explanation">
        The following file types are supported:
        {{ mime_type_names | join(', ') }}.
    </li>
</ul>

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ target }}" enctype="multipart/form-data">
    <ol>
        <li>
            <label for="file">Figure</label>
            <input type="file" name="file" accept="{{ mime_types | join (',') }}" />
            <span class="explanation">maximum size {{ max_size }} MiB</span>
        </li>
        <li>
            <label for="text">Caption</label>
            <textarea name="text" autofocus="autofocus" cols="40" rows="10" {{ word_limit | fmt('data-wordlimit="{}"') | safe }}>{{ figure.caption }}</textarea>
        </li>
        <li>
            <input type="submit" value="Save" name="submit" />
            {% if word_limit is not none %}
                <span id="text_words"></span>
            {% endif %}
        </li>
    </ol>
</form>

{% endblock %}
