{% extends 'layout.html' %}
{% set navigation=['facility_admin', ('Queues', url_for('.queue_list')), (queue.name, url_for('.queue_view', queue_id=queue.id)), (group_info.name, url_for('.group_view', queue_id=queue.id, group_type=group_type))] %}
{% set scripts=['edit_group_member'] %}

{% block content %}
{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ url_for('.group_member_edit', queue_id=queue.id, group_type=group_type) }}">
    <table>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        {% for member in members %}
            <tr id="memberrow_{{ member.id }}">
                <td>{{ member.person_name }}</td>
                <td>
                    <input type="hidden" name="member_{{ member.id }}" value="1" />
                    <input type="button" id="delete_{{ member.id }}" value="Delete" />
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        <input type="submit" value="Save" name="submit" />
    </p>
</form>
{% endblock %}
