{% extends 'layout.html' %}
{% set navigation=['facility_admin', ('Queues', url_for('.queue_list')), (queue.name, url_for('.queue_view', queue_id=queue.id))] %}
{% set help_link=url_for('help.admin_page', page_name='review_group') %}

{% from 'macro/institution.html' import render_member_institution %}

{% block content %}
<p>
    Members of this group:
</p>

<ul>
    {% set n_permission = 0 %}
    {% if group_info.view_all_prop %}
        <li>Can view all proposals.</li>
        {% set n_permission = n_permission + 1 %}
    {% endif %}
    {% if group_info.private_moc %}
        <li>Can search private coverage maps.</li>
        {% set n_permission = n_permission + 1 %}
    {% endif %}
    {% if group_info.review_coord %}
        <li>Can manage review processes.</li>
        {% set n_permission = n_permission + 1 %}
    {% endif %}
    {% if n_permission == 0 %}
        <li>Have no special access rights.</li>
    {% endif %}
</ul>

{% if not members %}
    <p class="not_present">
        This group currently has no members.
    </p>
{% else %}
    <table>
        <tr>
            <th>Name</th>
            <th>Institution</th>
            <th>Links</th>
        </tr>
        {% for member in members.values() %}
            <tr>
                <td>
                    <a href="{{ url_for('people.person_view', person_id=member.person_id) }}">{{ member.person_name }}</a>
                    {% if not member.person_registered %}
                        <span class="label">unregistered</span>
                    {% endif %}
                </td>
                <td>
                    {% if member.institution_id is none %}
                        &nbsp;
                    {% else %}
                        {{ render_member_institution(member) }}
                    {% endif %}
                </td>
                <td>
                    {% if not member.person_registered %}
                        <a href="{{ url_for('.group_member_reinvite', queue_id=queue.id, group_type=group_type, member_id=member.id) }}">Re-send invitation</a>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

<nav>
    <ol>
        <li><a href="{{ url_for('.group_member_add', queue_id=queue.id, group_type=group_type) }}">Add member</a></li>
        {% if members %}
            <li><a href="{{ url_for('.group_member_edit', queue_id=queue.id, group_type=group_type) }}">Edit members</a></li>
        {% endif %}
    </ol>
<nav>
{% endblock %}
