{% extends 'generic/person_select.html' %}
{% from 'macro/affiliation_tip.html' import render_affiliation_tip %}
{% set navigation=[(proposal_code, url_for('.proposal_view', proposal_id=proposal_id))] %}
{% set help_link=url_for('help.user_page', page_name='member') %}
{% set scripts = ['formtip'] %}

{% from 'macro/member.html' import render_member_warning %}

{% macro render_member_options() %}
    <li>
        <label for="editor">Proposal editor</label>
        <input type="checkbox" name="editor" value="yes" {{ 'checked="checked"' | safe if member.editor }}>
        Can edit proposal
    </li>
    <li>
        <label for="observer">Potential observer</label>
        <input type="checkbox" name="observer" value="yes" {{ 'checked="checked"' | safe if member.observer }}>
        Potential observer
    </li>
    <li>
        <label for="affiliation_id">Affiliation</label>
        <select name="affiliation_id">
            {% for affiliation in affiliations %}
                <option value="{{ affiliation.id }}" {{ 'selected="selected"' | safe if affiliation.id == member.affiliation_id }}>{{ affiliation.name }}</option>
            {% endfor %}
        </select>
        {{ render_affiliation_tip(semester_id) }}
    </li>
{% endmacro %}

{% block content %}
    {{ render_member_warning() }}

    {{ super() }}
{% endblock %}

{% block person_link_form_extra %}
    {{ render_member_options() }}
{% endblock %}

{% block person_invite_form_extra %}
    {{ render_member_options() }}
{% endblock %}
