{% extends "layout.html" %}
{% set scripts=['edit_member'] %}

{% block content %}

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ url_for('.member_edit', proposal_id=proposal_id) }}">
    <table>
        <tr>
            <th>Member</th>
            <th>Affiliation</th>
            <th>Is PI?</th>
            <th>Can edit proposal?</th>
            <th>Potential observer?</th>
            <th>Actions</th>
        </tr>
        {% for member in members %}
            <tr id="memberrow_{{ member.id }}">
                <td>{{ member.person_name }}</td>
                <td>
                    <select name="affiliation_{{ member.id }}">
                        {% for affiliation in affiliations %}
                            <option value="{{ affiliation.id }}" {{ 'selected="selected"' | safe if affiliation.id == member.affiliation_id }}>{{ affiliation.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input type="radio" name="pi" value="{{ member.id }}" {{ 'checked="checked"' | safe if member.pi }} />
                </td>
                <td>
                    {% if session.person.id != member.person_id %}
                        <input type="checkbox" name="editor_{{ member.id }}" value="yes" {{ 'checked="checked"' | safe if member.editor }} />
                    {% elif member.editor %}
                        yes <input type="hidden" name="editor_{{ member.id }}" value="yes" />
                    {% else %}
                        no
                    {% endif %}
                </td>
                <td>
                    <input type="checkbox" name="observer_{{ member.id }}" value="yes" {{ 'checked="checked"' | safe if member.observer }} />
                </td>
                <td>
                    {% if session.person.id != member.person_id %}
                        <input type="button" id="delete_{{ member.id }}" value="Delete" />
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        <input type="submit" value="Save" name="submit" />
    </p>
</form>

{% endblock %}
