{% extends "layout.html" %}
{% from 'macro/affiliation_tip.html' import render_affiliation_tip %}
{% set navigation=[(proposal_code, url_for('.proposal_view', proposal_id=proposal_id))] %}
{% set scripts=['table_row_drag', 'edit_member', 'formtip'] %}
{% set help_link=url_for('help.user_page', page_name='member', _anchor='editing-the-list-of-members') %}

{% from 'macro/member.html' import render_member_warning %}

{% block content %}

{{ render_member_warning() }}

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ url_for('.member_edit', proposal_id=proposal_id) }}">
    <table id="members">
        <tr>
            <th colspan="2">Member</th>
            <th>Affiliation {{ render_affiliation_tip(semester_id, call_type) }}</th>
            <th>Is PI?</th>
            <th>Can edit proposal?</th>
            <th>Potential observer?</th>
            <th>Actions</th>
        </tr>
        {% for member in members.values_in_sorted_order() %}
            <tr id="memberrow_{{ member.id }}">
                <td class="draggrip">&vellip;&vellip;</td>
                <td>
                    {{ member.person_name }}
                    <input name="sort_order_{{ member.id }}" type="hidden" value="{{ member.sort_order }}" />
                </td>
                <td>
                    <select name="affiliation_{{ member.id }}">
                        {% for affiliation in affiliations.values_in_type_order() %}
                            <option value="{{ affiliation.id }}" {{ 'selected="selected"' | safe if affiliation.id == member.affiliation_id }}>{{ affiliation.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input type="radio" name="pi" value="{{ member.id }}" {{ 'checked="checked"' | safe if member.pi }} />
                </td>
                <td>
                    {% if member.can_edit %}
                        <input type="checkbox" name="editor_{{ member.id }}" value="yes" {{ 'checked="checked"' | safe if member.editor }} />
                    {% elif member.editor %}
                        &check; <input type="hidden" name="editor_{{ member.id }}" value="yes" />
                    {% else %}
                        &cross;
                    {% endif %}
                </td>
                <td>
                    <input type="checkbox" name="observer_{{ member.id }}" value="yes" {{ 'checked="checked"' | safe if member.observer }} />
                </td>
                <td>
                    {% if member.can_edit %}
                        <input type="button" id="delete_{{ member.id }}" value="Delete" />
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        <input type="submit" value="Save" name="submit" />
    </p>
</form>

{% endblock %}
