{% extends 'layout.html' %}

{% set help_link=url_for('help.user_page', page_name='target', _anchor='clash-tool') %}

{% block content %}

<p>
    This page lists the coverage maps which are used by the Clash Tool
    to check for matches with your target coordinates.
    You can click on the name of a coverage map to see more information
    about how it is defined.
</p>

<ul>
    {% for moc in mocs %}
        <li>
            <a href="{{ url_for('.tool_clash_moc_info', moc_id=moc.id) }}">{{ moc.name }}</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}
