{% extends "layout.html" %}
{% set navigation=[(proposal_code, url_for('.proposal_view', proposal_id=proposal_id))] %}
{% set scripts=['edit_previous'] %}
{% set help_link=url_for('help.user_page', page_name='prev_proposal') %}

{% block content %}

{% if note %}
    <section>
        <h2>Note</h2>

        {{ note | format_text(note_format) }}
    </section>
{% endif %}

<ul>
    <li>
        You can use the &ldquo;continuation&rdquo; check-box to indicate
        proposals where your current proposal is a continuation of the
        same project.
    </li>
    <li>
        Please note any publications related to each proposal in the
        &ldquo;publications&rdquo; column.
    </li>
    <li>
        If you add a publication via a DOI or other code,
        the system will attempt to look up the publication for you
        and put a brief reference in your proposal.
    </li>
</ul>

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ url_for('.previous_edit', proposal_id=proposal_id) }}">
    <table id="previousproposals">
        <tr>
            <th>Proposal identifier</th>
            <th>Continuation?</th>
            <th>Publications</th>
            <th>Actions</th>
        </tr>
        {% for prev_proposal in prev_proposals.values() %}
            <tr id="previousrow_{{ prev_proposal.id }}">
            <td><input type="text" name="code_{{ prev_proposal.id }}" value="{{ prev_proposal.proposal_code }}" size="20" list="accepted_proposals" /></td>
            <td><input type="checkbox" name="continuation_{{ prev_proposal.id }}" {{ 'checked="checked"' | safe if prev_proposal.continuation }} /></td>
            <td>
                {% for i in range(6) %}
                    {% with pub_present = (i < (prev_proposal.publications | length)) %}
                        {% if pub_present %}
                            {% set this_pub = prev_proposal.publications[i] %}
                        {% endif %}
                        <select name="pub_type_{{ i }}_{{ prev_proposal.id }}">
                            {% for (pub_type, pub_type_name) in publication_types.items() %}
                                <option value="{{ pub_type }}"
                                    {% if pub_present %}{% if pub_type == this_pub.type %}selected="selected"{% endif %}{% endif %}
                                    data-placeholder="{{ pub_type | publication_type_placeholder }}">{{ pub_type_name }}</option>
                            {% endfor %}
                        </select>
                        <input type="text" name="publication_{{ i }}_{{ prev_proposal.id }}" value="{{ this_pub.description if pub_present }}" size="30" />
                    {% endwith %}
                    {% if not loop.last %}
                        <br />
                    {% endif %}
                {% endfor %}
            </td>
            <td><input type="button" id="delete_{{ prev_proposal.id }}" value="Delete" /></td>

            </tr>
        {% endfor %}
    </table>
    <table class="template">
        <tr id="previousrow_template">
            <td><input type="text" name="code" value="" size="20" list="accepted_proposals" /></td>
            <td><input type="checkbox" name="continuation" /></td>
            <td>
                {% for i in range(6) %}
                    <select name="pub_type_{{ i }}">
                        {% for (pub_type, pub_type_name) in publication_types.items() %}
                            <option value="{{ pub_type }}" data-placeholder="{{ pub_type | publication_type_placeholder }}">{{ pub_type_name }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="publication_{{ i }}" size="30" />
                    {% if not loop.last %}
                        <br />
                    {% endif %}
                {% endfor %}
            </td>
            <td><input type="button" id="delete_template" value="Delete" /></td>
        </tr>
    </table>

    <datalist id="accepted_proposals">
        {% for proposal_code in accepted_proposals %}
            <option value="{{ proposal_code }}" />
        {% endfor %}
    </datalist>

    <p>
        <input type="button" id="add_previous" value="Add previous proposal" />
    </p>

    <p>
        <input type="submit" value="Save" name="submit" />
    </p>
</form>

{% endblock %}
