{% extends 'generic/request_status.html' %}

{% set navigation=[(proposal_code, url_for('.proposal_view', proposal_id=proposal.id))] %}
{% set help_link=url_for('help.user_page', page_name='proposal_complete', _anchor='requesting-a-pdf-file-download') %}

{% block content %}
<nav>
    <ol class="fa-ul">
        <li><a href="{{ url_for('.proposal_view', proposal_id=proposal.id) }}"><span class="fa-li"><span class="fa-solid fa-arrow-left"></span></span>Back to proposal</a></li>
    </ol>
</nav>

{{ super() }}
{% endblock %}
