{% extends 'layout.html' %}
{% set navigation=[((proposal.semester_name, proposal.queue_name, (proposal.call_type | call_type_name(facility_call_type_class))) | fmt('{} {} {}'), url_for('.review_call', call_id=proposal.call_id)),
                   (proposal_code, url_for('.proposal_view', proposal_id=proposal.id))] %}
{% set help_link=url_for('help.admin_page', page_name='review_proposal') %}
{% from 'macro/proposal_summary.html' import render_proposal_summary %}
{% from 'macro/calculation.html' import render_calculation_title, render_calculation %}
{% from 'macro/figure.html' import render_review_figures %}

{% block content %}
<h2>Proposal Information</h2>

{{ render_proposal_summary(facility_name, facility_call_type_class, proposal, proposal_code, abstract=abstract, categories=proposal.categories, can_edit_decision=can_edit_decision) }}

<h2>Reviews</h2>

{% block extra_review_links %}
    {% if can_add_roles %}
    <nav>
        <ol id="extra_review_links">
            {% for role in can_add_roles %}
                <li><a class="create_review_link" href="{{ url_for('.proposal_review_new', proposal_id=proposal.id, reviewer_role=role, referrer='pr') }}">Add {{ role | reviewer_role_name(facility_role_class, with_review=true) | lower }}</a></li>
            {% endfor %}
        </ol>
    </nav>
    {% endif %}
{% endblock %}

{% if review_info_columns is not defined %}
    {% set review_info_columns=['Assessment', 'Rating', 'Weighting'] %}
{% endif %}

{% if not reviews %}
    <p class="not_present">
        There are no reviews for this proposal.
    </p>
{% else %}
    <table>
        <tr>
            <th>Role</th>
            <th>State</th>
            <th>Reviewer</th>
            {% for info_column in review_info_columns %}
                <th>{{ info_column }}</th>
            {% endfor %}
            <th>Edited</th>
        </tr>
        {% for review in reviews.values_in_role_order(facility_role_class) %}
            {# Pre-prepare review text row in case child templates add something even when text is empty. #}
            {% set row_review_text %}
                {% block review_text scoped %}
                    {% if review.review_text is not none %}
                        {{ review.review_text | format_text(review.review_format) }}
                    {% endif %}
                {% endblock %}
            {% endset %}
            {% set show_review = (row_review_text is not none_or_whitespace) %}
            {% set show_calc = (true if review.calculations else false) %}
            {% set show_fig = (true if review.figures else false) %}
            {% set show_note = (review.review_note is not none_or_whitespace) %}
            {% set show_acceptance = (review.acceptance_text is not none_or_whitespace) %}
            <tr class="spacer_above">
                <td rowspan="{{ (show_review, show_calc, show_fig, show_note, show_acceptance) | count_true + 1 }}">
                    {% if review.can_edit %}
                        <a href="{{ url_for('.review_edit', reviewer_id=review.id, referrer='pr') }}">{{ review.role | reviewer_role_name(facility_role_class) }}</a>
                    {% else %}
                        {{ review.role | reviewer_role_name(facility_role_class) }}
                    {% endif %}
                </td>
                <td class="{{ review.review_state | review_state_class }}">
                    {{ review.review_state | review_state_name }}
                </td>
                <td>
                    {% if review.can_view %}
                        <a href="{{ url_for('people.person_view', person_id=review.person_id) }}">{{ review.person_name | abbr(35) }}</a>
                    {% else %}
                        {{ review.person_name | abbr(35) }}
                    {% endif %}
                </td>
                {#
                <td>
                    {% if review.institution_id is not none %}
                        <a href="{{ url_for('people.institution_view', institution_id=review.institution_id) }}">{{ review.institution_name | abbr(25) }}</a>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                #}
                {% block review_info scoped %}
                    <td>
                        {% if review.can_view_rating and (review.review_assessment is not none) %}
                            {{ review.review_assessment | assessment_name }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td>
                        {% if review.can_view_rating and (review.review_rating is not none) %}
                            {{ review.review_rating }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td>
                        {% if review.can_view_rating and (review.review_weight is not none) %}
                            {{ review.review_weight }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                {% endblock %}
                <td>
                    {% if review.review_edited is not none %}
                        {{ review.review_edited | format_datetime }}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
            </tr>
            {% if show_review %}
                <tr>
                    <td colspan="{{ review_info_columns | length + 3 }}">
                        {{ row_review_text | safe }}
                    </td>
                </tr>
            {% endif %}
            {% if show_calc %}
                <tr>
                    <td colspan="{{ review_info_columns | length + 3 }}">
                        {% for calculation in review.calculations %}
                            <p><b>
                                {{ loop.index }}.
                                {{ render_calculation_title(calculation) }}
                            </b></p>

                            {{ render_calculation(calculation) }}

                            {% if calculation.mode_info.code is not none %}
                                <nav>
                                    <ol class="fa-ul">
                                        <li><a href="{{ url_for('.review_calculation_view', reviewer_id=review.id, review_calculation_id=calculation.id) }}"><span class="fa-li"><span class="fa-solid fa-calculator"></span></span>View calculation</a></li>
                                    </ol>
                                </nav>
                            {% endif %}
                        {% endfor %}
                        <nav>
                            <ol class="fa-ul">
                                <li><a href="{{ url_for('.review_calculation_manage', reviewer_id=review.id) }}"><span class="fa-li"><span class="fa-solid fa-circle-info"></span></span>View calculation details</a></li>
                            </ol>
                        </nav>
                    </td>
                </tr>
            {% endif %}
            {% if show_fig %}
                <tr>
                    <td colspan="{{ review_info_columns | length + 3 }}">
                        {{ render_review_figures(review.figures.values(), review.id, pdf_as_svg=current_user.options.pdf_as_svg) }}
                    </td>
                </tr>
            {% endif %}
            {% if show_note %}
                <tr>
                    <td colspan="{{ review_info_columns | length + 3 }}">
                        {{ review.review_note | format_text(review.review_note_format) }}
                    </td>
                </tr>
            {% endif %}
            {% if show_acceptance %}
                <tr>
                    <td colspan="{{ review_info_columns | length + 3 }}">
                        <p>
                            <b>Review {{ 'acceptance' if review.acceptance_accepted else 'rejection' }}:</b>
                            {{ review.acceptance_date  | format_datetime }}
                        </p>

                            {{ review.acceptance_text | format_text(review.acceptance_format) }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        {% if overall_rating is not none %}
            <tr class="spacer_above">
                <th>Overall rating</th>
                <td class="total">&nbsp;</td>
                <td class="total">&nbsp;</td>
                <td class="total">&nbsp;</td>
                <td class="total">{{ overall_rating | fmt('{:.1f}') }}</td>
                <td class="total">&nbsp;</td>
                <td class="total">&nbsp;</td>
            </tr>
        {% endif %}
    </table>
{% endif %}
{% endblock %}
