{% extends "layout.html" %}

{% from 'macro/institution.html' import render_member_institution %}
{% from 'macro/pdf.html' import render_proposal_pdf %}
{% from 'macro/figure.html' import render_proposal_figures %}

{% block content %}

{% block proposal_summary %}
    {% if can_edit and not is_submitted %}
        <p class="warning">
            This proposal has not been submitted. If you wish it to be
            considered, please be sure to submit it before the proposal
            deadline.
        </p>
    {% endif %}

    <table>
        <tr>
            <th>Facility</th>
            <td>{{ facility_name }}</td>
        </tr>
        <tr>
            <th>Semester</th>
            <td>{{ proposal.semester_name }}</td>
        </tr>
        <tr>
            <th>Queue</th>
            <td>{{ proposal.queue_name }}</td>
        </tr>
        <tr>
            <th>Proposal identifier</th>
            <td>{{ proposal_code }}</td>
        </tr>
        <tr>
            <th>Proposal status</th>
            <td>{{ proposal.state | proposal_state_name }}</td>
        </tr>
    </table>

    {% if can_edit %}
        <nav>
            <p>
                <a href="{{ url_for('.title_edit', proposal_id=proposal.id) }}">Edit title</a>
                <br />
            {% if is_submitted %}
                <a href="{{ url_for('.proposal_withdraw', proposal_id=proposal.id) }}">Withdraw proposal</a>
            {% else %}
                <a href="{{ url_for('.proposal_submit', proposal_id=proposal.id) }}">Submit proposal</a>
            {% endif %}
            </p>
        </nav>
    {% endif %}
{% endblock %}

{% block proposal_abstract %}
    <section>
        <h2>Abstract</h2>

        {% if abstract is none %}
            <p class="missing">
                This proposal does not yet have an abstract.
            </p>
        {% else %}
            {{ abstract | format_text }}
        {% endif %}

        {% if categories %}
            <p>
                {% for category in categories %}
                    <span class="label">{{ category.category_name }}</span>
                {% endfor %}
            </p>
        {% endif %}

        {% if can_edit %}
            <nav>
                <p>
                    <a href="{{ url_for('.abstract_edit', proposal_id=proposal.id) }}">Edit abstract and categories</a>
                </p>
            </nav>
        {% endif %}
    </section>
{% endblock %}

{% block proposal_request %}
{% endblock %}

{% block proposal_members %}
    <section>
        <h2>Members</h2>

        <table>
            <tr>
                <th>Name</th>
                <th>Affiliation</th>
                <th>Institution</th>
                <th>Role</th>
            </tr>
            {% for member in proposal.members %}
                <tr>
                    <td>
                        {% if session.is_admin or member.person_public or (can_edit and not member.person_registered) %}
                            <a href="{{ url_for('people.person_view', person_id=member.person_id) }}">{{ member.person_name }}</a></td>
                        {% else %}
                            {{ member.person_name }}
                        {% endif %}
                    <td>{{ member.affiliation_name }}</td>
                    <td>
                        {% if member.resolved_institution_id is not none %}
                            {% if session.is_admin %}
                                <a href="{{ url_for('people.institution_view', institution_id=member.resolved_institution_id) }}">{{ render_member_institution(member) }}</a>
                            {% else %}
                                {{ render_member_institution(member) }}
                            {% endif %}
                        {% elif can_edit and not member.person_registered %}
                            <a href="{{ url_for('people.person_edit_institution', person_id=member.person_id) }}">Select institution</a>
                        {% else %}
                            <i>Unknown institution</i>
                        {% endif %}
                    </td>
                    <td>
                        {% if member.pi %}<span class="label">PI</span>{% endif %}
                        {% if member.editor %}<span class="label">editor</span>{% endif %}
                        {% if member.observer%}<span class="label">observer</span>{% endif %}
                    </td>
               </tr>
            {% endfor %}
        </table>

        {% if can_edit %}
        <nav>
            <p>
                <a href="{{ url_for('.member_add', proposal_id=proposal.id) }}">Add member</a>
                <br />
                <a href="{{ url_for('.member_edit', proposal_id=proposal.id) }}">Edit members</a>
            </p>
        </nav>
        {% endif %}
    </section>
{% endblock %}

{% block proposal_targets %}
    <section>
        <h2>Target Objects</h2>

        {% if not targets %}
            <p class="missing">
                This proposal does not yet have any target objects.
            </p>
        {% else %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>RA / Longitude</th>
                    <th>Dec / Latitude</th>
                    <th>System</th>
                    <th>Time</th>
                    <th>Priority</th>
                </tr>
                {% for target in targets %}
                    <tr>
                        <td>{{ target.name }}</td>
                        <td>{{ target.x }}</td>
                        <td>{{ target.y }}</td>
                        <td>{{ target.system }}</td>
                        <td>{{ target.time }} {{ 'hours' if target.time }}</td>
                        <td>{{ target.priority }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        {% if can_edit %}
            <nav>
                <p>
                    <a href="{{ url_for('.target_edit', proposal_id=proposal.id) }}">Edit targets</a>
                </p>
            </nav>
        {% endif %}
    </section>
{% endblock %}

{% block proposal_calculations %}
    <section>
        <h2>Calculation Results</h2>

        {% if not calculations %}
            <p class="missing">
                This proposal does not have any calculation results.
            </p>
        {% else %}
            {% for calculation in calculations %}
                <h3>
                    {{ loop.index }}.
                    {% if calculation.title %}
                        {{ calculation.title }}
                    {% else %}
                        {{ calculation.calculator_name }}:
                        {{ calculation.mode_info.name }}
                    {% endif %}
                </h3>

                <p>
                    {% for value in calculation.inputs %}
                        {% with in_val = calculation.input[value.code] %}
                            {% if in_val is not none  and in_val is not sameas false %}
                                <span class="calculator_value">
                                    {% if in_val is sameas true %}
                                        {% if value.abbr is not none %}
                                            <abbr title="{{ value.name }}">{{ value.abbr }}</abbr>
                                        {% else %}
                                            {{ value.name }}
                                        {% endif %}
                                    {% else %}
                                        {% if value.abbr is not none %}
                                            <abbr title="{{ value.name }}">{{ value.abbr }}</abbr>:
                                        {% else %}
                                            {{ value.name }}:
                                        {% endif %}
                                        {{ in_val | fmt(value.format) }}
                                    {% endif %}
                                    {% if value.unit is not none %}
                                        {{ value.unit }}
                                    {% endif %}
                                </span>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}

                    <br />

                    {% for value in calculation.outputs %}
                        <span class="calculator_value">
                            {% with out_val = calculation.output[value.code] %}
                                {% if value.abbr is not none %}
                                    <abbr title="{{ value.name }}">{{ value.abbr }}</abbr>:
                                {% else %}
                                    {{ value.name }}:
                                {% endif %}
                                {{ out_val | fmt(value.format) }}
                                {% if value.unit is not none %}
                                    {{ value.unit }}
                                {% endif %}
                            {% endwith %}
                        </span>
                    {% endfor %}

                    {% if calculation.target_view is not none %}
                        <br />
                        <a href="{{ calculation.target_view }}">View calculation</a>
                    {% endif %}
                </p>
            {% endfor %}
        {% endif %}

        {% if can_edit %}
            <nav>
                <p>
                    {% if calculations %}
                        <a href="{{ url_for('.calculation_manage', proposal_id=proposal.id) }}">Manage calculations</a>
                        <br />
                    {% endif %}
                    Add calculation:
                    {% for calculator in calculators %}
                        <a href="{{ calculator.target_view }}">{{ calculator.name }}</a>
                    {% endfor %}
                </p>
            </nav>
        {% endif %}
    </section>
{% endblock %}

{% block technical_case %}
    <section>
        <h2>Technical Justification</h2>

        {% if tech_case_text is not none %}
            {{ tech_case_text | format_text }}
            {{ render_proposal_figures(tech_case_fig) }}
        {% elif tech_case_pdf is not none %}
            {{ render_proposal_pdf(tech_case_pdf, '.tech_view_pdf_preview', proposal.id) }}
        {% else %}
            <p class="missing">
                This proposal does not yet have a technical justification.
            </p>
        {% endif %}

        {% if can_edit %}
            <nav>
                <p>
                    <a href="{{ url_for('.tech_edit', proposal_id=proposal.id) }}">Edit technical justification</a>
                </p>
            </nav>
        {% endif %}
    </section>
{% endblock %}

{% block science_case %}
    <section>
        <h2>Scientific Justification</h2>

        {% if sci_case_text is not none %}
            {{ sci_case_text | format_text }}
            {{ render_proposal_figures(sci_case_fig) }}
        {% elif sci_case_pdf is not none %}
            {{ render_proposal_pdf(sci_case_pdf, '.sci_view_pdf_preview', proposal.id) }}
        {% else %}
            <p class="missing">
                This proposal does not yet have a scientific justification.
            </p>
        {% endif %}

        {% if can_edit %}
            <nav>
                <p>
                    <a href="{{ url_for('.sci_edit', proposal_id=proposal.id) }}">Edit scientific justification</a>
                </p>
            </nav>
        {% endif %}
    </section>
{% endblock %}

{% endblock %}
