{% extends "layout.html" %}

{% from 'macro/pdf.html' import render_proposal_pdf %}
{% from 'macro/figure.html' import render_proposal_figures %}
{% from 'macro/calculation.html' import render_calculation_title, render_calculation %}
{% from 'macro/annotation.html' import render_proposal_annotation %}
{% from 'macro/member.html' import render_proposal_members %}

{% set navigation=[(proposal_code, none)] %}
{% set help_link=url_for('help.user_page', page_name='proposal') %}

{% set scripts = ['hedwig_util', 'proposal_targets'] %}
{% if show_person_proposals_callout %}
    {% set scripts = concatenate_lists(['dismiss_callout'], scripts) %}
{% endif %}
{% if proposal_annotations %}
    {% set scripts = concatenate_lists(['closeable'], scripts) %}
{% endif %}

{% macro render_target_tool_links() %}
    <p>
        Check targets:
        {% for target_tool in target_tools.values() %}
            <a href="{{ url_for(target_tool.code | fmt('.tool_{}_proposal'), proposal_id=proposal.id) }}">{{ target_tool.name }}</a>{{ ',' if not loop.last }}
        {% endfor %}
    </p>
{% endmacro %}

{% block content %}

{% block proposal_preamble %}
    {% if can_edit %}
        <nav>
            <ol>
                <li><a href="{{ url_for('.title_edit', proposal_id=proposal.id) }}"><span class="fa-solid fa-pencil"></span>Edit title</a></li>
            </ol>
        </nav>
    {% endif %}

    {% if proposal_annotations %}
        {% for annotation in proposal_annotations.values() %}
            {{ render_proposal_annotation(annotation, proposal_order) }}
        {% endfor %}
    {% endif %}

    {% if can_edit and not is_submitted %}
        <p class="warning">
            This proposal has not been submitted.

            {% if proposal.call_type is call_type_immediate(facility_call_type_class) %}
                Proposals for this call are sent for immediate review on submission.
            {% else %}
                If you wish it to be
                considered, please be sure to submit it before the proposal
                deadline, {{ proposal.date_close | format_datetime }} UT.
            {% endif %}
        </p>

        {% if call_mid_closes %}
            <p class="warning">
                The next intermediate deadline is
                {{ call_mid_closes | first_value | attr('date') | format_datetime }} UT.
            </p>
        {% endif %}
    {% endif %}
{% endblock %}

{% orderblocks proposal_order %}

{% block proposal_summary %}
    <table>
        <tr>
            <th>Facility</th>
            <td>{{ facility_name }}</td>
            <td class="borderless control_links" rowspan="{{ 6 if proposal.type is proposal_type_standard else 7 }}">
                <nav>
                    <ol>
                        {% if show_admin_links %}
                            <li><a href="{{ url_for('.proposal_alter_state', proposal_id=proposal.id) }}" id="alter_state_link"><span class="fa-solid fa-wrench"></span>Alter status</a></li>
                            <li><a href="{{ url_for('.proposal_log', proposal_id=proposal.id) }}" id="proposal_log_link"><span class="fa-solid fa-user-tag"></span>View log</a></li>
                        {% endif %}
                        {% if can_edit %}
                            {% if is_submitted %}
                                <li class="space_above"><a id="withdraw_proposal_link" href="{{ url_for('.proposal_withdraw', proposal_id=proposal.id) }}">Withdraw proposal</a></li>
                                <li><a id="validate_proposal_link" href="{{ url_for('.proposal_validate', proposal_id=proposal.id) }}">Validate proposal</a></li>
                            {% else %}
                                <li class="space_above"><a id="submit_proposal_link" href="{{ url_for('.proposal_submit', proposal_id=proposal.id) }}">Submit proposal</a></li>
                            {% endif %}
                        {% elif (can_view_review or can_view_feedback) %}
                            {% if can_view_review %}
                                <li><a id="view_review_link" href="{{ url_for('.proposal_reviews', proposal_id=proposal.id) }}"><span class="fa-solid fa-file-lines"></span>View{{ '/edit' if can_edit_review }} reviews</a></li>
                            {% endif %}
                            {% if can_view_feedback %}
                                <li><a id="view_feedback_link" href="{{ url_for('.proposal_feedback', proposal_id=proposal.id) }}"><span class="fa-solid fa-receipt"></span>View feedback</a></li>
                            {% endif %}
                        {% endif %}
                        {% if can_request_pdf %}
                            <li class="space_above"><a class="request_download_link" href="{{ url_for('.proposal_pdf_request', proposal_id=proposal.id) }}">Request PDF file download</a></li>
                        {% endif %}
                    </ol>
                </nav>
            </td>
        </tr>
        <tr>
            <th>Semester</th>
            <td>{{ proposal.semester_name }}</td>
        </tr>
        <tr>
            <th>Queue</th>
            <td>{{ proposal.queue_name }}</td>
        </tr>
        <tr>
            <th>Call type</th>
            <td>{{ proposal.call_type | call_type_name(facility_call_type_class) }}</td>
        </tr>
        <tr>
            <th>Proposal identifier</th>
            <td id="proposal_identifier_cell">{{ proposal_code }}</td>
        </tr>
        {% if proposal.type is not proposal_type_standard %}
            <tr>
                <th>Proposal type</th>
                <td>{{ proposal.type | proposal_type_name }}</td>
            </tr>
        {% endif %}
        <tr class="volatile">
            <th>Proposal status</th>
            <td id="proposal_status_cell">
                {{ proposal.state | proposal_state_name }}
            </td>
        </tr>
    </table>
{% endblock %}

{% block proposal_abstract %}
    <section>
        <h2 id="abstract">{{ proposal_order.proposal_abstract }}</h2>

        {% if abstract is none %}
            <p class="missing">
                This proposal does not yet have an abstract.
            </p>
        {% else %}
            {{ abstract | format_text }}
        {% endif %}

        {% if categories %}
            <p>
                {% for category in categories.values() %}
                    <span class="label">{{ category.category_name }}</span>
                {% endfor %}
            </p>
        {% endif %}

        {% if can_edit %}
            <nav>
                <ol>
                    <li><a href="{{ url_for('.abstract_edit', proposal_id=proposal.id) }}"><span class="fa-solid fa-pencil"></span>Edit abstract and categories</a></li>
                </ol>
            </nav>
        {% endif %}
    </section>
{% endblock %}

{% block science_case %}
    <section>
        {% orderblocks science_case_order %}
            {% block science_case_intro %}
                <h2 id="sci_case">{{ proposal_order.science_case }}</h2>
            {% endblock %}

            {% block science_case_content %}
                {% if sci_case.text is not none %}
                    {{ sci_case.text | format_text }}
                    {{ render_proposal_figures(sci_case.fig, proposal.id, sci_case.role, pdf_as_svg=current_user.options.pdf_as_svg) }}
                {% elif sci_case.pdf is not none %}
                    {{ render_proposal_pdf(sci_case.pdf, proposal.id, sci_case.role) }}
                {% else %}
                    <p class="missing">
                        This proposal does not yet have a scientific justification.
                    </p>
                {% endif %}

                {% if can_edit %}
                    <nav>
                        <ol>
                            <li><a href="{{ url_for('.case_edit', proposal_id=proposal.id, role=sci_case.role) }}"><span class="fa-solid fa-pencil"></span>Edit scientific justification</a></li>
                        </ol>
                    </nav>
                {% endif %}
            {% endblock %}

            {% block science_case_extra %}
            {% endblock %}
        {% endorderblocks %}
    </section>
{% endblock %}

{% block proposal_members %}
    <section>
        <h2 id="members">{{ proposal_order.proposal_members }}</h2>

        {{ render_proposal_members(proposal.id, proposal.members, can_edit=can_edit, with_extra_labels=true, show_admin_links=show_admin_links) }}

        {% if can_edit %}
        <nav>
            <ol>
                <li><a href="{{ url_for('.member_add', proposal_id=proposal.id) }}"><span class="fa-solid fa-user-plus"></span>Add member</a></li>
                <li><a href="{{ url_for('.member_edit', proposal_id=proposal.id) }}"><span class="fa-solid fa-pencil"></span>Edit members</a></li>
            </ol>
        </nav>
        {% endif %}

        {% if can_remove_self %}
            <nav>
                <ol>
                    <li><a href="{{ url_for('.remove_self', proposal_id=proposal.id) }}"><span class="fa-solid fa-right-from-bracket"></span>Remove yourself from this proposal</a></li>
                </ol>
            </nav>
        {% endif %}

        {% if students %}
            <p>
                The following students are listed as needing data from this proposal:
            </p>

            <ul>
                {% for student in students %}
                    <li>
                        {{ student.person_name }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="not_present">
                No students are listed as needing data from this proposal.
            </p>
        {% endif %}

        {% if can_edit %}
        <nav>
            <ol>
                <li><a href="{{ url_for('.student_edit', proposal_id=proposal.id) }}"><span class="fa-solid fa-pencil"></span>Edit student list</a></li>
            </ol>
        </nav>
        {% endif %}

    </section>
{% endblock %}

{% block proposal_request %}
{% endblock %}

{% block proposal_targets %}
    <section>
        <h2 id="targets">{{ proposal_order.proposal_targets}}</h2>

        {% if not targets %}
            <p class="missing">
                This proposal does not yet have any target objects.
            </p>
        {% else %}
            <table id="target_table">
                <thead>
                    <tr>
                        <th class="sortable" data-sortkey="name">Name</th>
                        <th class="sortable" data-sortkey="x">RA / Longitude</th>
                        <th class="sortable" data-sortkey="y">Dec / Latitude</th>
                        <th class="sortable" data-sortkey="system">System</th>
                        <th class="sortable sortreverse" data-sortkey="time">Time<br />(hours)</th>
                        <th class="sortable" data-sortkey="priority">Priority<br />(1 highest)</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for target in targets.to_formatted_collection(with_extra=true).values() %}
                        <tr data-sortinfo="{{ {
                                'name': target.name,
                                'system': target.system,
                                'x': none,
                                'y': none,
                                'time': target.time_unfmt,
                                'priority': target.priority_unfmt,
                                'sort_order': target.sort_order,
                            } | json }}" data-systems="{{ target.systems | json }}">
                            <td>{{ target.name }}</td>
                            <td data-column="x">{{ target.x }}</td>
                            <td data-column="y">{{ target.y }}</td>
                            <td data-column="system">{{ target.system | coord_system_name }}</td>
                            <td>{{ target.time }}</td>
                            <td>{{ target.priority }}</td>
                            <td>{{ target.note }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        {% if target_total_time and (targets | length > 1) %}
                            <th>Total</th>
                        {% else %}
                            <td class="total">&nbsp;</td>
                        {% endif %}
                        <td class="total" colspan="3">
                            {% for (system_id, system_name) in systems.items() %}
                                <button id="system_{{system_id}}">{{ system_name }}</button>
                            {% endfor %}
                            <button id="system_original">As entered</button>
                        </td>
                        <td class="total">
                            {% if target_total_time and (targets | length > 1) %}
                                {{ target_total_time | fmt_max_dp(3) }}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                        <td class="total">&nbsp;</td>
                        <td class="total">
                            {% if (targets | length > 1) %}
                                <button data-sort_reset="sort_order">Original ordering</button>
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                    </tr>
                </tfoot>
            </table>
        {% endif %}

        {% if can_edit %}
            <nav>
                <ol>
                    <li><a href="{{ url_for('.target_edit', proposal_id=proposal.id) }}"><span class="fa-solid fa-pencil"></span>Edit targets</a></li>
                    <li><a href="{{ url_for('.target_upload', proposal_id=proposal.id) }}"><span class="fa-solid fa-upload"></span>Upload target list</a></li>
                </ol>
            </nav>
        {% endif %}

        {% if targets %}
            <nav>
                <ol>
                    <li><a href="{{ url_for('.target_download', proposal_id=proposal.id) }}"><span class="fa-solid fa-download"></span>Download target list</a></li>
                </ol>
            </nav>
        {% endif %}

        {% if targets and target_tools %}
            <nav>
                {{ render_target_tool_links() }}
            </nav>

            {% if tool_note is none %}
                <p class="missing">
                    This proposal does not yet have a note on the target tool results.
                </p>
            {% else %}
                {{ tool_note | format_text }}
            {% endif %}

            {% if can_edit %}
                <nav>
                    <ol>
                        <li><a href="{{ url_for('.tool_note_edit', proposal_id=proposal.id) }}"><span class="fa-solid fa-pencil"></span>Edit note</a></li>
                    </ol>
                </nav>
            {% endif %}
        {% endif %}
    </section>
{% endblock %}

{% block proposal_calculations %}
    {% if calculators %}
    <section>
        <h2 id="calculations">{{ proposal_order.proposal_calculations }}</h2>

        {% if not calculations %}
            <p class="missing">
                This proposal does not have any calculation results.
            </p>
        {% else %}
            {% for calculation in calculations %}
                <h3>
                    {{ loop.index }}.
                    {{ render_calculation_title(calculation) }}
                </h3>

                {{ render_calculation(calculation) }}

                {% if calculation.mode_info.code is not none %}
                    <nav>
                        <ol>
                            <li><a href="{{ url_for('.calculation_view', proposal_id=proposal.id, calculation_id=calculation.id) }}"><span class="fa-solid fa-calculator"></span>View calculation</a></li>
                        </ol>
                    </nav>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if can_edit %}
            <nav>
                <p>
                    Add calculation:
                    {% for calculator in calculators.values() %}
                        <a href="{{ url_for((calculator.code, (calculator.modes | first_value).code) | fmt('.calc_{}_{}'), proposal_id=proposal.id) }}">{{ calculator.name }}</a>{{ ',' if not loop.last }}
                    {% endfor %}
                </p>
            </nav>
        {% endif %}

        {% if calculations %}
            <nav>
                <ol>
                    <li><a href="{{ url_for('.calculation_manage', proposal_id=proposal.id) }}">{% if can_edit %}<span class="fa-solid fa-pen-to-square"></span>Manage calculations{% else %}<span class="fa-solid fa-circle-info"></span>View calculation details{% endif %}</a></li>
                </ol>
            </nav>
        {% endif %}
    </section>
    {% endif %}

    {% if target_tools and 'proposal_targets' not in proposal_order %}
        <nav>
            <h2 id="targets">Target Tools</h2>

            {{ render_target_tool_links() }}
        </nav>
    {% endif %}
{% endblock %}

{% block technical_case %}
    <section>
        {% orderblocks technical_case_order %}
            {% block technical_case_intro %}
                <h2 id="tech_case">{{ proposal_order.technical_case }}</h2>
            {% endblock %}

            {% block technical_case_content %}
            {% if tech_case.text is not none %}
                {{ tech_case.text | format_text }}
                {{ render_proposal_figures(tech_case.fig, proposal.id, tech_case.role, pdf_as_svg=current_user.options.pdf_as_svg) }}
            {% elif tech_case.pdf is not none %}
                {{ render_proposal_pdf(tech_case.pdf, proposal.id, tech_case.role) }}
            {% else %}
                <p class="missing">
                    This proposal does not yet have a technical justification.
                </p>
            {% endif %}

            {% if can_edit %}
                <nav>
                    <ol>
                        <li><a href="{{ url_for('.case_edit', proposal_id=proposal.id, role=tech_case.role) }}"><span class="fa-solid fa-pencil"></span>Edit technical justification</a></li>
                    </ol>
                </nav>
            {% endif %}
            {% endblock %}

            {% block technical_case_extra %}
            {% endblock %}
        {% endorderblocks %}
    </section>
{% endblock %}

{% block continuation_request %}
    <section>
        {% orderblocks continuation_request_order %}
            {% block continuation_request_intro %}
                <h2 id="cnrq_case">{{ proposal_order.continuation_request }}</h2>
            {% endblock %}

            {% block continuation_request_content %}
                {% if cnrq_case.text is not none %}
                    {{ cnrq_case.text | format_text }}
                    {{ render_proposal_figures(cnrq_case.fig, proposal.id, cnrq_case.role, pdf_as_svg=current_user.options.pdf_as_svg) }}
                {% elif cnrq_case.pdf is not none %}
                    {{ render_proposal_pdf(cnrq_case.pdf, proposal.id, cnrq_case.role) }}
                {% else %}
                    <p class="missing">
                        This proposal does not yet have a {{ cnrq_case.role | text_role_name(text_roles) | lower }}.
                    </p>
                {% endif %}

                {% if can_edit %}
                    <nav>
                        <ol>
                            <li><a href="{{ url_for('.case_edit', proposal_id=proposal.id, role=cnrq_case.role) }}"><span class="fa-solid fa-pencil"></span>Edit {{ cnrq_case.role | text_role_name(text_roles) | lower }}</a></li>
                        </ol>
                    </nav>
                {% endif %}
            {% endblock %}

            {% block continuation_request_extra %}
            {% endblock %}
        {% endorderblocks %}
    </section>
{% endblock %}

{% block proposal_previous %}
    <section>
        <h2 id="prev_proposals">{{ proposal_order.proposal_previous }}</h2>

        {% if not prev_proposals %}
            <p class="missing">
                This proposal does not yet have a list of previous proposals.
            </p>
        {% else %}
            <table>
                <tr>
                    <th>Previous proposal</th>
                    <th>Links</th>
                    <th>Publications</th>
                </tr>
                {% for prev_proposal in prev_proposals.values() %}
                    {% with publications = prev_proposal.publications | default([none], true) %}
                        {% for publication in publications %}
                            <tr>
                                {% if loop.first %}
                                    <td rowspan="{{ publications | length }}">
                                        {% if prev_proposal.can_view_proposal %}
                                            <a href="{{ url_for('.proposal_view', proposal_id=prev_proposal.proposal_id) }}">{{ prev_proposal.proposal_code }}</a>
                                        {% else %}
                                            {{ prev_proposal.proposal_code }}
                                        {% endif %}
                                        {% if prev_proposal.continuation %}
                                            <span class="label">continuation</span>
                                        {% endif %}
                                    </td>
                                    <td rowspan="{{ publications | length }}">
                                        {% if prev_proposal.can_view_review or prev_proposal.links %}
                                            {% if prev_proposal.links %}
                                                {% for link in prev_proposal.links %}
                                                    <a href="{{ link.url }}" target="_blank">{{ link.text }}</a>
                                                {% endfor %}
                                            {% endif %}
                                            {% if prev_proposal.can_view_review %}
                                                <a href="{{ url_for('.proposal_reviews', proposal_id=prev_proposal.proposal_id) }}">Reviews</a>
                                            {% endif %}
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
                                    </td>
                                {% endif %}
                                <td>
                                    {% if publication is none %}
                                        &nbsp;
                                    {% else %}
                                        {% if publication.url is not none %}
                                            <a href="{{ publication.url }}" target="_blank">{{ publication.description }}</a>
                                        {% else %}
                                            {{ publication.description }}
                                        {% endif %}
                                        {% if publication.state is attachment_ready %}
                                            {% if publication.title is not none %}
                                                &ldquo;{{ publication.title | title_markup }}&rdquo;
                                            {% endif %}
                                            {% if publication.author is not none %}
                                                <i>{{ publication.author }}</i>
                                            {% endif %}
                                            {% if publication.year is not none %}
                                                <b>{{ publication.year }}</b>
                                            {% endif %}
                                        {% elif publication.state is attachment_error %}
                                            <span class="missing_data">failed to look up reference</span>
                                        {% else %}
                                            <span class="missing_data">reference not yet looked up</span>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </table>
        {% endif %}

        {% if can_edit %}
            <nav>
                <ol>
                    <li><a href="{{ url_for('.previous_edit', proposal_id=proposal.id) }}"><span class="fa-solid fa-pencil"></span>Edit previous proposals and publications</a></li>
                </ol>
            </nav>
        {% endif %}
    </section>
{% endblock %}

{% endorderblocks %}

{% endblock %}
