{% extends 'layout.html' %}
{% set navigation=[(proposal.semester_name + ' ' + proposal.queue_name, url_for('.review_call', call_id=proposal.call_id)),
                   (proposal_code, url_for('.proposal_view', proposal_id=proposal.id))] %}
{% set help_link=url_for('help.admin_page', page_name='review_proposal') %}
{% from 'macro/proposal_summary.html' import render_proposal_summary %}

{% block content %}
<h2>Proposal Information</h2>

{{ render_proposal_summary(facility_name, proposal, proposal_code, abstract=abstract, categories=categories, person_pi=person_pi) }}

<h2>Reviews</h2>

{% block extra_review_links %}
    {% if can_add_roles %}
    <nav>
        <p id="extra_review_links">
            {% for role in can_add_roles %}
                <a href="{{ url_for('.proposal_review_new', proposal_id=proposal.id, reviewer_role=role) }}">Add {{ role | reviewer_role_name | lower }}{{ ' review' if role is reviewer_role_review }}</a>
                {% if not loop.last %}
                    <br />
                {% endif %}
            {% endfor %}
        </p>
    </nav>
    {% endif %}
{% endblock %}

{% if not reviews %}
    <p class="not_present">
        There are no reviews for this proposal.
    </p>
{% else %}
    <table>
        <tr>
            <th>Role</th>
            <th>Reviewer</th>
            <th>Assessment</th>
            <th>Rating</th>
            <th>Weighting</th>
            <th>Edited</th>
        </tr>
        {% for review in reviews %}
            <tr>
                <td {{ 'rowspan="2"' | safe if review.review_text is not none }}>
                    {% if can_edit or (session.person.id == review.person_id) %}
                        <a href="{{ url_for('.review_edit', reviewer_id=review.id) }}">{{ review.role | reviewer_role_name }}</a>
                    {% else %}
                        {{ review.role | reviewer_role_name }}
                    {% endif %}
                </td>
                <td>
                    {% if session.is_admin or review.person_public %}
                        <a href="{{ url_for('people.person_view', person_id=review.person_id) }}">{{ review.person_name | truncate(35, killwords=True, end='\u2026') }}</a>
                    {% else %}
                        {{ review.person_name | truncate(35, killwords=True, end='\u2026') }}
                    {% endif %}
                </td>
                {#
                <td>
                    {% if review.institution_id is not none %}
                        <a href="{{ url_for('people.institution_view', institution_id=review.institution_id) }}">{{ review.institution_name | truncate(25, killwords=True, end='\u2026') }}</a>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                #}
                <td>
                    {% if review.review_assessment is not none %}
                        {{ review.review_assessment | assessment_name }}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                <td>
                    {% if review.review_rating is not none %}
                        {{ review.review_rating }}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                <td>
                    {% if review.review_weight is not none %}
                        {{ review.review_weight }}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                <td>
                    {% if review.review_edited is not none %}
                        {{ review.review_edited | format_datetime }}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
            </tr>
            {% if review.review_text is not none %}
                <tr>
                    <td colspan="5">{{ review.review_text | format_text(review.review_format) }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        {% if overall_rating is not none %}
            <tr>
                <th>Overall rating</th>
                <td class="total">&nbsp;</td>
                <td class="total">&nbsp;</td>
                <td class="total">{{ overall_rating }}</td>
                <td class="total">&nbsp;</td>
                <td class="total">&nbsp;</td>
            </tr>
        {% endif %}
    </table>
{% endif %}
{% endblock %}
