{% extends 'layout.html' %}
{% set navigation=[(proposal.semester_name + ' ' + proposal.queue_name, url_for('.review_call', call_id=proposal.call_id)),
                   (proposal_code, url_for('.proposal_view', proposal_id=proposal.id))] %}
{% set help_link=url_for('help.admin_page', page_name='review_proposal') %}
{% from 'macro/proposal_summary.html' import render_proposal_summary %}

{% block content %}
<h2>Proposal Information</h2>

{{ render_proposal_summary(facility_name, facility_call_type_class, proposal, proposal_code, abstract=abstract, categories=categories) }}

<h2>Reviews</h2>

{% block extra_review_links %}
    {% if can_add_roles %}
    <nav>
        <p id="extra_review_links">
            {% for role in can_add_roles %}
                <a href="{{ url_for('.proposal_review_new', proposal_id=proposal.id, reviewer_role=role, referrer='pr') }}">Add {{ role | reviewer_role_name(facility_role_class) | lower }}{{ ' review' if role is reviewer_role_review(facility_role_class) }}</a>
                {% if not loop.last %}
                    <br />
                {% endif %}
            {% endfor %}
        </p>
    </nav>
    {% endif %}
{% endblock %}

{% if review_info_columns is not defined %}
    {% set review_info_columns=['Assessment', 'Rating', 'Weighting'] %}
{% endif %}

{% if not reviews %}
    <p class="not_present">
        There are no reviews for this proposal.
    </p>
{% else %}
    <table>
        <tr>
            <th>Role</th>
            <th>Reviewer</th>
            {% for info_column in review_info_columns %}
                <th>{{ info_column }}</th>
            {% endfor %}
            <th>Edited</th>
        </tr>
        {% for review in reviews %}
            {% set show_review = (review.review_text is not none) %}
            {% set show_note = (review.review_note is not none) %}
            <tr class="spacer_above">
                <td {{ ((show_review, show_note) | count_true + 1) | fmt('rowspan="{}"') | safe }}>
                    {% if review.can_edit %}
                        <a href="{{ url_for('.review_edit', reviewer_id=review.id, referrer='pr') }}">{{ review.role | reviewer_role_name(facility_role_class) }}</a>
                    {% else %}
                        {{ review.role | reviewer_role_name(facility_role_class) }}
                    {% endif %}
                </td>
                <td>
                    {% if session.is_admin or review.person_public %}
                        <a href="{{ url_for('people.person_view', person_id=review.person_id) }}">{{ review.person_name | abbr(35) }}</a>
                    {% else %}
                        {{ review.person_name | abbr(35) }}
                    {% endif %}
                </td>
                {#
                <td>
                    {% if review.institution_id is not none %}
                        <a href="{{ url_for('people.institution_view', institution_id=review.institution_id) }}">{{ review.institution_name | abbr(25) }}</a>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                #}
                {% block review_info scoped %}
                    <td>
                        {% if review.review_assessment is not none %}
                            {{ review.review_assessment | assessment_name }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td>
                        {% if review.review_rating is not none %}
                            {{ review.review_rating }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td>
                        {% if review.review_weight is not none %}
                            {{ review.review_weight }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                {% endblock %}
                <td>
                    {% if review.review_edited is not none %}
                        {{ review.review_edited | format_datetime }}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
            </tr>
            {% if show_review %}
                <tr>
                    <td colspan="{{ review_info_columns | length + 2 }}">
                        {% block review_text scoped %}
                            {{ review.review_text | format_text(review.review_format) }}
                        {% endblock %}
                    </td>
                </tr>
            {% endif %}
            {% if show_note %}
                <tr>
                    <td colspan="{{ review_info_columns | length + 2 }}">{{ review.review_note | format_text(review.review_note_format) }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        {% if overall_rating is not none %}
            <tr class="spacer_above">
                <th>Overall rating</th>
                <td class="total">&nbsp;</td>
                <td class="total">&nbsp;</td>
                <td class="total">{{ overall_rating | fmt('{:.1f}') }}</td>
                <td class="total">&nbsp;</td>
                <td class="total">&nbsp;</td>
            </tr>
        {% endif %}
    </table>
{% endif %}
{% endblock %}
