{% extends 'layout.html' %}
{% set navigation=[(proposal_code, url_for('.proposal_view', proposal_id=proposal_id))] %}
{% set help_link=url_for('help.user_page', page_name='proposal_list') %}

{% block content %}
<nav>
    <ol>
        <li><a href="{{ url_for('.proposal_view', proposal_id=proposal_id) }}">Back to proposal</a></li>
    </ol>
</nav>

<h2>Comments</h2>
{% if feedback_reviews %}
    {% for feedback_review in feedback_reviews.values() %}
        {{ feedback_review.review_text | format_text(feedback_review.review_format) }}
    {% endfor %}
{% else %}
    <p class="not_present">
        No comments have been recorded for this proposal.
    </p>
{% endif %}

{% block feedback_extra %}
{% endblock %}

{% if decision_note is not none %}
    <h2>Review Committee Note</h2>

    {{ decision_note | format_text }}
{% endif %}
{% endblock %}
