{% extends "layout.html" %}
{% set navigation=[(proposal_code, url_for('.proposal_view', proposal_id=proposal.id))] %}
{% set help_link=url_for('help.user_page', page_name='submit') %}

{% macro render_validation_messages(messages, show_links=false) %}
    {% for message in messages %}
        <li>
            <p class="valid_{{ 'error' if message.is_error else 'warning' }}">
                {{ 'Error' if message.is_error else 'Warning' }}
            </p>
            <div>
                <p>
                    {{ message.description }}
                </p>
                {% if show_links and (message.link_url is not none) %}
                    <p>
                        <a href="{{ message.link_url }}">{{ message.link_text }}</a>
                    </p>
                {% endif %}
            </div>
        </li>
    {% endfor %}
{% endmacro %}

{% block content %}

{% if is_submit_page %}
    <h2>Proposal Validation</h2>
{% else %}
    <nav>
        <ol>
            <li><a href="{{ url_for('.proposal_view', proposal_id=proposal.id) }}"><span class="fa-solid fa-arrow-left"></span>Back to proposal</a></li>
        </ol>
    </nav>
{% endif %}

{% set validation_message_sections = validation_messages.list_sections() %}
{% if validation_message_sections %}
    {% for (section, section_name) in proposal_order.items() %}
        {% if section in validation_message_sections %}
            <p class="section_label">{{ section_name }}</p>

            <ul class="valid_message">
                {{ render_validation_messages(validation_messages.get_section(section), show_links=can_edit) }}
            </ul>
        {% endif %}
    {% endfor %}
    {% set missing_counter = create_counter(0) %}
    {% for section in validation_message_sections %}
        {% if section not in proposal_order %}
            {% if not missing_counter() %}
                <p class="section_label">Additional sections</p>

                <ul class="valid_message">
            {% endif %}
            {{ render_validation_messages(validation_messages.get_section(section), show_links=can_edit) }}
        {% endif %}
    {% endfor %}
    {% if missing_counter() %}
        </ul>
    {% endif %}
{% else %}
    <p>
        No problems with this proposal have been detected.
    </p>
{% endif %}

{% if is_submit_page %}
    <h2>Proposal Submission</h2>

    {% if can_submit %}
        {% if validation_messages %}
            <p>
                You may submit your proposal despite the warnings listed above,
                but you should check that none of them is a problem
                for your proposal.
            </p>
        {% endif %}

        {% if immediate_review %}
            <p class="caution">
                Proposals for this call are sent for immediate review.
                You will not be able to edit the proposal after submission.
            </p>
        {% endif %}

        <form method="POST" action="{{ url_for('.proposal_submit', proposal_id=proposal.id) }}">
            <p>
                <input type="submit" name="submit_confirm" value="Submit proposal" />
                <input type="submit" name="submit_cancel" value="Cancel" />
            </p>
        </form>
    {% else %}
        <p>
            Please correct the errors identified above before submitting
            the proposal.
        </p>
    {% endif %}
{% endif %}

{% endblock %}
