{% extends "layout.html" %}

{% block content %}

{% if message is not none %}
    <p>
        {{ message }}
    </p>
{% endif %}

<p>
    Facility: {{ facility_name }}
    <br />
    Call for proposals: {{ call.semester_name }}
    <br />
    Proposal queue: {{ call.queue_name }}
    <br />
    Your name: {{ session.person.name }}
</p>


<form method="POST" action="{{ url_for('.proposal_new', call_id=call.id) }}">
    Your affiliation:
    <select name="affiliation_id">
        {% for affiliation in affiliations %}
            <option value="{{ affiliation.id }}" {{ 'selected="selected"' | safe if affiliation.id == affiliation_id }}>{{ affiliation.name }}</option>
        {% endfor %}
    </select>
    <br />
    Proposal title:
    <input type="text" name="proposal_title" value="{{ proposal_title }}" required="required" autofocus="autofocus" />
    <br />
    <input type="submit" name="submit-new" value="Create new proposal" />
</form>

{% endblock %}
