{% extends 'layout.html' %}
{% set navigation=[(proposal.semester_name + ' ' + proposal.queue_name, url_for('.review_call', call_id=proposal.call_id)),
                   (proposal_code, url_for('.proposal_view', proposal_id=proposal.id))] %}
{% set help_link=url_for('help.admin_page', page_name='tabulation_decision') %}

{% if scripts is defined %}
    {% set scripts = ['hedwig_util', 'edit_decision'] + scripts %}
{% else %}
    {% set scripts = ['hedwig_util', 'edit_decision'] %}
{% endif %}

{% from 'macro/proposal_summary.html' import render_proposal_summary %}

{% block content %}
<h2>Proposal Information</h2>

{{ render_proposal_summary(facility_name, facility_call_type_class, proposal, proposal_code, abstract=None, categories=None) }}

<h2>Decision</h2>

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ url_for('.proposal_decision', proposal_id=proposal.id) }}">
    <ol>
        <li class="separator">Overall Decision</li>
        <li>
            <label for="decision_accept">Decision</label>
            <select name="decision_accept">
                <option value="" {{ 'selected="selected"' | safe if proposal.decision_accept is none }}>Undecided</option>
                <option value="1" {{ 'selected="selected"' | safe if (proposal.decision_accept is not none) and proposal.decision_accept }}>Accept proposal</option>
                <option value="0" {{ 'selected="selected"' | safe if (proposal.decision_accept is not none) and (not proposal.decision_accept) }}>Reject proposal</option>
            </select>
        </li>
        <li>
            <label for="decision_accept">Exempt</label>
            <input type="checkbox" name="decision_exempt" {{ 'checked="checked"' | safe if proposal.decision_exempt }} />
            <span class="checkboxlabel">Exclude the proposal from affiliation totals</span>
        </li>
        {% block form_list_extra %}
        {% endblock %}
        <li>
            <label for="decision_note">Note</label>
            <textarea name="decision_note" cols="80" rows="10">{{ '' if proposal.decision_note is none else proposal.decision_note }}</textarea>
        <li>
            <input type="submit" name="submit" value="Save" />
        </li>
    </ol>
</form>
{% endblock %}
