{% extends "layout.html" %}
{% set navigation=['facility_admin'] %}
{% set help_link=url_for('help.admin_page', page_name='queue') %}

{% block content %}

<nav>
    <ol class="fa-ul">
        <li><a href="{{ url_for('.queue_new') }}"><span class="fa-li"><span class="fa-solid fa-circle-plus"></span></span>New queue</a></li>
    </ol>
</nav>

{% if not queues %}
    <p class="not_present">
        No queues have yet been defined.
    </p>
{% else %}
    <table>
        <tr>
            <th>Queue</th>
            <th>Code</th>
            <th colspan="2">Affiliations</th>
        </tr>
        {% for queue in queues.values() %}
            {% set queue_affiliations = affiliations.subset_by_queue(queue.id) %}
            <tr>
                <td><a href="{{ url_for('.queue_view', queue_id=queue.id) }}">{{ queue.name }}</a></td>
                <td>{{ queue.code }}</td>
                <td>
                    {% if queue_affiliations %}
                        {%- set affiliation_standard_counter = create_counter(0) -%}
                        {%- set affiliation_non_standard = [] -%}
                        {%- for (affiliation_type, type_affiliations) in queue_affiliations.group_by_type(facility_affiliation_type_class) -%}
                            {%- if affiliation_type is affiliation_type_standard(facility_affiliation_type_class) -%}
                                {%- do affiliation_standard_counter() -%}
                                {%- for affiliation in type_affiliations.values() -%}
                                    {{ affiliation.name }}{% if not loop.last %},{% endif %}
                                {% endfor -%}
                            {%- else -%}
                                {%- for affiliation in type_affiliations.values() -%}
                                    {%- do affiliation_non_standard.append(affiliation.name) -%}
                                {%- endfor -%}
                            {%- endif %}
                        {%- endfor %}
                        {%- if affiliation_standard_counter() == 0 -%}
                            <span class="missing_data">No standard affiliations</span>
                        {%- elif affiliation_non_standard -%}
                            <abbr title="{{ affiliation_non_standard | join(', ') }}">&hellip;</abbr>
                        {%- endif -%}
                    {% else %}
                        <span class="missing_data">No affiliations specified</span>
                    {% endif %}
                </td>
                <td>
                    <a id="affiliation_edit_link" href="{{ url_for('.affiliation_edit', queue_id=queue.id) }}"><span class="fa-solid fa-globe"></span>Edit</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock %}
