{% extends "layout.html" %}
{% set navigation=['facility_admin'] %}
{% set help_link=url_for('help.admin_page', page_name='queue') %}

{% block content %}

<p>
    <a href="{{ url_for('.queue_new') }}">New queue</a>
</p>

<table>
    <tr>
        <th>Queue</th>
        <th>Code</th>
    </tr>
    {% for queue in queues.values() %}
        <tr>
            <td><a href="{{ url_for('.queue_view', queue_id=queue.id) }}">{{ queue.name }}</a></td>
            <td>{{ queue.code }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
