{% extends "layout.html" %}

{% block content %}

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}


<form method="POST" action="{{ target }}">
    <ol>
        <li>
            <label for="queue_name">Name</label>
            <input type="text" name="queue_name" value="{{ queue.name }}" required="required" autofocus="autofocus" />
            <span class="explanation">for display on this system</span>
        </li>
        <li>
            <label for="queue_code">Code</label>
            <input type="text" name="queue_code" value="{{ queue.code }}" required="required" />
            <span class="explanation">as part of a project code</span>
        </li>
        <li>
            <label for="description">Description</label>
            <textarea name="description">{{ queue.description }}</textarea>
        </li>
        <li>
            <input type="submit" value="Save" name="submit" />
        </li>
    </ol>
</form>

{% endblock %}
