{% extends "layout.html" %}
{% set navigation=['facility_admin'] %}
{% set help_link=url_for('help.admin_page', page_name='queue') %}

{% block content %}

<nav>
    <ol>
        <li><a href="{{ url_for('.queue_new') }}"><span class="fa-solid fa-circle-plus"></span>New queue</a></li>
    </ol>
</nav>

{% if not queues %}
    <p class="not_present">
        No queues have yet been defined.
    </p>
{% else %}
    <table>
        <tr>
            <th>Queue</th>
            <th>Code</th>
        </tr>
        {% for queue in queues.values() %}
            <tr>
                <td><a href="{{ url_for('.queue_view', queue_id=queue.id) }}">{{ queue.name }}</a></td>
                <td>{{ queue.code }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock %}
