{% extends "layout.html" %}
{% set navigation=['facility_admin', ('Queues', url_for('.queue_list'))] %}

{% block content %}

<table>
    <tr>
        <th>Code</th>
        <td>{{ queue.code }}</td>
    </tr>
</table>

{{ queue.description | format_text(queue.description_format) }}

<p>
    <a href="{{ url_for('.queue_edit', queue_id=queue.id) }}">Edit queue</a>
</p>

<h2>Affiliations</h2>

{% if affiliations %}
    <ul>
        {% for affiliation in affiliations %}
            <li>{{ affiliation.name }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p class="missing">
        No affiliations are available for this queue.
    </p>
{% endif %}

<p>
    <a id="affiliation_edit_link" href="{{ url_for('.affiliation_edit', queue_id=queue.id) }}">Edit affiliations</a>
</p>

{% endblock %}
