{% extends "layout.html" %}
{% set navigation=['facility_admin', ('Queues', url_for('.queue_list'))] %}
{% set help_link=url_for('help.admin_page', page_name='queue') %}

{% block content %}

<table>
    <tr>
        <th>Code</th>
        <td>{{ queue.code }}</td>
    </tr>
</table>

{{ queue.description | format_text(queue.description_format) }}

<p>
    <a href="{{ url_for('.queue_edit', queue_id=queue.id) }}"><span class="fa-solid fa-pencil"></span>Edit queue</a>
</p>

<h2>Affiliations</h2>

{% if affiliations %}
    <ul>
        {% for affiliation in affiliations.values_in_type_order(facility_affiliation_type_class) %}
            <li>
                {{ affiliation.name }}
                {% if affiliation.type is not affiliation_type_standard(facility_affiliation_type_class) %}<span class="label">{{ affiliation.type | affiliation_type_name(facility_affiliation_type_class) }}</span>{% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="missing">
        No affiliations are available for this queue.
    </p>
{% endif %}

<p>
    <a id="affiliation_edit_link" href="{{ url_for('.affiliation_edit', queue_id=queue.id) }}"><span class="fa-solid fa-globe"></span>Edit affiliations</a>
</p>

<h2>Groups</h2>

<ul>
    {% for (group_type, group_name) in groups.items() %}
        <li>
            <a href="{{ url_for('.group_view', queue_id=queue.id, group_type=group_type) }}">{{ group_name }}</a>
        </li>
    {% endfor %}
</ul>

<p>
    <a href="{{ url_for('.group_view_all', queue_id=queue.id) }}"><span class="fa-solid fa-users"></span>View all</a>
</p>

{% endblock %}
