{% extends "layout.html" %}

{% block content %}

{% if message is not none %}
    <p>
        {{ message }}
    </p>
{% endif %}


<form method="POST" action="{{ target }}">
    <p>
        Name:
        <input type="text" name="queue_name" value="{{ queue.name }}" required="required" autofocus="autofocus" />
        <i>(for display on this system)</i>
        <br />
        Code:
        <input type="text" name="queue_code" value="{{ queue.code }}" required="required" />
        <i>(as part of a project code)</i>
        <br />
        Description:
        <textarea name="description">{{ queue.description }}</textarea>
        <br />
        <input type="submit" value="Save" name="submit" />
    </p>
</form>

{% endblock %}
