{% extends 'layout.html' %}
{% set navigation=[(proposal_code, url_for('.proposal_view', proposal_id=proposal_id))] %}

{% set help_link=url_for('help.user_page', page_name='request') %}

{% block content %}

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ url_for('.request_edit', proposal_id=proposal_id) }}">

    {% block request_form %}
    {% endblock %}

    <p>
        <input type="submit" name="submit_save" value="Save" />
    </p>

</form>

{% endblock %}
