{% extends 'layout.html' %}
{% set navigation=[] %}

{% block content %}
{% if secondary_unique is not none %}
    <ul>
        <li>
            In each proposal/person cell, the first line is the
            primary assignment and the second line is the secondary
            assignment.
        </li>
    </ul>
{% endif %}

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ target }}">
    <table>
        {% for proposal in proposals %}
            {% if not loop.index0 % 20 %}
                <tr>
                    <th>Proposal</th>
                    <th>PI Name</th>
                    <th>Title</th>
                    {% for member in group_members %}
                        <th class="sideways"><div><div>{{ member.person_name| truncate(25, killwords=True, end='\u2026')  }}</div></div></th>
                    {% endfor %}
                </tr>
            {% endif %}
            <tr>
                <td><a href="{{ url_for('.proposal_view', proposal_id=proposal.id) }}">{{ proposal.code }}</a></td>
                <td>
                    {% if proposal.members.person_id is not none %}
                        <a href="{{ url_for('people.person_view', person_id=proposal.members.person_id) }}">{{ proposal.members.person_name | truncate(25, killwords=True, end='\u2026') }}</a>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                <td>{{ proposal.title | truncate(25, killwords=True, end='\u2026') }}</td>
                {% for member in group_members %}
                    <td>
                        {% if primary_unique %}
                            <input type="radio" name="primary_{{ proposal.id }}" value="{{ member.person_id }}" {{ 'checked="checked"' | safe if member.person_id in proposal.person_ids_primary }} {{ 'disabled="disabled"' | safe if (proposal.id, member.person_id) in proposal_members }} />
                        {% else %}
                            <input type="checkbox" name="primary_{{ proposal.id }}_{{ member.person_id }}" value="1" {{ 'checked="checked"' | safe if member.person_id in proposal.person_ids_primary }} {{ 'disabled="disabled"' | safe if (proposal.id, member.person_id) in proposal_members }} />
                        {% endif %}
                        {% if secondary_unique is not none %}
                            <br />
                            {% if secondary_unique %}
                                <input type="radio" name="secondary_{{ proposal.id }}" value="{{ member.person_id }}" {{ 'checked="checked"' | safe if member.person_id in proposal.person_ids_secondary }} {{ 'disabled="disabled"' | safe if (proposal.id, member.person_id) in proposal_members }} />
                            {% else %}
                                <input type="checkbox" name="secondary_{{ proposal.id }}_{{ member.person_id }}" value="1" {{ 'checked="checked"' | safe if member.person_id in proposal.person_ids_secondary }} {{ 'disabled="disabled"' | safe if (proposal.id, member.person_id) in proposal_members }} />
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <p>
        <input type="submit" name="submit" value="Save" />
    </p>
</form>
{% endblock %}
