{% extends 'layout.html' %}
{% set navigation=[(proposal_code, url_for('.proposal_view', proposal_id=proposal.id))] %}
{% if role_info.help_page is none %}
    {% set help_link=url_for('help.review_index') %}
{% else %}
    {% set help_link=url_for('help.review_page', page_name=role_info.help_page) %}
{% endif %}
{% set scripts=concatenate_lists(['edit_review', 'formtip'], scripts) %}
{% from 'macro/proposal_summary.html' import render_proposal_summary %}
{% from 'macro/figure.html' import render_review_figure_table %}
{% from 'macro/calculation.html' import render_calculation_title, render_calculation %}

{% block content %}
<h2>Proposal and Review Information</h2>

{% call render_proposal_summary(facility_name, facility_call_type_class, proposal, proposal_code) %}
    <tr>
        <th>Review role</th>
        <td>{{ role_info.name }}</td>
    </tr>
    {% if reviewer.person_id is not none %}
        <tr>
            <th>Reviewer</th>
            <td>
                {% if reviewer.can_view %}
                    <a href="{{ url_for('people.person_view', person_id=reviewer.person_id) }}">{{ reviewer.person_name }}</a>
                {% else %}
                    {{ reviewer.person_name }}
                {% endif %}
            </td>
        </tr>
    {% endif %}
    {% if review_deadline is not none %}
        <tr>
            <th>Review due by</th>
            <td>{{ review_deadline.date | format_datetime }} UT</td>
        </tr>
    {% endif %}
{% endcall %}

{% block calculations %}
    {% if role_info.calc %}
        <h3 id="calculations">Calculations</h3>

        {% if calculations %}
            {% for calculation in calculations %}
                <h4>
                    {{ loop.index }}.
                    {{ render_calculation_title(calculation) }}
                </h4>

                {{ render_calculation(calculation) }}

                {% if calculation.mode_info.code is not none %}
                    <nav>
                        <p>
                            <a href="{{ url_for('.review_calculation_view', reviewer_id=reviewer.id, review_calculation_id=calculation.id) }}">View calculation</a>
                        </p>
                    </nav>
                {% endif %}
            {% endfor %}
        {% endif %}

        <nav>
            <p id="add_calc_links">
                Add calculation:
                {% for calculator in calculators.values() %}
                    <a href="{{ url_for((calculator.code, (calculator.modes | first_value).code) | fmt('.calc_{}_{}'), reviewer_id=reviewer.id) }}">{{ calculator.name }}</a>{{ ',' if not loop.last }}
                {% endfor %}
            </p>
        </nav>

        {% if calculations %}
            <nav>
                <p>
                    <a href="{{ url_for('.review_calculation_manage', reviewer_id=reviewer.id) }}">Manage calculations</a>
                </p>
            </nav>
        {% endif %}
    {% endif %}
{% endblock %}

{% block figures %}
    {% if role_info.figure %}
        <h3 id="figures">Figures</h3>

        {% if figures %}
            {{ render_review_figure_table(figures.values(), reviewer.id) }}

            <nav>
                <p>
                    <a href="{{ url_for('.review_manage_figure', reviewer_id=reviewer.id) }}">Manage figures</a>
                </p>
            </nav>
        {% endif %}

        <nav>
            <p>
                <a id="upload_fig_link" href="{{ url_for('.review_new_figure', reviewer_id=reviewer.id) }}">Upload new figure</a>
            </p>
        </nav>
    {% endif %}
{% endblock %}

{% block information_extra %}
{% endblock %}

{% if proposal.decision_note is not none %}
    <h3>Decision Note</h3>

    {{ proposal.decision_note | format_text(proposal.decision_note_format) }}
{% endif %}

{% if target_guideline is not none %}
    <h3>Guidelines</h3>

    <p>
        <a href="{{ target_guideline }}" target="_blank">Guidelines for this review</a>
    </p>
{% endif %}

<h2>{{ 'Review' if role_info.name_review else role_info.name }}</h2>

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ target }}">
    <ol>
        {% block form_list_review %}
            <li class="separator">{{ 'Review' if role_info.name_review else role_info.name }}</li>
            {% if role_info.text %}
                <li>
                    <label for="text">Review</label>
                    <textarea name="text" cols="80" rows="16" autofocus="autofocus">{{ reviewer.review_text if reviewer.review_text is not none }}</textarea>
                </li>
            {% endif %}
        {% endblock %}
        {% block form_list_note %}
            {% if role_info.note %}
                <li>
                    <div class="explanation">
                        You can use the area below to record your own notes about the proposal.
                    </div>
                    <label for="note">Personal notes</label>
                    <textarea name="note" cols="80" rows="8">{{ reviewer.review_note if reviewer.review_note is not none }}</textarea>
                </li>
                <li>
                    <label for="note_public">Share notes</label>
                    <input type="checkbox" name="note_public" value="yes" {{ 'checked="checked"' | safe if reviewer.review_note_public }} />
                    Notes visible to the review committee
                </li>
            {% endif %}
        {% endblock %}
        {% block form_list_assessment %}
            {% if role_info.assessment %}
                <li>
                    <label for="assessment">Assessment</label>
                    <select name="assessment">
                        <option value="" {{ 'selected="selected"' | safe if reviewer.review_assessment is none }}>Undecided</option>
                        {% for (assessment_id, assessment_name) in assessment_options.items() %}
                            <option value="{{ assessment_id }}" {{ 'selected="selected"' | safe if assessment_id == reviewer.review_assessment }}>{{ assessment_name }}</option>
                        {% endfor %}
                    </select>
                </li>
            {% endif %}
        {% endblock %}
        {% block form_list_rating %}
            {% if role_info.rating %}
                <li>
                    <div class="explanation">
                        {% block form_rating_explanation %}
                            Please give a rating for this proposal on a scale from
                            0 (worst) to 100 (best).
                            You may use the following scale for guidance:
                            <ul>
                                <li><b>0:</b> Very poor.</li>
                                <li><b>25:</b> Poor &mdash; <i>I would not recommend awarding time to the project.</i></li>
                                <li><b>50:</b> Average &mdash; <i>I would only accept this proposal if there is not much demand for the requested observing conditions.</i></li>
                                <li><b>75:</b> Very good &mdash; <i>I consider this a very worthwhile project.</i></li>
                                <li><b>100:</b> An exceptional proposal with the prospect of extremely significant results.</i></li>
                            </ul>
                        {% endblock %}
                    </div>
                    <label for="rating">Rating</label>
                    <input type="number" name="rating" value="{{ reviewer.review_rating if reviewer.review_rating is not none }}" min="0" max="100" step="1" class="req_if_done" {{ 'autofocus="autofocus"' | safe if not role_info.text }} />
                </li>
            {% endif %}
            {% if role_info.weight %}
                <li>
                    <div class="explanation">
                        {% block form_weight_explanation %}
                            Please give an assessment of your expertise regarding
                            the subject matter of this proposal,
                            on a scale from 0 (least) to 100 (most).
                            The self-assessment weighting given here will be used
                            to moderate the effect of your rating of the proposal
                            on its average score.
                            You may use the following scale for guidance:
                            <ul>
                                <li><b>0:</b> I know nothing of this field.</li>
                                <li><b>50:</b> I have a fair degree of knowledge of this field.</li>
                                <li><b>100:</b> I am an expert in this field and my knowledge of it is fully up-to-date.</li>
                            </ul>
                        {% endblock %}
                    </div>
                    <label for="weight">Weighting</label>
                    <input type="number" name="weight" value="{{ reviewer.review_weight if reviewer.review_weight is not none }}" min="0" max="100" step="1" class="req_if_done" />
                </li>
            {% endif %}
        {% endblock %}
        {% block form_list_extra %}
        {% endblock %}
        <li class="separator">Status and submission</li>
        <li>
            <div class="explanation">
                Please indicate whether the review is complete.
                If you leave the box unchecked, you will be able to save
                the review in a draft form without completing all
                parts of it.
            </div>
            <label for="done">Review complete</label>
            <input type="checkbox" name="done" value="1" {{ 'checked="checked"' | safe if reviewer.review_state is review_state_done }} />
        </li>
        <li>
            <input type="submit" value="Save" name="submit" />
            {% if referrer is not none %}
                <input type="hidden" name="referrer" value="{{ referrer }}" />
            {% endif %}
        </li>
    </ol>
</form>
{% endblock %}
