{% extends 'person_select.html' %}
{% set navigation=[((call.semester_name, call.queue_name, (call.type | call_type_name(facility_call_type_class))) | fmt('{} {} {}'), url_for('.review_call', call_id=call.id)),
                   ('Reviewers', url_for('.review_call_reviewers', call_id=call.id))] %}
{% set help_link=url_for('help.admin_page', page_name='review_process') %}

{% from 'macro/proposal_summary.html' import render_proposal_summary %}

{% block content %}
    {% call render_proposal_summary(facility_name, facility_call_type_class, proposal, proposal_code, abstract=abstract, categories=proposal.categories) %}
        <tr>
            <th>Review due by</th>
            <td id="review_deadline_cell">
                {% if review_deadline is not none %}
                    {{ review_deadline.date | format_datetime }} UT
                {% else %}
                    <p class="missing">Not specified</p>
                {% endif %}
            </td>
        </tr>
    {% endcall %}

    {{ super() }}
{% endblock %}
