{% extends 'layout.html' %}
{% set help_link=url_for('help.review_page', page_name='invitation') %}

{% block content %}
<p>
    {% if reviewer.role is reviewer_role_invited(facility_role_class) %}
        Thank you for accepting your invitation
        regarding the review of this proposal.
    {% endif %}
    Please use the links below to view the proposal and,
    when you are ready, to write your review.
    You will be able to see the proposal and edit
    your review while the proposal remains under review.
    You may also save your review in a draft form
    prior to having completed it in full.
</p>

<ul id="review_action_links">
    <li><a href="{{ url_for('.proposal_view', proposal_id=reviewer.proposal_id) }}">View proposal {{ proposal_code }}</a></li>
    <li><a href="{{ url_for('.review_edit', reviewer_id=reviewer.id) }}">{{ 'Edit' if (reviewer.review_state is review_state_present) else 'Write' }} your review</a></li>
</ul>

<p>
    This review can be found in the
    <a href="{{ url_for('people.person_reviews') }}">list of all of your active reviews</a>.
    You may view this list at any time by clicking the
    &ldquo;Your reviews&rdquo; entry in the menu at the top of the page.
</p>

{% if reviewer.role is not reviewer_role_accepted(facility_role_class) %}
    <p>
        Please <a href="{{ url_for('home.contact_page') }}">contact us</a>
        if you feel unable to review this proposal.
    </p>
{% endif %}
{% endblock %}
