{% extends 'layout.html' %}
{% set navigation=[((call.semester_name, call.queue_name, (call.type | call_type_name(facility_call_type_class))) | fmt('{} {} {}'), url_for('.review_call', call_id=call.id)),
                   ('Reviewers', url_for('.review_call_reviewers', call_id=call.id))] %}
{% set help_link=url_for('help.admin_page', page_name='review_process') %}
{% set scripts = ['jquery_stickytableheaders', 'reviewer_grid'] %}

{% macro render_reviewer_select(prefix, is_unique, person_ids, proposal_id, person_id) %}
    {% if is_unique %}
        {% if person_ids.values() | count_true %}
            {% if person_id in person_ids %}
                &check;
                <input type="hidden" name="{{ prefix }}_{{ proposal_id }}" value="{{ person_id }}" />
            {% else %}
                &mdash;
            {% endif %}
        {% else %}
            <input type="radio" name="{{ prefix }}_{{ proposal_id }}" value="{{ person_id }}" {{ 'checked="checked"' | safe if person_id in person_ids }} />
        {% endif %}
    {% else %}
        {% if person_ids.get(person_id, False) %}
            &check;
            <input type="hidden" name="{{ prefix }}_{{ proposal_id }}_{{ person_id }}" value="1" />
        {% else %}
            <input type="checkbox" name="{{ prefix }}_{{ proposal_id }}_{{ person_id }}" value="1" {{ 'checked="checked"' | safe if person_id in person_ids }} />
        {% endif %}
    {% endif %}
{% endmacro %}

{% block content %}
{% if (roles | length) > 1 %}
    <p>
        In each proposal/person cell, the lines correspond to the following
        assignments:
    </p>

    <ul>
        {% for role_info in roles.values() %}
            <li>{{ role_info.name }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ target }}">
    <table id="reviewer_grid" data-nroles="{{ roles | length }}">
        <thead>
            <tr>
                <th>Proposal</th>
                <th>PI Name</th>
                <th>Title</th>
                {% for member in group_members.values() %}
                    <th class="sideways"><div><div>{{ member.person_name| abbr(25)  }}</div></div></th>
                {% endfor %}
            </tr>
        </thead>
        {% for proposal in proposals %}
            <tr>
                <td><a href="{{ url_for('.proposal_view', proposal_id=proposal.id) }}">{{ proposal.code }}</a></td>
                <td>
                    {% if proposal.member is not none %}
                        {% if proposal.member.can_view %}
                            <a href="{{ url_for('people.person_view', person_id=proposal.member.person_id) }}">{{ proposal.member.person_name | abbr(25) }}</a>
                        {% else %}
                            {{ proposal.member.person_name }}
                        {% endif %}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                <td>{{ proposal.title | abbr(25) }}</td>
                {% for member in group_members.values() %}
                    <td class="control_center">
                        {% for (role_id, role_info) in roles.items() %}
                            {% if proposal.members.has_person(member.person_id) %}
                                &nbsp;
                            {% elif member.person_id in conflict_person_ids[proposal.id] %}
                                &cross;
                            {% else %}
                                {{ render_reviewer_select(role_id | fmt('rev_{}'), role_info.unique, proposal.reviewer_person_ids[role_id], proposal.id, member.person_id) }}
                            {% endif %}
                            {% if not loop.last %}
                                <br />
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <p>
        <input type="submit" name="submit" value="Save" />
    </p>
</form>
{% endblock %}
