{% extends "layout.html" %}
{% set navigation=['facility_admin'] %}
{% set help_link=url_for('help.admin_page', page_name='semester') %}

{% block content %}

<p>
    <a href="{{ url_for('.semester_new') }}">New semester</a>
</p>

<table>
    <tr>
        <th>Semester</th>
        <th>Code</th>
        <th>Start date (UT)</th>
        <th>End date (UT)</th>
        <th>Status</th>
    </tr>
    {% for semester in semesters.values() %}
        <tr>
            <td><a href="{{ url_for('.semester_view', semester_id=semester.id) }}">{{ semester.name }}</a></td>
            <td>{{ semester.code }}</td>
            <td>{{ semester.date_start | format_datetime }}</td>
            <td>{{ semester.date_end | format_datetime }}</td>
            <td>{{ semester.state | semester_state_name }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
