{% extends "layout.html" %}
{% from 'macro/call.html' import render_call_type_warning %}
{% set help_link=url_for('help.user_page', page_name='proposal_create') %}

{% block content %}

{{ render_call_type_warning(facility_call_type_class, separate, call_type) }}

{% if show_admin_links %}
    <nav>
        <ol class="fa-ul">
            <li><a href="{{ url_for('.semester_view', semester_id=semester.id) }}"><span class="fa-li"><span class="fa-solid fa-timeline"></span></span>Semester settings</a></li>
        </ol>
    </nav>
{% endif %}

<h2>Semester Information</h2>

<table>
    <tr>
        <th>Semester start of observing</th>
        <td>{{ semester.date_start | format_datetime }} UT</td>
    </tr>
    <tr>
        <th>Semester end of observing</th>
        <td>{{ semester.date_end | format_datetime }} UT</td>
    </tr>
</table>

{% if calls and not separate %}
    <table>
        <tr>
            <th>Queue</th>
            {% for call in calls.values() %}
                <td><a href="#queue_{{ call.queue_id }}">{{ call.queue_name }}</a></td>
            {% endfor %}
        </tr>
        <tr>
            <th>Call for proposals closing date</th>
            {% for call in calls.values() %}
                <td>{{ call.date_close | format_datetime }} UT</td>
            {% endfor %}
        </tr>
    </table>
{% endif %}

{% if call_preamble is not none %}
    {{ call_preamble.description | format_text(call_preamble.description_format) }}
{% endif %}

{{ semester.description | format_text(semester.description_format) }}

{% if calls %}
    {% if not separate %}
        <h2>Available Queues</h2>

        <p>
            The following queues have open calls for this semester.
            Please select a queue to start a new proposal.
        </p>
    {% endif %}

    {% for call in calls.values() %}
        {% if not separate %}
            <h3 id="queue_{{ call.queue_id }}">{{ call.queue_name }}</h3>
        {% endif %}

        <table>
            <tr>
                <th>Call for proposals opens</th>
                <td>{{ call.date_open | format_datetime }} UT</td>
            </tr>
            {% if call_mid_closes %}
                {% set mid_closes = call_mid_closes.subset_by_call(call.id) %}
                {% if mid_closes %}
                    {% for mid_close in mid_closes.values() %}
                        <tr>
                            {% if loop.first %}
                                <th rowspan="{{ mid_closes | length }}">Intermediate closing {{ 'dates' if (mid_closes | length) > 1 else 'date' }}</th>
                            {% endif %}
                            <td>{{ mid_close.date | format_datetime }} UT</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endif %}
            <tr>
                <th>Call for proposals closes</th>
                <td>{{ call.date_close | format_datetime }} UT</td>
            </tr>
        </table>

        <p>
            <a id="call_{{ call.id }}_link" class="create_proposal_link" href="{{ url_for('.proposal_new', call_id=call.id) }}">Create a proposal for the {{ call.queue_name }} Queue
                {% if call_type is not call_type_standard(facility_call_type_class) %}
                    ({{ call_type | call_type_name(facility_call_type_class) }} Call)
                {% endif %}
            </a>
        </p>

        {{ call.queue_description | format_text(call.queue_description_format) }}

        {% if show_admin_links %}
            <nav>
                <ol class="fa-ul">
                    <li><a href="{{ url_for('.call_view', call_id=call.id) }}"><span class="fa-li"><span class="fa-solid fa-bullhorn"></span></span>Call settings</a></li>
                    <li><a href="{{ url_for('.queue_view', queue_id=call.queue_id) }}"><span class="fa-li"><span class="fa-solid fa-filter"></span></span>Queue settings</a></li>
                    <li><a href="{{ url_for('.call_proposals', call_id=call.id) }}"><span class="fa-li"><span class="fa-solid fa-book"></span></span>View proposals</a></li>
                    <li><a href="{{ url_for('.review_call', call_id=call.id) }}"><span class="fa-li"><span class="fa-solid fa-file-lines"></span></span>Review process</a></li>
                </ol>
            </nav>
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}
