{% extends 'layout.html' %}

{% set help_link=url_for('help.user_page', page_name='proposal_create') %}

{% from 'macro/call.html' import render_call_list %}

{% block content %}
{% if open_calls %}
    {% with plural = (open_calls_count > 1) %}
        <p>
            The following special
            {{ 'calls are' if plural else 'call is' }} open:
        </p>
    {% endwith %}

    {{ render_call_list(facility_call_type_class, open_calls) }}
{% else %}
    <p>
        There are currently no open
        {{ facility_call_type_class.STANDARD | call_type_name(facility_call_type_class) | lower }}
        calls for proposals.
    </p>
{% endif %}

<nav>
    <p>
        For
        {{ facility_call_type_class.STANDARD | call_type_name(facility_call_type_class) | lower }}
        calls for proposals, please see the
        <a href="{{ url_for('.facility_home') }}">facility home page</a>.
    </p>
</nav>

{% endblock %}
