{% extends "layout.html" %}
{% set navigation=['facility_admin', ('Semesters', url_for('.semester_list'))] %}
{% set help_link=url_for('help.admin_page', page_name='semester') %}

{% block content %}

<table>
    <tr>
        <th>Code</th>
        <td>{{ semester.code }}</td>
    </tr>
    <tr>
        <th>Start</th>
        <td>{{ semester.date_start | format_datetime }} UT</td>
    </tr>
    <tr>
        <th>End</th>
        <td>{{ semester.date_end | format_datetime }} UT</td>
    </tr>
</table>

<h2>Semester Description</h2>

{{ semester.description | format_text(semester.description_format) }}

<nav>
    <ol>
        <li><a href="{{ url_for('.semester_edit', semester_id=semester.id) }}">Edit semester</a></li>
    </ol>
</nav>

<h2>Call Preamble</h2>

<table>
    {% for (type_num, type_name) in facility_call_type_class.get_options().items() %}
        <tr>
            <th>{{ type_name }}</th>
            <td>
                {% with preamble = call_preambles.get_type(type_num, default=none) %}
                    {% if preamble is not none %}
                        {{ preamble.description | format_text(preamble.description_format) }}
                    {% else %}
                        <p class="not_present">
                            The call preamble for this call type has not been entered.
                        </p>
                    {% endif %}

                    <nav>
                        <ol>
                            <li><a id="preamble_edit_{{ type_num }}" href="{{ url_for('.call_preamble_edit', semester_id=semester.id, call_type=type_num) }}">{{ 'Add' if preamble is none else 'Edit' }} preamble</a></li>
                        </ol>
                    </nav>
                {% endwith %}
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
