{% extends "layout.html" %}

{% set help_link=url_for('help.user_page', page_name='proposal_create') %}

{% block content %}

{% if call_type is not call_type_standard(facility_call_type_class) %}
    <p class="minor_warning">
        This is a {{ call_type | full_call_type_name(facility_call_type_class) }}.
        For {{ facility_call_type_class.STANDARD | full_call_type_name(facility_call_type_class, plural=true) }},
        please see the
        <a href="{{ url_for('.facility_home') }}">facility home page</a>.
    </p>
{% endif %}

<h2>Semester Information</h2>

<table>
    <tr>
        <th>Semester start of observing</th>
        <td>{{ semester.date_start | format_datetime }} UT</td>
    </tr>
    <tr>
        <th>Semester end of observing</th>
        <td>{{ semester.date_end | format_datetime }} UT</td>
    </tr>
</table>

{% if calls %}
    <table>
        <tr>
            <th>Queue</th>
            {% for call in calls.values() %}
                <td><a href="#queue_{{ call.queue_id }}">{{ call.queue_name }}</a></td>
            {% endfor %}
        </tr>
        <tr>
            <th>Call for proposals closing date</th>
            {% for call in calls.values() %}
                <td>{{ call.date_close | format_datetime }} UT</td>
            {% endfor %}
        </tr>
    </table>
{% endif %}

{% if call_preamble is not none %}
    {{ call_preamble.description | format_text(call_preamble.description_format) }}
{% endif %}

{{ semester.description | format_text(semester.description_format) }}

{% if calls %}
    <h2>Available Queues</h2>

    <p>
        The following queues have open calls for this semester.
        Please select a queue to start a new proposal.
    </p>

    {% for call in calls.values() %}
        <h3 id="queue_{{ call.queue_id }}">{{ call.queue_name }}</h3>

        <table>
            <tr>
                <th>Call for proposals opens</th>
                <td>{{ call.date_open | format_datetime }} UT</td>
            </tr>
            {% if call_mid_closes %}
                {% set mid_closes = call_mid_closes.subset_by_call(call.id) %}
                {% if mid_closes %}
                    {% for mid_close in mid_closes.values() %}
                        <tr>
                            {% if loop.first %}
                                <th rowspan="{{ mid_closes | length }}">Intermediate closing {{ 'dates' if (mid_closes | length) > 1 else 'date' }}</th>
                            {% endif %}
                            <td>{{ mid_close.date | format_datetime }} UT</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endif %}
            <tr>
                <th>Call for proposals closes</th>
                <td>{{ call.date_close | format_datetime }} UT</td>
            </tr>
        </table>

        <p>
            <a id="call_{{ call.id }}_link" class="create_proposal_link" href="{{ url_for('.proposal_new', call_id=call.id) }}">Create a proposal for the {{ call.queue_name }} Queue
                {% if call_type is not call_type_standard(facility_call_type_class) %}
                    ({{ call_type | call_type_name(facility_call_type_class) }} Call)
                {% endif %}
            </a>
        </p>

        {{ call.queue_description | format_text(call.queue_description_format) }}
    {% endfor %}
{% endif %}

{% endblock %}
