{% extends "layout.html" %}
{% set navigation=['facility_admin'] %}
{% set help_link=url_for('help.admin_page', page_name='semester') %}

{% block content %}

<nav>
    <ol>
        <li><a href="{{ url_for('.semester_new') }}"><span class="fa-solid fa-circle-plus"></span>New semester</a></li>
    </ol>
</nav>


{% if not semesters %}
    <p class="not_present">
        No semesters have yet been defined.
    </p>
{% else %}
    <table>
        <tr>
            <th>Semester</th>
            <th>Code</th>
            <th>Start date (UT)</th>
            <th>End date (UT)</th>
            <th>Status</th>
        </tr>
        {% for semester in semesters.values() %}
            <tr>
                <td><a href="{{ url_for('.semester_view', semester_id=semester.id) }}">{{ semester.name }}</a></td>
                <td>{{ semester.code }}</td>
                <td>{{ semester.date_start | format_datetime }}</td>
                <td>{{ semester.date_end | format_datetime }}</td>
                <td class="{{ semester.state | semester_state_class }}">{{ semester.state | semester_state_name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock %}
