{% extends "layout.html" %}

{% block content %}

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}


<form method="POST" action="{{ target }}">
    <ol>
        <li>
            <label for="semester_name">Name</label>
            <input type="text" name="semester_name" value="{{ semester.name }}" required="required" autofocus="autofocus" />
            <span class="explanation">for display on this system</span>
        </li>
        <li>
            <label for="semester_code">Code</label>
            <input type="text" name="semester_code" value="{{ semester.code }}" required="required" />
            <span class="explanation">as part of a project code</span>
        </li>
        <li>
            <label for="start_date">Start date</label>
            <input type="date" name="start_date" value="{{ semester.date_start | format_date }}" placeholder="YYYY-MM-DD" required="required" size="10" />
            <input type="time" name="start_time" value="{{ semester.date_start | format_time }}" placeholder="HH:MM" required="required" size="5" />
            <span class="explanation">UT, start of observing</span>
        </li>
        <li>
            <label for="end_date">End date</label>
            <input type="date" name="end_date" value="{{ semester.date_end | format_date }}" placeholder="YYYY-MM-DD" required="requried" size="10" />
            <input type="time" name="end_time" value="{{ semester.date_end | format_time }}" placeholder="HH:MM" required="required" size="5" />
            <span class="explanation">UT, end of observing</span>
        </li>
        <li>
            <label for="description">Description</label>
            <textarea name="description" cols="80" rows="10">{{ semester.description }}</textarea>
        </li>
        <li>
            <input type="submit" value="Save" name="submit" />
        </li>
    </ol>
</form>

{% endblock %}
