{% extends "layout.html" %}
{% set navigation=['facility_admin', ('Semesters', url_for('.semester_list'))] %}

{% block content %}

<table>
    <tr>
        <th>Code</th>
        <td>{{ semester.code }}</td>
    </tr>
    <tr>
        <th>Start</th>
        <td>{{ semester.date_start | format_datetime }} UT</td>
    </tr>
    <tr>
        <th>End</th>
        <td>{{ semester.date_end | format_datetime }}</td>
    </tr>
</table>

<p>
    Description:
</p>

{{ semester.description | format_text }}

<p>
    <a href="{{ url_for('.semester_edit', semester_id=semester.id) }}">Edit semester</a>
</p>

{% endblock %}
