{% extends "layout.html" %}
{% set navigation=[(proposal_code, url_for('.proposal_view', proposal_id=proposal_id))] %}
{% set scripts=['edit_target'] %}
{% set help_link=url_for('help.user_page', page_name='target') %}

{% block content %}

<ul>
    <li>
        Target coordinates may be entered in sexagesmial or decimal degrees.
    </li>
    <li>
        If you have <b>FK5 J2000</b> coordinates, you may enter them as <b>ICRS</b>.
        (The difference is not likely to be significant for this purpose.)
    </li>
    <li>
        For targets without suitable fixed coordinates, e.g. Venus, you may
        enter just the name.
    </li>
    <li>
        The &ldquo;Resolve name&rdquo; buttons use
        <a href="http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/NameResolver/" target="_blank">CADC&rsquo;s Name Resolver</a>.
    </li>
    <li>
        The observing time and target priority are optional.
        Targets may be assigned priorities from 1 (highest) to 100 (lowest).
    </li>
</ul>

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ url_for('.target_edit', proposal_id=proposal_id) }}">
    <table id="targets" data-resolver="{{ url_for('query.name_resolver') }}">
        <tr>
            <th>Name</th>
            <th>RA / Longitude</th>
            <th>Dec / Latitude</th>
            <th>System</th>
            <th>Time</th>
            <th>Priority<br />(1 highest)</th>
            <th>Actions</th>
        </tr>
        {% for target in targets %}
            <tr id="targetrow_{{ target.id }}">
                <td><input type="text" name="name_{{ target.id }}" value="{{ target.name }}" size="15" /></td>
                <td><input type="text" name="x_{{ target.id }}" value="{{ target.x }}" placeholder="00:00:00" size="10" /></td>
                <td><input type="text" name="y_{{ target.id }}" value="{{ target.y }}" placeholder="00:00:00" size="10" /></td>
                <td>
                    <select name="system_{{ target.id }}">
                        {% for (system_id, system_name) in systems.items() %}
                            <option value="{{ system_id }}" {{ 'selected="selected"' | safe if system_id == target.system }} >{{ system_name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><input type="number" class="narrow_number" name="time_{{ target.id }}" value="{{ target.time }}" step="any" min="0" /> hours</td>
                <td><input type="number" class="narrow_number" name="priority_{{ target.id }}" value="{{ target.priority }}" step="1" min="1" max="100" /></td>
                <td>
                    <input type="button" id="delete_{{ target.id }}" value="Delete" />
                    <input type="button" id="resolve_{{ target.id }}" value="Resolve name" />
                </td>
            </tr>
        {% endfor %}
    </table>
    <table class="template">
        <tr id="targetrow_template">
            <td><input type="text" name="name" value="" size="15" /></td>
            <td><input type="text" name="x" value="" placeholder="00:00:00" size="10" /></td>
            <td><input type="text" name="y" value="" placeholder="00:00:00" size="10" /></td>
            <td>
                <select name="system">
                    {% for (system_id, system_name) in systems.items() %}
                        <option value="{{ system_id }}">{{ system_name }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><input type="number" class="narrow_number" name="time" value="" step="any" min="0" /> hours</td>
            <td><input type="number" class="narrow_number" name="priority" value="" step="1" min="1" max="100" /></td>
            <td>
                <input type="button" id="delete_template" value="Delete" />
                <input type="button" id="resolve_template" value="Resolve name" />
            </td>
        </tr>
    </table>
    <p>
        <input type="button" id="add_target" value="Add target" />
    </p>
    <p>
        <input type="submit" value="Save" name="submit" />
    </p>
</form>

{% endblock %}
