{% extends 'generic/tool_base.html' %}
{% set help_link=url_for('help.user_page', page_name='target_clash') %}

{% macro search_radius_input() %}
    <li>
        <label for="radius">Search radius</label>
        <select name="radius">
            {% for radius_option in radius_options %}
                <option value="{{ radius_option }}" {{ 'selected="selected"' | safe if (radius_option == radius) }}>{{ radius_option }}</option>
            {% endfor %}
        </select>
        "
    </li>
{% endmacro %}

{% macro render_target_links(target_links) %}
    {% if target_links %}
        <nav>
            <ol>
                {% for target_link in target_links %}
                    <li><a href="{{ target_link.url }}" target="_blank">{{ target_link.text }}</a></li>
                {% endfor %}
            </ol>
        </nav>
    {% endif %}
{% endmacro %}

{% block tool_input_list_extra %}
    {{ search_radius_input() }}
{% endblock %}

{% block tool_output %}
{% if not moc_ready %}
    <p class="warning">
        The clash tool&rsquo;s sky coverage maps are currently being updated.
        Search results may be incomplete at this time.
    </p>
{% endif %}

{% if not show_input %}
    <section>
        <h2>Search Options</h2>

        {% if message is not none %}
            <p class="warning">
                {{ message }}
            </p>
        {% endif %}

        <form method="GET" action="{{ url_for(target_tool_code | fmt('.tool_{}_proposal'), proposal_id=proposal_id)}}">
            <ol>
                {{ search_radius_input() }}
                <li>
                    <input type="submit" value="{{ run_button }}" />
                </li>
            </ol>
        </form>
    </section>
{% endif %}

{% if clashes is not none %}
    <section>
        <h2>Output</h2>

        {% if clashes %}
            <h3>Matches</h3>

            <p>
                Matches were found for the following targets.
            </p>

            <p>
                Please investigate each match and add a note to your
                proposal to explain why you still wish to observe
                these targets.
                You can click the name of a match
                for more information on how the
                corresponding coverage area is defined.
            </p>

            <ul>
                {% for clash in clashes %}
                    <li>
                        <p>
                            {{ clash.target.name }}
                        </p>

                        <p>
                            Matches were found in the following defined areas of sky coverage:
                        </p>

                        <ul>
                            {% for clash in clash.mocs.values() %}
                                <li>
                                    <a href="{{ url_for(target_tool_code | fmt('.tool_{}_moc_info'), moc_id=clash.id) }}">{{ clash.name }}</a>
                                    {% if not clash.public %}
                                        <span class="label">private</span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>

                        {{ render_target_links(clash.target_links) }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if non_clashes %}
            <h3>Non-matches</h3>

            <p>
                No match was found for the following targets:
            </p>

            <ul>
                {% for clash in non_clashes %}
                    <li>
                        <p>
                            {{ clash.target.name }}
                        </p>

                        {{ render_target_links(clash.target_links) }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
{% endif %}

{% endblock %}

{% block tool_footer %}
    <nav>
        <ol>
            <li><a href="{{ url_for(target_tool_code | fmt('.tool_{}_moc_list')) }}">View all defined areas of sky coverage</a></li>
        </ol>
    </nav>
{% endblock %}
