{% extends 'layout.html' %}
{% if proposal_id is defined %}
    {% set navigation=[(proposal_code, url_for('.proposal_view', proposal_id=proposal_id))] %}
{% endif %}
{% from 'macro/target.html' import render_target_list_info %}

{% if scripts is defined %}
    {% set scripts = ['formtip'] + scripts %}
{% else %}
    {% set scripts = ['formtip'] %}
{% endif %}

{% block content %}

{% if proposal_id is defined %}
    <nav>
        <p>
            <a href="{{ url_for('.proposal_view', proposal_id=proposal_id, _anchor='targets') }}">Back to proposal</a>
        </p>
    </nav>
{% endif %}

{% block tool_output %}
{% endblock %}

{% if show_input %}
    <form method="POST" action="{{ url_for(target_tool_code | fmt('.tool_{}_upload' if show_input_upload else '.tool_{}'))}}" {{ 'enctype="multipart/form-data"' | safe if show_input_upload }}>
    {% block tool_input %}
        <section>
            <h2>Input</h2>

            {% if show_input_upload %}
                {{ render_target_list_info() }}
            {% endif %}

            {% if message is not none %}
                <p class="warning">
                    {{ message }}
                </p>
            {% endif %}

            <ol>
                {% if show_input_upload %}
                    <li>
                        <label for="file">Target list</label>
                        <input type="file" name="file" accept="{{ mime_types | join (',') }}" />
                    </li>
                {% else %}
                    <li>
                        <label for="x">RA / Longitude</label>
                        <input type="text" name="x" value="{{ target.x }}" placeholder="00:00:00" />
                    </li>
                    <li>
                        <label for="y">Dec / Latitude</label>
                        <input type="text" name ="y" value="{{ target.y }}" placeholder="00:00:00" />
                    </li>
                    <li>
                        <label for="system">System</label>
                        <select name="system">
                            {% for (system_id, system_name) in systems.items() %}
                                <option value="{{ system_id }}" {{ 'selected="selected"' | safe if system_id == target.system }}>{{ system_name }}</option>
                            {% endfor %}
                        </select>
                        <div class="formtip">
                            <div>
                                If you have <b>FK5 J2000</b> coordinates,
                                you may enter them as <b>ICRS</b>.
                                (The difference is not likely to be
                                significant for this purpose.)
                            </div>
                        </div>
                    </li>
                {% endif %}
                <li>
                    <input type="submit" name="submit_calc" value="{{ run_button }}" />
                </li>
            </ol>
        </section>
    {% endblock %}
    </form>

    <nav>
        <p>
            {% if show_input_upload %}
                <a href="{{ url_for(target_tool_code | fmt('.tool_{}')) }}">Check a single target</a>
            {% else %}
                <a href="{{ url_for(target_tool_code | fmt('.tool_{}_upload')) }}">Upload a target list</a>
            {% endif %}
        </p>
    </nav>
{% endif %}

{% block tool_footer %}
{% endblock %}

{% endblock %}
