{% extends 'generic/tool_base.html' %}

{% block tool_output %}

{% if clashes is not none %}
    <section>
        <h2>Output</h2>

        {% if clashes %}
            <h3>Matches</h3>

            <p>
                Matches were found for the following targets:
            </p>

            <ul>
                {% for clash in clashes %}
                    <li>
                        <p>
                            {{ clash.target.name }}
                        </p>

                        <p>
                            Matches were found in the following defined areas of sky coverage:
                        </p>

                        <ul>
                            {% for clash in clash.mocs.values() %}
                                <li>
                                    <a href="{{ url_for(target_moc_info, moc_id=clash.id) }}">{{ clash.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        {% if clash.target_search is not none %}
                            <p>
                                <a href="{{ clash.target_search }}" target="_blank">Search archive at {{ clash.display_coord }}</a>
                            </p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if non_clashes %}
            <h3>Non-matches</h3>

            <p>
                No match was found for the following targets:
            </p>

            <ul>
                {% for clash in non_clashes %}
                    <li>
                        <p>
                            {{ clash.target.name }}
                        </p>

                        {% if clash.target_search is not none %}
                            <p>
                                <a href="{{ clash.target_search }}" target="_blank">Search archive at {{ clash.display_coord }}</a>
                            </p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
{% endif %}

{% endblock %}
