{% extends 'layout.html' %}
{% set navigation=[(target_tool_name, url_for('.tool_clash'))] %}
{% set help_link=url_for('help.admin_page', page_name='moc') %}

{% block content %}

<p>
    <a href="{{ url_for('.tool_clash_moc_new') }}">New coverage map</a>
</p>

<table>
    <tr>
        <th>Name</th>
        <th>Uploaded</th>
        <th>Cells</th>
        <th>Area</th>
        <th>Status</th>
        <th colspan="2">Actions</th>
    </tr>
    {% for moc in mocs.values() %}
        <tr>
            <td>
                {{ moc.name }}
                {% if not moc.public %}
                    <span class="label">private</span>
                {% endif %}
            </td>
            <td>{{ moc.uploaded | format_datetime }} UT</td>
            <td>{{ moc.num_cells }}</td>
            <td>{{ moc.area | fmt('{:0.1f}') }} sq. deg.</td>
            <td>{{ moc.state | attachment_state_name }}</td>
            <td><a href="{{ url_for('.tool_clash_moc_edit', moc_id=moc.id) }}">Edit</a></td>
            <td><a href="{{ url_for('.tool_clash_moc_delete', moc_id=moc.id) }}">Delete</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
