{% extends 'layout.html' %}
{% if proposal_id is defined %}
    {% set navigation=[(proposal_code, url_for('.proposal_view', proposal_id=proposal_id))] %}
{% endif %}
{% from 'macro/target.html' import render_target_list_info %}

{% set scripts = concatenate_lists(['resolve_name', 'tool_base', 'formtip'], scripts) %}

{% block content %}

{% if proposal_id is defined %}
    <nav>
        <p>
            <a href="{{ url_for('.proposal_view', proposal_id=proposal_id, _anchor='targets') }}">Back to proposal</a>
        </p>
    </nav>
{% endif %}

{% block tool_output %}
{% endblock %}

{% block tool_query_link %}
    {% if query_encoded is not none %}
        <p>
            <a href="{{ url_for(target_tool_code | fmt('.tool_{}'), query=query_encoded, _external=true) }}" id="perm_query_link">Link to this query</a>
        </p>
    {% endif %}
{% endblock %}

{% if show_input %}
    <form method="POST" action="{{ url_for(target_tool_code | fmt('.tool_{}_upload' if show_input_upload else '.tool_{}'))}}" {{ 'enctype="multipart/form-data"' | safe if show_input_upload }}>
    {% block tool_input %}
        <section>
            <h2>Input</h2>

            {% if show_input_upload %}
                {{ render_target_list_info() }}
            {% endif %}

            {% if message is not none %}
                <p class="warning">
                    {{ message }}
                </p>
            {% endif %}

            <ol>
                {% block tool_input_list %}
                    {% if show_input_upload %}
                        <li>
                            <label for="file">Target list</label>
                            <input type="file" name="file" accept="{{ mime_types | join (',') }}" />
                        </li>
                    {% else %}
                        <li>
                            <label for="name">Target name</label>
                            <input type="text"  name="name" value="{{ target.name }}" placeholder="Optional" autofocus="autofocus" />
                            <input type="button" id="resolve" value="Resolve name" data-resolver="{{ url_for('query.name_resolver') }}" />
                        <li>
                            <label for="x">RA / Longitude</label>
                            <input type="text" name="x" value="{{ target.x }}" placeholder="00:00:00" required="required" />
                        </li>
                        <li>
                            <label for="y">Dec / Latitude</label>
                            <input type="text" name ="y" value="{{ target.y }}" placeholder="00:00:00" required="required" />
                        </li>
                        <li>
                            <label for="system">System</label>
                            <select name="system">
                                {% for (system_id, system_name) in systems.items() %}
                                    <option value="{{ system_id }}" {{ 'selected="selected"' | safe if system_id == target.system }}>{{ system_name }}</option>
                                {% endfor %}
                            </select>
                            <div class="formtip">
                                <div>
                                    If you have <b>FK5 J2000</b> coordinates,
                                    you may enter them as <b>ICRS</b>.
                                    (The difference is not likely to be
                                    significant for this purpose.)
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    {% block tool_input_list_extra %}
                    {% endblock %}
                    <li>
                        <input type="submit" name="submit_calc" value="{{ run_button }}" />
                    </li>
                {% endblock %}
            </ol>
        </section>
    {% endblock %}
    </form>

    <nav>
        <p>
            {% if show_input_upload %}
                <a href="{{ url_for(target_tool_code | fmt('.tool_{}')) }}" id="tool_single_link">Check a single target</a>
            {% else %}
                <a href="{{ url_for(target_tool_code | fmt('.tool_{}_upload')) }}" id="tool_upload_link">Upload a target list</a>
            {% endif %}
        </p>
    </nav>
{% endif %}

{% block tool_footer %}
{% endblock %}

{% endblock %}
