{% extends 'generic/text_edit.html' %}

{% block content %}
<p>Tools for checking your proposal targets:</p>

<ul>
    {% for target_tool in target_tools.values() %}
        <li><a href="{{ url_for(target_tool.code | fmt('.tool_{}_proposal'), proposal_id=proposal_id) }}" target="_blank">{{ target_tool.name }}</a></li>
    {% endfor %}
</ul>

<p>
    <b>Note:</b>
    you do not need to include the tool results themselves here.
    Anyone viewing your proposal will be able to use the latest version
    of the tools.
</p>

{{ super() }}
{% endblock %}
