{% extends 'layout.html' %}
{% set navigation=[(target_tool_name, url_for('.tool_' + target_tool_code)), ('Coverage list', url_for(target_tool_code | fmt('.tool_{}_moc_list')))] %}
{% set help_link=url_for('help.user_page', page_name='target_clash') %}
{% set scripts=['formtip'] %}

{% block content %}

<p>
    This page gives information about one of the coverage maps
    which is used by the Clash Tool
    to check for matches with your target coordinates.
</p>

{% if moc.description %}
    <h2>Description of Coverage Map</h2>

    {{ moc.description | format_text(moc.description_format) }}
{% endif %}

<h2>Additional Information about Coverage Map</h2>

<table>
    <tr>
        <th>Last updated</th>
        <td>{{ moc.uploaded | format_datetime }} UT</td>
        <td class="borderless">&nbsp;</td>
    </tr>
    <tr>
        <th>Area covered</th>
        <td>{{ moc.area | fmt('{:0.1f}') }} square degrees</td>
        <td class="borderless">
            <div class="formtip">
                <div>
                    This is the area of the sky included in this coverage map.
                <div>
            </div>
        </td>
    </tr>
    {% if not moc.public %}
        <tr>
            <th>Visibility</th>
            <td>Private</td>
            <td class="borderless">
                <div class="formtip">
                    <div>
                        This coverage map is not available for everyone to search.
                    <div>
                </div>
            </td>
        </tr>
    {% endif %}
</table>

<p>
    If you would like to inspect the coverage map in detail,
    you can download it as a
    <a href="http://wiki.ivoa.net/twiki/bin/view/IVOA/MocInfo" target="_blank">MOC</a>
    (Multi-Order Coverage) file in FITS format.
    This can be viewed with tools such as
    <a href="http://aladin.u-strasbg.fr/" target="_blank">Aladin</a>.
</p>

<nav>
    <ol>
        <li><a href="{{ url_for(target_tool_code | fmt('.tool_{}_moc_fits'), moc_id=moc.id) }}">Download coverage MOC FITS file</a></li>
    </ol>
</nav>

{% endblock %}
