{% extends 'layout.html' %}
{% set navigation=[(target_tool_name, url_for('.tool_' + target_tool_code))] %}
{% set help_link=url_for('help.user_page', page_name='target_clash') %}

{% block content %}

{% if can_edit %}
    <nav>
        <ol class="fa-ul">
            <li><a id="new_moc_link" href="{{ url_for(target_tool_code | fmt('.tool_{}_moc_new')) }}"><span class="fa-li"><span class="fa-solid fa-circle-plus"></span></span>New coverage map</a></li>
        </ol>
    </nav>
{% endif %}

{% if not mocs %}
    <p class="not_present">
        No coverage maps have been set up yet.
    </p>
{% elif can_edit %}
    <table>
        <tr>
            <th>Name</th>
            <th>Uploaded</th>
            <th>Cells</th>
            <th>Area</th>
            <th>Status</th>
            <th colspan="2">Actions</th>
        </tr>
        {% for moc in mocs.values() %}
            <tr>
                <td>
                    <a href="{{ url_for(target_tool_code | fmt('.tool_{}_moc_info'), moc_id=moc.id) }}">{{ moc.name }}</a>
                    {% if not moc.public %}
                        <span class="label">private</span>
                    {% endif %}
                </td>
                <td>{{ moc.uploaded | format_datetime }} UT</td>
                <td>{{ moc.num_cells }}</td>
                <td>{{ moc.area | fmt('{:0.1f}') }} sq. deg.</td>
                <td class="{{ moc.state | attachment_state_class }}">{{ moc.state | attachment_state_name }}</td>
                <td><a href="{{ url_for(target_tool_code | fmt('.tool_{}_moc_edit'), moc_id=moc.id) }}"><span class="fa-solid fa-pencil"></span>Edit</a></td>
                <td><a href="{{ url_for(target_tool_code | fmt('.tool_{}_moc_delete'), moc_id=moc.id) }}"><span class="fa-solid fa-trash-can"></span>Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>
        This page lists the coverage maps which are used by the Clash Tool
        to check for matches with your target coordinates.
        You can click on the name of a coverage map to see more information
        about how it is defined.
    </p>

    <ul>
        {% for moc in mocs.values() %}
            <li>
                <a href="{{ url_for(target_tool_code | fmt('.tool_{}_moc_info'), moc_id=moc.id) }}">{{ moc.name }}</a>
                {% if not moc.public %}
                    <span class="label">private</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
