# The database URL should be given in a form recognised by SQLAlchemy,
# for example:
#     sqlite+pysqlite:////file_path
#     mysql+mysqlconnector://<user>:<password>@<host>[:<port>]/<dbname>
[database]
url=

[application]
name=Insert Name Here
secret_key=
facilities=GenericFacility
