# The database URL should be given in a form recognised by SQLAlchemy,
# for example:
#     sqlite+pysqlite:////file_path
#     mysql+mysqlconnector://<user>:<password>@<host>[:<port>]/<dbname>
[database]
url=

[application]
name=Insert Name Here
secret_key=
facilities=Generic

# The maximum file upload sizes for proposal PDFs and figures are specified
# here in MiB.
[upload]
max_pdf_size=10
max_fig_size=1

[email]
server=
from=

[utilities]
ghostscript=/usr/bin/ghostscript
