{% extends "layout.html" %}

{% from 'macro/institution.html' import render_institution_form %}

{% block content %}

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ url_for('.institution_edit', institution_id=institution_id) }}">
{% if show_confirm_prompt %}
    <p>
        Are you sure you want to edit this institution?
    </p>
    <p>
        <b>This institution record may be shared with other people.</b>
        If you have moved, please
        <a href="{{ url_for('people.person_edit_institution', person_id=session.person.id) }}">update the institution associated with your profile</a>
        rather than editing the details of this institution.
    </p>
    <p>
        If you would like to edit the details of this
        institution, please confirm to proceed.
    </p>
    <p>
        <input type="submit" value="Confirm edit" name="submit-confirm" />
    </p>
{% else %}
    <ol>
        {{ render_institution_form(institution, countries) }}
        <li>
            <input type="submit" value="Save" name="submit-edit" />
        </li>
    </ol>
{% endif %}
</form>

{% endblock %}
