{% extends "layout.html" %}
{% set navigation=[('Institutions', url_for('.institution_list')), (institution.name, url_for('.institution_view', institution_id=institution_id))] %}
{% set help_link=url_for('help.user_page', page_name='profile', _anchor='editing-institutions') %}

{% set stylesheets = ['selectize'] %}
{% set scripts = ['selectize', 'country_select', 'formtip'] %}

{% from 'macro/institution.html' import render_institution_form %}

{% block content %}

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ url_for('.institution_edit', institution_id=institution_id) }}">
{% if show_confirm_prompt %}
    <p>
        Are you sure you want to edit this institution?
        If you have moved, please
        <a href="{{ url_for('people.person_edit_institution', person_id=current_user.person.id) }}">update the institution associated with your profile</a>
        instead.
    </p>
    {% if person_affected_list or person_affected_other %}
        <p>
            <b>This will also affect:</b>
        </p>
        <ul>
            {% for person in person_affected_list %}
                <li><a href="{{ url_for('.person_view', person_id=person.id) }}">{{ person.name }}</a></li>
            {% endfor %}
            {% if person_affected_other %}
                <li>
                    {{ person_affected_other }}
                    {% if person_affected_list %}
                        other
                    {% endif %}
                    {% if person_affected_other == 1 %}
                        person
                    {% else %}
                        people
                    {% endif %}
                    <i>(private profile / unregistered)</i>
                </li>
            {% endif %}
        </ul>
    {% endif %}
    <p>
        If you would like to edit the details of this
        institution, please confirm to proceed.
    </p>
    <p>
        <input type="submit" name="submit_cancel" value="Cancel" />
        <input type="submit" name="submit_confirm" value="Confirm edit" />
    </p>
{% else %}
    <ol>
        {{ render_institution_form(institution) }}
        <li>
            <input type="submit" name="submit_edit" value="Save" />
        </li>
    </ol>
{% endif %}
</form>

{% endblock %}
