{% extends "layout.html" %}

{% block content %}

<p>
    Institution name: {{ institution.name }}
    {% if institution.organization %}
        <br />
        Organization: {{ institution.organization }}
    {% endif %}
    {% if institution.address %}
        <br />
        Address: <pre>{{ institution.address }}</pre>
    {% endif %}
    <br />
    Country: {{ institution.country }}
</p>

{% if can_edit %}
    <p>
        <a href="{{ url_for('.institution_edit', institution_id=institution.id) }}">Edit this institution</a>
    </p>
{% endif %}

{% endblock %}
