{% extends "layout.html" %}
{% set navigation=[('Institutions', url_for('.institution_list'))] %}

{% block content %}

<table>
    <tr>
        <th>Institution name</th>
        <td>{{ institution.name }}</td>
    </tr>
    {% if institution.organization %}
        <tr>
            <th>Organization</th>
            <td>{{ institution.organization }}</td>
        </tr>
    {% endif %}
    {% if institution.address %}
        <tr>
            <th>Address</th>
            <td>{{ institution.address | format_text }}</td>
        </tr>
    {% endif %}
    <tr>
        <th>Country</th>
        <td>{{ institution.country }}</td>
    </tr>
</table>

{% if can_edit %}
    <p>
        <a href="{{ url_for('.institution_edit', institution_id=institution.id) }}">Edit this institution</a>
    </p>
{% endif %}

{% endblock %}
