{% extends 'layout.html' %}

{# Note: this template is used both for the single institution log (with
   context parameter institution set) and for the combined edit approval page
   (with insitution = None). #}

{% if institution is not none %}
    {% set navigation=[('Institutions', url_for('.institution_list')), (institution.name, url_for('.institution_view', institution_id=institution.id))] %}
{% else %}
    {% set navigation=['site_admin'] %}
{% endif %}

{% block content %}
{% if entries %}
    <form method="POST" action="{{ url_for('.institution_log_approval') if institution is none else url_for('.institution_log', institution_id=institution.id) }}">
        <table>
            <tr>
                {% if institution is none %}
                    <th>Institution</th>
                {% endif %}
                <th>Date (UT)</th>
                <th>Editor</th>
                <th>Approved</th>
                <th>Entry</th>
                <th>Previous</th>
                <th>New</th>
            </tr>
            {% for (entry_institution_id, institution_entries) in entries | groupby('institution_id') %}
                {% for entry in institution_entries | reverse %}
                    <tr class="spacer_above">
                        {% if (institution is none) and (loop.first) %}
                            <td rowspan="{{ 5 * (institution_entries | length) }}">
                                <p>
                                    {{ entry.institution_name }}
                                </p>
                                <ul>
                                    <li><a href="{{ url_for('.institution_view', institution_id=entry.institution_id) }}">View&nbsp;details</a></li>
                                    <li><a href="{{ url_for('.institution_log', institution_id=entry.institution_id) }}">Full&nbsp;log</a></li>
                                </ul>
                            </td>
                        {% endif %}
                        <td rowspan="5">{{ entry.date | format_datetime }}</td>
                        <td rowspan="5"><a href="{{ url_for('.person_view', person_id=entry.person_id) }}">{{ entry.person_name }}</a></td>
                        <td rowspan="5">
                            <input type="checkbox" name="approved_{{ entry.id }}" {{ 'checked="checked"' | safe if entry.approved }} />
                            <input type="hidden" name="entry_{{ entry.id }}" value="1" />
                        </td>
                        <th>Name</th>
                        {% set cell_class = ('class="no_change"' | safe if entry.prev.name == entry.new.name else '') %}
                        <td {{ cell_class }}>{{ entry.prev.name }}</td>
                        <td {{ cell_class }}>{{ entry.new.name }}</td>
                    </tr>
                    <tr>
                        <th>Department</th>
                        {% set cell_class = ('class="no_change"' | safe if entry.prev.department == entry.new.department else '') %}
                        <td {{ cell_class }}>{{ entry.prev.department }}</td>
                        <td {{ cell_class }}>{{ entry.new.department }}</td>
                    </tr>
                    <tr>
                        <th>Organization</th>
                        {% set cell_class = ('class="no_change"' | safe if entry.prev.organization == entry.new.organization else '') %}
                        <td {{ cell_class }}>{{ entry.prev.organization }}</td>
                        <td {{ cell_class }}>{{ entry.new.organization }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        {% set cell_class = ('class="no_change"' | safe if entry.prev.address == entry.new.address else '') %}
                        <td {{ cell_class }}>{{ entry.prev.address | format_text }}</td>
                        <td {{ cell_class }}>{{ entry.new.address | format_text }}</td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        {% set cell_class = ('class="no_change"' | safe if entry.prev.country == entry.new.country else '') %}
                        <td {{ cell_class }}>{{ entry.prev.country }}</td>
                        <td {{ cell_class }}>{{ entry.new.country }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>

        <p>
            <input type="submit" name="submit" value="Save approval status" />
        </p>
    </form>
{% else %}
    <p class="not_present">
        No edit log entries found.
    </p>
{% endif %}
{% endblock %}
