{% extends "layout.html" %}
{% set navigation=[('Institutions', url_for('.institution_list'))] %}

{% block content %}

<table>
    <tr>
        <th>Institution name</th>
        {% if institution.name_abbr is not none %}
            <td>{{ institution.name_abbr }}</td>
        {% endif %}
        <td colspan="{{ 2 if institution.name_abbr is none else 1 }}">
            {% if institution.name %}
                {{ institution.name }}
            {% else %}
                <i>Unknown full name</i>
            {% endif %}
        </td>
    </tr>
    {% if institution.department or institution.department_abbr is not none %}
        <tr>
            <th>Department</th>
            {% if institution.department_abbr is not none %}
                <td>{{ institution.department_abbr }}</td>
            {% endif %}
            <td colspan="{{ 2 if institution.department_abbr is none else 1 }}">
                {% if institution.department %}
                    {{ institution.department }}
                {% else %}
                    <i>Unknown full name</i>
                {% endif %}
            </td>
        </tr>
    {% endif %}
    {% if institution.organization or institution.organization_abbr is not none %}
        <tr>
            <th>Parent organization</th>
            {% if institution.organization_abbr is not none %}
                <td>{{ institution.organization_abbr }}</td>
            {% endif %}
            <td colspan="{{ 2 if institution.organization_abbr is none else 1 }}">
                {% if institution.organization %}
                    {{ institution.organization }}
                {% else %}
                    <i>Unknown full name</i>
                {% endif %}
            </td>
        </tr>
    {% endif %}
    {% if institution.address %}
        <tr>
            <th>Address</th>
            <td colspan="2">{{ institution.address | format_text }}</td>
        </tr>
    {% endif %}
    <tr>
        <th>Country</th>
        <td colspan="2">{{ institution.country | country_name }}</td>
    </tr>
</table>

{% if can_edit %}
    <nav>
        <ol>
            <li><a href="{{ url_for('.institution_edit', institution_id=institution.id) }}" id="edit_institution_link"><span class="fa-solid fa-pencil"></span>Edit this institution</a></li>
        </ol>
    </nav>
{% endif %}

{% if show_admin_links %}
    <nav>
        <ol id="institution_admin_links">
            <li><a href="{{ url_for('.institution_log', institution_id=institution.id) }}"><span class="fa-solid fa-user-tag"></span>View edit log</a></li>
            <li><a href="{{ url_for('.institution_subsume', institution_id=institution.id) }}"><span class="fa-solid fa-object-group"></span>Subsume duplicate record</a></li>
            {% if show_delete_link %}
                <li><a href="{{ url_for('.institution_delete', institution_id=institution.id) }}"><span class="fa-solid fa-trash-can"></span>Delete institution</a></li>
            {% endif %}
        </ol>
    </nav>
{% endif %}

{% if persons %}
    <section>
        <h2>Members</h2>

        <ul>
            {% for person in persons.values() %}
                <li>
                    <a href="{{ url_for('.person_view', person_id=person.id) }}">{{ person.name }}</a>
                    {% if not person.public %}
                        <span class="label">private</span>
                    {% endif %}
                    {% if person.user_id is none %}
                        <span class="label">unregistered</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}

{% if members %}
    <section>
        <h2>Proposal Members</h2>

        <p>
            {% if (members | length) == 1 %}
                One additional member is
            {% else %}
                {{ members | length }} additional members are
            {% endif %}
            listed with this institution (frozen)
            in a proposal&rsquo;s member list.
        </p>

        <nav>
            <ol>
                <li><a href="{{ url_for('.institution_frozen_members', institution_id=institution.id) }}"><span class="fa-solid fa-users"></span>View frozen members</a></li>
            </ol>
        </nav>
    </section>
{% endif %}

{% endblock %}
