{% extends "layout.html" %}

{% set help_link=url_for('help.user_page', page_name='invitation') %}

{% block content %}

<p>
    The details of this invitation are shown below.
    Please do not accept if the invitation appears
    not to refer to you.
    If you have been invited to a proposal but do not
    wish to be involved,
    please see the
    <a href="{{ url_for('help.user_page', page_name='invitation', _anchor='removing-yourself-from-a-proposal') }}" target="_blank">notes on removing yourself</a>.
</p>

<p>
    {% if session.person is defined %}
        Since you have already registered,
        your existing profile will be retained,
        so do not worry if these details are not entirely correct.
    {% else %}
        These details will be the basis for your new profile.
        After accepting the invitation,
        you will be able to edit everything
        on your profile page,
        which you can get to by clicking your name
        when it appears in the top right corner.
        We recommend that you visit your profile page later
        in order to customize your account to your liking.
    {% endif %}
</p>

<table>
    <tr>
        <th>Invitation code</th>
        <td><tt>{{ token }}</tt></td>
    </tr>
    <tr>
        <th>Name</th>
        <td>{{ person.name }}</td>
    {% if person.email %}
        {% for email in person.email.values() %}
            <tr>
                <th>Email</th>
                <td>{{ email.address }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    {% if person.institution is not none %}
        <tr>
            <th>Institution</th>
            <td>{{ person.institution.name }}</td>
        </tr>
    {% endif %}
</table>

<form method="POST" action="{{ url_for('.invitation_token_accept') }}">
    <p>
        <input type="hidden" name="token" value="{{ token }}" />
        <input type="submit" value="Accept invitation" name="submit_accept" />
    </p>
</form>

{% endblock %}

