{% extends "layout.html" %}

{% block content %}

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ url_for('people.log_in') }}">
    <ol>
        <li>
            <label for="user_name">User name</label>
            <input type="text" name="user_name" value="{{ user_name }}" autofocus="autofocus" />
        </li>
        <li>
            <label for="password">Password</label>
            <input type="password" name="password" />
        </li>
        <li>
            <input type="submit" value="Log in" name="submit" />
        </li>
    </ol>
</form>

{% if not without_links %}
    <p>
        If you do not already have an account you may
        <a href="{{ url_for('people.register_user') }}" id="register_user_link">register</a>.
    </p>

    <p>
        If you do not remember your user name or password, please
        <a href="{{ url_for('people.password_reset_token_get') }}" id="reset_password_link">reset your password</a>
        to regain access to your account.
    </p>
{% endif %}

{% endblock %}
