{% extends "layout.html" %}

{% block content %}

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ url_for('.password_reset_token_use') }}">
    <ol>
        <li>
            <label for="token">Password reset code</label>
            <input type="text" name="token" value="{{ token }}" {{ 'autofocus="autofocus"' | safe if not token }} />
        </li>
        <li>
            <label for="password">New password</label>
            <input type="password" name="password" {{ 'autofocus="autofocus"' | safe if token }}/>
        </li>
        <li>
            <label for="password_check">Re-enter password</label>
            <input type="password" name="password_check" />
        </li>
        <li>
            <input type="submit" value="Reset password" name="submit" />
        </li>
    </ol>
</form>

{% endblock %}
