{% extends "layout.html" %}

{% block content %}

<p>
    You can reset your password by entering a code which will be
    sent to you by email.
    Please enter your account name,
    if you remember it,
    or an email address which is registered to your account.
</p>

{% if message is not none %}
    <p>
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ url_for('.password_reset_token_get') }}">
    <p>
        User name:
        <input type="text" name="user_name" value="{{ user_name }}" />
        <br />
        Email address:
        <input type="email" name="email" value="{{ email }}" />
        <br />
        <input type="submit" value="Send reset code" name="submit" />
    </p>
</form>

{% endblock %}
