{% extends "layout.html" %}
{% set help_link=url_for('help.user_page', page_name='password') %}

{% block content %}

<p>
    You can reset your password by entering a code which will be
    sent to you by email.
    Please enter your account name,
    if you remember it,
    or an email address which is registered to your account.
</p>

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ url_for('.password_reset_token_get') }}">
    <ol>
        <li>
            <label for="user_name">User name</label>
            <input type="text" name="user_name" value="{{ user_name }}" autofocus="autofocus" />
        </li>
        <li>
            <label for="email">Email address</label>
            <input type="email" name="email" value="{{ email }}" size="40" />
        </li>
        <li>
            <input type="submit" value="Send reset code" name="submit" />
            {% if log_in_for is not none %}
                <input type="hidden" name="log_in_for" value="{{ log_in_for }}" />
            {% endif %}
        </li>
    </p>
</form>

{% endblock %}
