{% extends "layout.html" %}
{% set navigation=['people'] %}
{% set scripts = ['unmangle'] %}
{% if is_current_user %}
    {% set help_link=url_for('help.user_page', page_name='profile') %}
{% endif %}

{% block content %}

{% if person.user_id is none %}
    <p class="minor_warning">
        This profile does not belong to a registered user.
    </p>
{% elif show_admin_links and not person.verified %}
    <p class="warning">
        This profile has not been verified.
    </p>
{% endif %}
{% if is_current_user %}
    <p>
        This is your profile.
    </p>
    <nav>
        <ol id="account_manage_links">
            <li><a href="{{ url_for('.change_password') }}">Change password</a></li>
            <li><a href="{{ url_for('.change_user_name') }}">Change user name</a></li>
        </ol>
        <ol>
            <li><a href="{{ url_for('.person_proposals') }}">Your proposal list</a></li>
            <li><a href="{{ url_for('.person_reviews') }}">Your review list</a></li>
        </ol>
    </nav>
{% endif %}
{% if show_viewer_links and not is_current_user %}
    <nav>
        <ol id="account_viewer_links">
            <li><a href="{{ url_for('.person_view_proposals', person_id=person.id) }}">View proposal list</a></li>
            <li><a href="{{ url_for('.person_view_reviews', person_id=person.id) }}">View review list</a></li>
        </ol>
    </nav>
{% endif %}
{% if show_admin_links %}
    <nav>
        <ol id="account_admin_links">
            <li><a href="{{ url_for('admin.message_list', person_id=person.id) }}">View messages</a></li>
            {% if person.user_id is none %}
                <li><a href="{{ url_for('.person_invite', person_id=person.id) }}">Invite to register</a></li>
            {% else %}
                <li><a href="{{ url_for('.user_log', user_id=person.user_id) }}">User account log</a></li>
                <li><a href="{{ url_for('.person_subsume', person_id=person.id) }}">Subsume duplicate profile</a></li>
            {% endif %}
        </ol>
    </nav>
{% endif %}

<table>
    <tr>
        <th>Full name</th>
        <td>
            {% if person.title is not none %}{{ person.title | title_name }}{% endif %}
            {{ person.name }}
        </td>
    </tr>
    {% if is_current_user or show_admin_links %}
        <tr>
            <th>User directory</th>
            <td>{{ 'Shown' if person.public else 'Not shown' }} in directory</td>
        </tr>
    {% endif %}
    {% if person.institution is not none %}
        <tr>
            <th>Institution</th>
            <td>
                {{ person.institution.name }}
                <br />
                {% if person.institution.department %}
                    {{ person.institution.department }}
                    <br />
                {% endif %}
                {% if person.institution.organization %}
                    {{ person.institution.organization }}
                    <br />
                {% endif %}
                {{ person.institution.country | country_name }}
                <br />
                <a href="{{ url_for('.institution_view', institution_id=person.institution.id) }}">View this institution's information</a>
            </td>
        </tr>
    {% endif %}
    {% if person.email is not none %}
        {% for email in person.email %}
            <tr>
                {% if loop.first %}
                    <th rowspan="{{ person.email | length }}">Email</th>
                {% endif %}
                <td>
                    <span class="mangled_address" data-mangled="{{ email.address | mangle_email_address }}">&nbsp;</span>
                    {% if email.primary %}<span class="label">primary</span>{% endif %}
                    {% if email.verified %}<span class="label">verified</span>{% endif %}
                    {% if email.public %}<span class="label">public</span>{% endif %}
                    {% if is_current_user and not email.verified %}
                        <a href="{{ url_for('.person_email_verify_get', person_id=person.id, email_id=email.id) }}" id="email_{{ email.id }}_verify_link">verify</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>

{% if can_edit %}
    <nav>
        <ol id="profile_manage_links">
            <li><a href="{{ url_for('.person_edit', person_id=person.id) }}">Edit profile</a></li>
            <li><a href="{{ url_for('.person_edit_email', person_id=person.id) }}">Edit email addresses</a></li>
            <li><a href="{{ url_for('.person_edit_institution', person_id=person.id) }}">Change institution</a></li>
        </ol>
    </nav>
{% endif %}

{% if site_group_membership %}
    <h2>Site Groups</h2>

    <table>
        <tr>
            <th>Group</th>
        </tr>
        {% for member in site_group_membership.values() %}
            <tr>
                <td><a href="{{ url_for('admin.site_group_view', site_group_type=member.site_group_type) }}">{{ member.site_group_type | site_group_type_name }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% if review_group_membership %}
    <h2>Review Groups</h2>

    {% for facility in review_group_membership %}
        <h3>{{ facility.name }}</h3>

        <table>
            <tr>
                <th>Queue</th>
                <th>Group</th>
            </tr>
            {% for queue_groups in facility.groups.values_in_sorted_order() | plain_group_by('queue_id') %}
                {% for group in queue_groups %}
                    <tr>
                        {% if loop.first %}
                            <td rowspan="{{ queue_groups | length }}"><a href="{{ url_for(facility.code + '.queue_view', queue_id=group.queue_id) }}">{{ group.queue_name }}</a></td>
                        {% endif %}
                        <td><a href="{{ url_for(facility.code + '.group_view', queue_id=group.queue_id, group_type=group.group_type) }}">{{ group.group_type | group_type_name }}</a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    {% endfor %}
{% endif %}
{% endblock %}
