{% extends 'layout.html' %}
{% set navigation=['people', (person.name, url_for('.person_view', person_id=person.id))] %}
{% set help_link=url_for('help.admin_page', page_name='user') %}

{% block content %}
<h2>Action Log Events</h2>

<form method="GET" action="{{ url_for('.person_log', person_id=person.id) }}">
    <p>
        <select name="level">
            {% for (level_num, level_name) in levels.items() %}
                <option value="{{ level_num }}" {{ 'selected="selected"' | safe if level_num == level }}>{{ level_name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>

{% if events %}
    <table>
        <tr>
            <th>Date (UT)</th>
            <th>Event</th>
            <th>Proposal</th>
            <th>Person or institution</th>
        </tr>
        {% for event in events.values() %}
            <tr>
                <td>{{ event.date | format_datetime }}</td>
                <td>{{ event.event | person_log_event_description }}</td>
                <td>
                    {% if (event.proposal_id is not none) and (event.proposal_facility_code is not none) and (event.proposal_code is not none) %}
                        <a href="{{ url_for(event.proposal_facility_code + '.proposal_view', proposal_id=event.proposal_id) }}">{{ event.proposal_code }}</a>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                <td>
                    {% if (event.other_person_id is not none) and (event.other_person_name is not none) %}
                        <a href="{{ url_for('.person_view', person_id=event.other_person_id) }}">{{ event.other_person_name}}</a>
                    {% elif (event.institution_id is not none) and (event.institution_name is not none) %}
                        <a href="{{ url_for('.institution_view', institution_id=event.institution_id) }}">{{ event.institution_name }}</a>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p class="not_present">
        No action log events are present.
    </p>
{% endif %}
{% endblock %}
