{% extends "layout.html" %}
{% set navigation=['people', (person.name, url_for('.person_view', person_id=person.id))] %}

{% block content %}

{% if is_registration %}
    <p class="progress">
        Registration step 3/5.
    </p>
{% endif %}

<p>
    You can verify your address by sending a verification
    code by email.
    You will be able to enter this code on the next page
    to complete the verification process.
</p>

<form method="POST" action="{{ url_for('.person_email_verify_get', person_id=person.id, email_id=email.id) }}">
    <ol>
        <li>
            <label>Email address</label>
            <a href="mailto:{{ email.address }}">{{ email.address }}</a>
        </li>

        <li>
            <input type="submit" name="submit_send" value="Send code" />
            {% if log_in_for is not none %}
                <input type="hidden" name="log_in_for" value="{{ log_in_for }}" />
            {% endif %}
        </li>
    </ol>
</form>

{% endblock %}

