{% extends "layout.html" %}
{% if person.id is not none %}
    {% set navigation=[(person.name, url_for('.person_view', person_id=person.id))] %}
{% endif %}

{% block content %}

{% if person.id is none %}
    <p class="progress">
        Registration step 2/3.
    </p>
{% endif %}

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ target }}">
    <ol>
        <li>
            <label for="person_name">Full name</label>
            <input type="text" name="person_name" value="{{ person.name }}" autofocus="autofocus" required="required" size="40" />
        </li>
        {% if (person.id is none) or (person.user_id is not none) %}
            <li>
                <div class="explanation">
                    Would you like your name to appear in the directory of users?
                    This will allow collaborators to more easily invite you to
                    participate in their proposals.
                </div>
                <label for="person_public">User directory</label>
                <input type="checkbox" name="person_public" value="yes" {{ 'checked="checked"' | safe if person.public }} />
                Show in directory
            </li>
        {% endif %}
        {% if single_email is defined %}
            <li>
                <label for="single_email">Email address</label>
                <input type="email" name="single_email" value="{{ single_email }}" size="40" />
            </li>
        {% endif %}
        <li>
            <input type="submit" value="Save" name="submit" />
        </li>
    </ol>
</form>

{% endblock %}
