{% extends "layout.html" %}
{% set navigation=['people', (person.name, url_for('.person_view', person_id=person.id))] %}
{% set scripts=['edit_email'] %}
{% set help_link=url_for('help.user_page', page_name='profile') %}

{% block content %}

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ target }}">
    <table id="emailaddresses">
        <tr>
            <th>Address</th>
            <th>Primary</th>
            <th>Public</th>
            <th>Verified</th>
            <th>Actions</th>
        </tr>
        {% for email in emails.values() %}
            <tr id="emailrow_{{ email.id }}">
                <td><input type="email" name="email_{{ email.id }}" value="{{ email.address }}" required="required" size="40" /></td>
                <td><input type="radio" name="primary" value="{{ email.id }}" {{ 'checked="checked"' | safe if email.primary }} /></td>
                <td><input type="checkbox" name="public_{{ email.id }}" value="yes" {{ 'checked="checked"' | safe if email.public }} /></td>
                <td>
                    {% if email.verified %}
                        verified
                    {% else %}
                        not verified
                    {% endif %}
                </td>
                <td><input type="button" id="delete_{{ email.id }}" value="Delete" /></td>
            </tr>
        {% endfor %}
    </table>
    <table class="template">
        <tr id="emailrow_template">
            <td><input type="email" name="email" value="" size="40" /></td>
            <td><input type="radio" name="primary" value="" /></td>
            <td><input type="checkbox" name="public" value="yes" /></td>
            <td>not verified</td>
            <td><input type="button" id="delete_template" value="Delete" />
        </tr>
    </table>
    <p>
        <input type="button" id="add_email" value="Add address" />
    </p>
    <p>
        <input type="submit" value="Save" name="submit" />
        {% if log_in_for is not none %}
            <input type="hidden" name="log_in_for" value="{{ log_in_for }}" />
        {% endif %}
    </p>
</form>

{% endblock %}
