{% extends "layout.html" %}
{% set navigation=['people', (person.name, url_for('.person_view', person_id=person.id))] %}

{% block content %}

{% if is_registration %}
    <p class="progress">
        Registration step 3/5.
    </p>
{% endif %}

<p>
    You can verify your address by sending a verification
    code by email.
    You will be able to enter this code on the next page
    to complete the verification process.
</p>

{% if is_registration %}
    <p>
        If your email address is not set correctly, you can
        <a href="{{ url_for('.person_edit_email_own', log_in_for=log_in_for) }}">edit your address</a>.
    </p>
{% endif %}

<form method="POST" action="{{ target }}">
    <ol>
        <li>
            <label>Email address</label>
            <a href="mailto:{{ email.address }}">{{ email.address }}</a>
        </li>

        <li>
            <input type="submit" name="submit_send" value="Send code" />
            {% if log_in_for is not none %}
                <input type="hidden" name="log_in_for" value="{{ log_in_for }}" />
            {% endif %}
        </li>
    </ol>
</form>

{% endblock %}

