{% extends "layout.html" %}
{% set navigation=['people', (person.name, url_for('.person_view', person_id=person.id))] %}
{% set help_link=url_for('help.user_page', page_name='register') %}

{% set stylesheets = ['selectize'] %}
{% set scripts = ['selectize', 'institution_select', 'country_select', 'formtip'] %}

{% from 'macro/institution.html' import render_institution_form %}

{% block content %}

{% if institution_id is none %}
    {% if is_current_user %}
        <p class="progress">
            Registration step 5/5.
        </p>
    {% endif %}
{% else %}
    <p>
        If you would like to make minor corrections to the entry for
        {% if is_current_user %} your {% else %} the {% endif %}
        existing institution, you may
        <a href="{{ url_for('.institution_edit', institution_id=institution_id) }}">edit
        {% if is_current_user %} your {% else %} the {% endif %}
        current institution</a>.
    </p>
{% endif %}

<p class="section_label">
    Either
</p>

<section>
    <h2>Existing Institutions</h2>

    <p>
    The following institutions are already known to this system.
    If {% if is_current_user %} your {% else %} the {% endif %}
    institution appears here, please select it from this list.
    </p>

    {% if message_select is not none %}
        <p class="warning">
            {{ message_select }}
        </p>
    {% endif %}

    <form method="POST" action="{{ url_for('.person_edit_institution', person_id=person.id) }}">
        <ol>
            <li>
                <label for="institution_id">Institution</label>
                <div style="display: inline-block; width: 70ex;"><select id="select_institution" name="institution_id" data-institution_list="{{ url_for('query.institution_list') }}" data-selected="{{ institution_id }}">
                    <option value="">Loading&hellip;</option>
                </select></div>
            </li>
            <li>
                <input type="submit" value="Select institution" name="submit_select" />
                {% if next_page is not none %}
                    <input type="hidden" name="next_page" value="{{ next_page }}" />
                {% endif %}
            </li>
        </ol>
    </form>
</section>

<p class="section_label">
    Or
</p>

<section>
    <h2>New Institution</h2>

    <p>
        If {% if is_current_user %} your {% else %} the {% endif %}
        institution does not appear in the list above,
        you may enter it into the system here.
        The institution will be added to a database available
        for selection by other members.
        Please enter information for a single institution
        &mdash; in case of doubt,
        please give the institution corresponding to
        {% if is_current_user %} your {% else %} the {% endif %}
        affiliation as would be selected in proposals.
    </p>

    {% if message is not none %}
        <p class="warning">
            {{ message }}
        </p>
    {% endif %}

    <form method="POST" action="{{ url_for('.person_edit_institution', person_id=person.id) }}">
        <ol>
            {{ render_institution_form(institution) }}
            <li>
                <input type="submit" value="Add new institution" name="submit_add" />
                {% if next_page is not none %}
                    <input type="hidden" name="next_page" value="{{ next_page }}" />
                {% endif %}
            </li>
        </ol>
    </form>
</section>

{% endblock %}
