{% extends "layout.html" %}
{% set navigation=[(person.name, url_for('.person_view', person_id=person.id))] %}

{% from 'macro/institution.html' import render_institution_form, render_institution_summary %}

{% block content %}

{% if institution_id is none %}
    {% if is_current_user %}
        <p class="progress">
            Registration step 3/3.
        </p>
    {% endif %}
{% else %}
    <p>
        If you would like to make minor corrections to the entry for
        {% if is_current_user %} your {% else %} the {% endif %}
        existing institution, you may
        <a href="{{ url_for('.institution_edit', institution_id=institution_id) }}">edit
        {% if is_current_user %} your {% else %} the {% endif %}
        current institution</a>.
    </p>
{% endif %}

<h2>Existing Institutions</h2>

<p>
The following institutions are already known to this system.
If {% if is_current_user %} your {% else %} the {% endif %}
institution appears here, please select it from this list.
</p>

<form method="POST" action="{{ url_for('.person_edit_institution', person_id=person.id) }}">
    <ol>
        <li>
            <label for="institution_id">Institution</label>
            <select name="institution_id">
                {% for institution in institutions %}
                    <option value="{{ institution.id }}" {{'selected="selected"' | safe if institution.id == institution_id }}>
                        {{ render_institution_summary(institution) }}
                    </option>
                {% endfor %}
            </select>
        </li>
        <li>
            <input type="submit" value="Select institution" name="submit_select" />
        </li>
    </ol>
</form>

<h2>New Institution</h2>

<p>
If {% if is_current_user %} your {% else %} the {% endif %}
institution does not appear in the list above,
you may enter it into the system here.
</p>

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ url_for('.person_edit_institution', person_id=person.id) }}">
    <ol>
        {{ render_institution_form(institution, countries) }}
        <li>
            <input type="submit" value="Add new institution" name="submit_add" />
        </li>
    </ol>
</form>

{% endblock %}
