{% extends "layout.html" %}
{% set help_link=url_for('help.user_page', page_name='register') %}

{% block content %}

<p class="progress">
    Registration step 1/5.
</p>

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<p>
Please only register a new account if you do not already have one.
You may <a href="{{ url_for('.log_in', log_in_for=log_in_for, register_only=(1 if register_only else none)) }}">log in</a> to an
existing account to update your personal details and email addresses,
or <a href="{{ url_for('.password_reset_token_get') }}">reset a forgotten password</a>.
</p>

<form method="POST" action="{{ url_for('.register_user') }}">
    <ol>
        <li>
            <label for="user_name">User name</label>
            <input type="text" name="user_name" value="{{ user_name }}" autofocus="autofocus" />
        </li>
        <li>
            <label for="password">Password</label>
            <input type="password" name="password" />
        </li>
        <li>
            <label for="password_check">Re-enter password</label>
            <input type="password" name="password_check" />
        </li>
        <li>
            <input type="submit" value="Register" name="submit" />
            {% if log_in_for is not none %}
                <input type="hidden" name="log_in_for" value="{{ log_in_for }}" />
            {% endif %}
            {% if register_only %}
                <input type="hidden" name="register_only" value="1" />
            {% endif %}
        </li>
    </ol>
</form>

{% endblock %}
