{% extends "layout.html" %}

{% block content %}

{% if message is not none %}
    <p>
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ url_for('.use_password_reset_token') }}">
    <p>
        Password reset code:
        <input type="text" name="token" />
        <br />
        New password: <input type="password" name="password" />
        <br />
        Re-enter password: <input type="password" name="password_check" />
        <br />
        <input type="submit" value="Reset password" name="submit" />
    </p>
</form>

{% endblock %}
