{% extends 'layout.html' %}
{% set navigation=['site_admin'] %}
{% set help_link=url_for('help.admin_page', page_name='user') %}

{% block content %}
{% if sessions %}
    <table>
        <tr>
            <th>User</th>
            <th>Expiry</th>
            <th>Remote address</th>
            <th>Remote agent</th>
            <th>Actions</th>
        </tr>
        {% for user_session in sessions.values() %}
            <tr>
                <td>
                    {% if user_session.person_id is none %}
                        <a href="{{ url_for('.user_log', user_id=user_session.user_id) }}">{{ user_session.user_name }}</a>
                        <span class="label">unregistered</span>
                    {% else %}
                        <a href="{{ url_for('.person_view', person_id=user_session.person_id) }}">{{ user_session.person_name }}</a>
                    {% endif %}
                </td>
                <td>{{ user_session.expiry | format_datetime }}</td>
                <td>{{ user_session.remote_addr }}</td>
                <td>
                    {% if user_session.remote_agent is none %}
                        &nbsp;
                    {% else %}
                        {{ user_session.remote_agent }}
                    {% endif %}
                </td>
                <td>
                    {% if current_user.auth_token_id == user_session.id %}
                        <span class="label">this session</span>
                    {% else %}
                        <a href="{{ url_for('.user_session_log_out', auth_token_id=user_session.id) }}"><span class="fa-solid fa-user-slash"></span>Log out</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <nav>
        <p>
            <a href="{{ url_for('.user_session_log_out_all') }}"><span class="fa-solid fa-users-slash"></span>Log out all</a></td>
        </p>
    </nav>
{% else %}
    <p class="not_present">
        No log in sessions are present.
    </p>
{% endif %}
{% endblock %}
