{% extends "layout.html" %}

{% block content %}

{% if person.user_id is none %}
    <p>
        This profile does not belong to a regsitered user.
    </p>
{% else %}
    {% if is_current_user %}
        <p>
            This is your profile.
        </p>
        <p>
            <a href="{{ url_for('.change_password') }}">Change password</a>
            <br />
            <a href="{{ url_for('.change_user_name') }}">Change user name</a>
        </p>
    {% endif %}
{% endif %}
{% if can_edit %}
    <p>
        <a href="{{ url_for('.edit_person', person_id=person.id) }}">Edit profile</a>
        <br />
        <a href="{{ url_for('.edit_person_email', person_id=person.id) }}">Edit email addresses</a>
        <br />
        <a href="{{ url_for('.edit_person_institution', person_id=person.id) }}">Change institution</a>
    </p>
{% endif %}

<p>
    Full name: {{ person.name }}
    {% if is_current_user %}
        <br />
        User directory: {{ 'shown' if person.public else 'not shown' }} in directory
    {% endif %}
    {% if person.institution is not none %}
        <br />
        Institution: <a href="{{ url_for('.view_institution', institution_id=person.institution.id) }}">{{ person.institution.name }}</a>
    {% endif %}
    {% if person.email is not none %}
        {% for email in person.email %}
            <br />
            Email:
            <a href="mailto:{{ email.address }}">{{ email.address }}</a>
            {{ 'primary' if email.primary }}
            {{ 'verified' if email.verified }}
            {{ 'public' if email.public }}
        {% endfor %}
    {% endif %}
</p>

{% endblock %}
