body {
    margin: 0px;
    padding: 0px;
}

ul#navbar, ul.navlink {
    display: block;
    margin: 0px;
    padding: 1ex;
    list-style-type: none;
    overflow: auto;
}

ul#navbar {
    text-align: left;
}

ul#navbar li {
    display: inline;
    margin-left: 4ex;
    margin-right: 4ex;
}

li#user_control {
    float: right;
}

ul.navlink {
    text-align: center;
}

ul.navlink li {
    display: inline;
}

ul.navlink li.prev {
    float: left;
}

ul.navlink li.next {
    float: right;
}

ul#flashes {
    display: block;
    width: 40ex;
    float: right;
    padding: 1ex;
    margin-right: 2ex;
}

ul#flashes li {
    margin-left: 2ex;
}

div#facilities {
    text-align: center;
}

div#facilities > div {
    display: inline-block;
    width: 300px;
    margin: 20px;
}

div#facilities a {
    display: block;
    padding: 20px;
}

form ol li:not(:first-child) {
    padding-top: 0.5ex;
}

form ol li {
    list-style: none;
}

label {
    min-width: 200px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

form ol li > input[type=submit]:first-child {
    margin-left: 205px;
}

.template {
    display: none;
}

table + table {
    margin-top: 2ex;
}

.valid_message div {
    padding-left: 5ex;
}
