body {
    margin: 0px;
    padding: 0px;
}

ul#navbar, ul.navlink, ul#footernav {
    display: block;
    margin: 0px;
    padding: 1ex;
    list-style-type: none;
}

ul#navbar {
    text-align: left;
}

ul#navbar:after {
    content: "-";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}

ul#navbar li {
    display: inline-block;
    margin-left: 4ex;
    margin-right: 4ex;
}

li#user_control {
    float: right;
}

li#user_control a.help_link {
    margin-left: 4ex;
}

ul.navlink {
    text-align: center;
    overflow: auto;
}

ul.navlink li {
    display: inline;
}

ul.navlink li.prev {
    float: left;
}

ul.navlink li.next {
    float: right;
}

ul.navlink li.prev a:before {
    display: inline-block;
    text-decoration: none;
    padding-right: 1ex;
    content: '\2190';
}

ul.navlink li.next a:after {
    display: inline-block;
    text-decoration: none;
    padding-left: 1ex;
    content: '\2192';
}

ul.navlink li.up a:before {
    display: inline-block;
    text-decoration: none;
    padding-right: 1ex;
    content: '\2191';
}

ul#footernav {
    text-align: center;
}

ul#footernav li {
    display: inline;
    padding-left: 1ex;
    padding-right: 1ex;
}

p.footerinfo {
    text-align: center;
}

ul#flashes {
    display: block;
    width: 40ex;
    float: right;
    padding: 1ex;
    margin-right: 2ex;
}

ul#flashes li {
    margin-left: 2ex;
}

div#facilities {
    text-align: center;
}

div#facilities > div {
    display: inline-block;
    width: 300px;
    margin: 20px;
}

div#facilities a {
    display: block;
    padding: 20px;
    text-decoration: none;
}

td > nav ol {
    margin: 0px;
}

nav ol {
    padding: 0px;
}

nav ol li {
    list-style: none;
}

form ol li:not(:first-child) {
    padding-top: 0.5ex;
}

form ol li {
    list-style: none;
}

label {
    min-width: 200px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

form ol li > input[type=submit]:first-child {
    margin-left: 205px;
}

form ol li > div.form_panel {
    margin-left: 205px;
}

.template {
    display: none;
}

table + table {
    margin-top: 2ex;
}

.valid_message {
    padding-left: 0px;
}

.valid_message li {
    list-style: none;
    margin-left: 0ex;
    overflow: auto;
}

.valid_message li > p:first-child {
    display: block;
    float: left;
    padding: 1ex;
    width: 12ex;
    text-align: center;
}

.valid_message li > div {
    margin-left: 16ex;
}

div.annotation {
    margin-bottom: 2ex;
    border: 1px solid #888;
    background: #EEE;
    color: black;
    padding: 1ex;
    border-radius: 1ex;
    box-shadow: 0.5ex 0.5ex 1ex grey;
}

div.formtip {
    display: inline-block;
    position: relative;
    font-weight: normal;
}

div.formtip > a {
    cursor: help;
    background: #88F;
    color: #FFF;
    padding: 0ex 1ex 0ex 1ex;
    border-radius: 1ex;
    user-select: none;
    -moz-user-select: none;
}

div.formtip > div {
    display: none;
    position: absolute;
    left: 4ex;
    top: 0ex;
    z-index: 10;
    width: 40ex;
    border: 1px solid #888;
    background: #EEE;
    padding: 1ex;
    border-radius: 1ex;
    box-shadow: 0.5ex 0.5ex 1ex grey;
}

div.formtip > div > a {
    float: right;
    background: #88F;
    color: #FFF;
    padding: 0ex 1ex 0ex 1ex;
    border-radius: 1ex;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}

div.closeable > p.closer {
    float: right;
    background: #888;
    color: #FFF;
    padding: 0ex 1ex 0ex 1ex;
    border-radius: 1ex;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}

div.hovertable {
    display: inline-block;
    position: relative;
}

div.hovertable > table {
    position: absolute;
    left: 0ex;
    top: 0ex;
    visibility: hidden;
    z-index: 10;
    border: 5px solid #AAA;
}

div.hovertable:hover > table {
    visibility: visible;
}

.callouttip {
    position: relative;
    overflow: visible;
    left: 0px;
    top: 0px;
}

.callouttip > div {
    position: absolute;
    left: 3ex;
    top: 3ex;
    z-index: 10;
    width: 40ex;
    padding: 3ex;
}

th.sideways {
    vertical-align: bottom;
}

th.sideways > div {
    display: inline-block;
    overflow: hidden;
    width: 1.5em;
}

th.sideways > div > div {
    display: inline-block;
    white-space: nowrap;
    line-height: 1.5;
    transform: translate(0, 100%) rotate(-90deg);
    transform-origin: 0 0;
}

th.sideways > div > div:after {
    content: "";
    display: block;
    margin: -1.5em 0 100%;
}

tr.oneline td, tr.oneline th {
    white-space: nowrap;
}

td.control_links {
    vertical-align: bottom;
}
