body {
    margin: 0px;
    padding: 0px;
}

ul#navbar, ul.navlink {
    display: block;
    margin: 0px;
    padding: 1ex;
    list-style-type: none;
    overflow: auto;
}

ul#navbar {
    text-align: left;
}

ul#navbar li {
    display: inline;
    margin-left: 4ex;
    margin-right: 4ex;
}

li#user_control {
    float: right;
}

ul.navlink {
    text-align: center;
}

ul.navlink li {
    display: inline;
}

ul.navlink li.prev {
    float: left;
}

ul.navlink li.next {
    float: right;
}

ul.navlink li.prev a:before {
    display: inline-block;
    text-decoration: none;
    padding-right: 1ex;
    content: '\2190';
}

ul.navlink li.next a:after {
    display: inline-block;
    text-decoration: none;
    padding-left: 1ex;
    content: '\2192';
}

ul.navlink li.up a:before {
    display: inline-block;
    text-decoration: none;
    padding-right: 1ex;
    content: '\2191';
}

ul#flashes {
    display: block;
    width: 40ex;
    float: right;
    padding: 1ex;
    margin-right: 2ex;
}

ul#flashes li {
    margin-left: 2ex;
}

div#facilities {
    text-align: center;
}

div#facilities > div {
    display: inline-block;
    width: 300px;
    margin: 20px;
}

div#facilities a {
    display: block;
    padding: 20px;
}

form ol li:not(:first-child) {
    padding-top: 0.5ex;
}

form ol li {
    list-style: none;
}

label {
    min-width: 200px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

form ol li > input[type=submit]:first-child {
    margin-left: 205px;
}

.template {
    display: none;
}

table + table {
    margin-top: 2ex;
}

.valid_message {
    padding-left: 0px;
}

.valid_message li {
    list-style: none;
    margin-left: 0ex;
    overflow: auto;
}

.valid_message li > p:first-child {
    display: block;
    float: left;
    padding: 1ex;
    width: 12ex;
    text-align: center;
}

.valid_message li > div {
    margin-left: 16ex;
}

div.formtip {
    display: inline-block;
    position: relative
}

div.formtip > a {
    cursor: help;
    background: #88F;
    color: #FFF;
    padding: 0ex 1ex 0ex 1ex;
    border-radius: 1ex;
}

div.formtip > div {
    display: none;
    position: absolute;
    left: 4ex;
    top: 0ex;
    z-index: 10;
    width: 40ex;
    border: 1px solid #888;
    background: #EEE;
    padding: 1ex;
    border-radius: 1ex;
    box-shadow: 0.5ex 0.5ex 1ex grey;
}

div.formtip > div > a {
    float: right;
    background: #88F;
    color: #FFF;
    padding: 0ex 1ex 0ex 1ex;
    border-radius: 1ex;
    cursor: pointer;
}
