body {
    background: silver;
    color: black;
}

ul#navbar {
    border-bottom: 1px solid black;
    box-shadow: 0ex 0ex 1ex black;
}

@keyframes yellowfade {
    0% {background-color: #FF0;}
    100% {background-color: #AAA;}
}

ul#flashes {
    background: #FF0;
    box-shadow: 0ex 0ex 1ex black;
    border-radius: 1ex;
    border: 1px solid black;
    animation-name: yellowfade;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

p#status_notice {
    color: #000;
    background: #AAF;
    box-shadow: 0ex 0ex 1ex black;
    border-radius: 1ex;
    border: 1px solid black;
    max-width: 60ex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4ex;
    margin-bottom: 4ex;
    padding: 2ex;
}

div#content {
    background: white;
    color: black;
    max-width: 120ex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4ex;
    margin-bottom: 4ex;
    padding: 2ex;
    box-shadow: 0ex 0ex 1ex black;
    border-radius: 1ex;
    border: 1px solid black;
}

div#content.wide {
    max-width: none;
    margin-left: 4ex;
    margin-right: 4ex;
}

div#facilities > div {
    border-radius: 1ex;
    border: 1px solid black;
    box-shadow: 0.5ex 0.5ex 1ex grey;
    font-size: 150%;
}

img.pdf_preview {
    border: 1px solid black;
    cursor: zoom-in;
}

span.label {
    background: #888;
    color: #FFF;
    border-radius: 1ex;
    padding-left: 1ex;
    padding-right: 1ex;
    white-space: nowrap;
}

.callouttip > div {
    color: #000;
    background: #AAF;
    box-shadow: 0ex 0ex 1ex black;
    border-radius: 1ex;
    border: 1px solid black;
}

.callouttip > div > p.point_left {
    font-weight: bold;
    text-align: left;
}

.callouttip > div > p.point_left:before {
    content: '\2196';
    font-size: 200%;
    vertical-align: bottom;
}

.callouttip > div > p.point_right {
    font-weight: bold;
    text-align: right;
}

.callouttip > div > p.point_right:after {
    content: '\2197';
    font-size: 200%;
    vertical-align: bottom;
}

.callouttip > div > p:last-child {
    font-weight: bold;
    text-align: center;
    padding-top: 2ex;
}

a#callout_dismiss {
    cursor: pointer;
}

a#callout_dismiss:before {
    content: '\00D7';
    display: inline-block;
    background: #000;
    color: #AAF;
    width: 3ex;
    text-align: center;
    border-radius: 1ex;
    margin-right: 0.5ex;
}

th.sortable, th.sorted_asc, th.sorted_desc, th.col_sortable, th.col_sorted_asc, th.col_sorted_desc {
    cursor: pointer;
}

th.sortable:not(.sideways):after, th.sortable.sideways span:after, th.col_sortable:not(.sideways):after, th.col_sortable.sideways span:after {
    content: ' \25A0';
    color: #888;
}

th.sorted_asc:not(.sideways):after, th.col_sorted_asc.sideways span:after {
    content: ' \25B2';
    color: #888;
}

th.sorted_asc.sideways span:after, th.col_sorted_desc:not(.sideways):after {
    content: ' \25B6';
    color: #888;
}

th.sorted_desc:not(.sideways):after, th.col_sorted_desc.sideways span:after {
    content: ' \25BC';
    color: #888;
}

th.sorted_desc.sideways span:after, th.col_sorted_asc:not(.sideways):after {
    content: ' \25C0';
    color: #888;
}

input:disabled, select:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

tr.dragged td {
    background: #EEE;
    color: #444;
}

td.draggrip {
    cursor: move;
    color: #888;
}

tr.dragbelow {
    border-bottom: 5px dotted #888;
}
