body {
    background: silver;
    color: black;
}

ul#navbar {
    border-bottom: 1px solid black;
    box-shadow: 0ex 0ex 1ex black;
}

@keyframes yellowfade {
    0% {background-color: #FF0;}
    100% {background-color: #AAA;}
}

ul#flashes {
    background: #FF0;
    box-shadow: 0ex 0ex 1ex black;
    border-radius: 1ex;
    border: 1px solid black;
    animation-name: yellowfade;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

div#content {
    background: white;
    color: black;
    max-width: 120ex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4ex;
    margin-bottom: 4ex;
    padding: 2ex;
    box-shadow: 0ex 0ex 1ex black;
    border-radius: 1ex;
    border: 1px solid black;
}

div#facilities > div {
    border-radius: 1ex;
    border: 1px solid black;
    box-shadow: 0.5ex 0.5ex 1ex grey;
    font-size: 150%;
}

img.pdf_preview {
    border: 1px solid black;
    cursor: zoom-in;
}

span.label {
    background: #888;
    color: #FFF;
    border-radius: 1ex;
    padding-left: 1ex;
    padding-right: 1ex;
}

.callouttip > div {
    color: #000;
    background: #FF0;
    box-shadow: 0ex 0ex 1ex black;
    border-radius: 1ex;
    border: 1px solid black;
}

.callouttip > div > p:first-child {
    font-weight: bold;
}

.callouttip > div > p:first-child:before {
    content: '\2196';
    font-size: 200%;
    vertical-align: bottom;
}

.callouttip > div > p:last-child {
    font-weight: bold;
    text-align: center;
}

a#callout_dismiss {
    cursor: pointer;
}

a#callout_dismiss:before {
    content: '\00D7';
    display: inline-block;
    background: #000;
    color: #FF0;
    width: 3ex;
    text-align: center;
    border-radius: 1ex;
    margin-right: 0.5ex;
}
