body {
    font-size: 10pt;
    background: white;
    color: black;
}

header, footer, nav, p#status_notice {
    display: none;
}

a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

div.annotation {
    display: none;
}

p.warning {
    display: none;
}

p.missing {
    background: inherit;
    color: inherit;
}

span.label {
    font-weight: bold;
}

span.label + span.label {
    padding-left: 1ex;
}

p.pdf_preview_page {
    page-break-inside: avoid;
}

figure {
    page-break-inside: avoid;
}

figure img {
    max-width: 100%;
    height: auto;
}

.volatile {
    display: none;
}
