body {
    font-family: serif;
    font-size: 12pt;
}

h1 {
    text-align: center;
}

a:link, a:visited {
    color: #00F;
    text-decoration: underline;
}

#navbar {
    background: #040;
    color: #AAA;
}

#navbar a:link, #navbar a:visited {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

#navbar a:hover {
    text-shadow: 0px 0px 10px white;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #AAA;
    padding: 5px;
    text-align: left;
    vertical-align: top;
}

th, td.total {
    font-weight: bold;
    background: #DDD;
}

td.grandtotal {
    background: #BBB;
    font-weight: bold;
}

p.warning {
    font-weight: bold;
    background: #FAA;
    color: black;
    padding: 1ex;
    border-radius: 1ex;
}

p.missing {
    font-style: italic;
    background: #FFA;
    color: black;
    padding: 1ex;
    border-radius: 1ex;
}

p.not_present {
    font-style: italic;
    color: #888;
}

p.caution {
    font-weight: bold;
}

p.caution:before {
    color: #F00;
    content: "CAUTION:";
}

section.deselected {
    border-left: 1ex solid #BBB;
    padding-left: 1ex;
}

section.deselected > *:not(.caution) {
    opacity: 0.5;
}

p.section_label {
    font-variant: small-caps;
    color: #888;
}

p.section_label + section {
    margin-left: 3ex;
}

p.progress {
    font-style: italic;
    text-align: center;
}

span.label {
    background: #888;
    color: #FFF;
    border-radius: 1ex;
    padding-left: 1ex;
    padding-right: 1ex;
}

span.forminfo_ok {
    background: #8F8;
    color: #000;
    border-radius: 1ex;
    padding-left: 1ex;
    padding-right: 1ex;
}

span.forminfo_bad {
    background: #F00;
    color: #FFF;
    border-radius: 1ex;
    padding-left: 1ex;
    padding-right: 1ex;
}

form ol li div.explanation {
    margin-left: 205px;
    color: #888;
}

form ol li span.explanation {
    font-style: italic;
    color: #888;
}

form ol li span.explanation:before {
    content: "(";
}

form ol li span.explanation:after {
    content: ")";
}

figure {
    text-align: center;
}

figcaption div.fignum {
    display: inline-block;
    vertical-align: top;
}

figcaption div.figcap {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    text-align: left;
}
