{% extends 'generic/calculator_base.html' %}
{% set scripts=['edit_calc_jcmt', 'edit_calc_jcmt_s2', 'formtip'] %}
{% set help_link = url_for('help.user_page', page_name='calculation_scuba2') %}
{% set help_link_text = 'Help on this calculator' %}

{% block calculator_input_item %}
    {% if value.code not in ('pos_type',) %}
        <li>
            <label for="a">{{ value.name }}</label>
            {% if value.code == 'map' %}
                <select name="map">
                    {% for mode_code, mode_info in map_modes.items() %}
                        <option value="{{ mode_code }}" {{ 'selected="selected"' | safe if mode_code == input }} data-pix850="{{ mode_info.pix_850 }}" data-pix450="{{ mode_info.pix_450 }}" data-match_filt="{{ 'true' if mode_info.match_filt else 'false' }}">{{ mode_info.description }}</option>
                    {% endfor %}
                </select>
            {% elif value.code == 'pos' %}
                <input type="number" name="{{ value.code }}" value="{{ input }}" min="-90" max="90" step="any" />
            {% elif value.code == 'samp' %}
                <select name="samp">
                    <option value="map" {{ 'selected="selected"' | safe if input == 'map' }}>Map-type-specific recommendation</option>
                    <option value="mf" {{ 'selected="selected"' | safe if input == 'mf' }}>Matched filter</option>
                    <option value="custom" {{ 'selected="selected"' | safe if input == 'custom' }}>Custom pixel size</option>
                </select>
            {% elif value.code == 'tau' %}
                <select name="tau_band">
                    {% for (band_num, band_info) in weather_bands.items() %}
                        <option value="{{ band_num }}" {{ 'selected="selected"' | safe if band_num == input_values.tau_band }} data-representative="{{ band_info.rep }}">
                            {{ band_info.name }}:
                            {% if band_info.min is not none %}
                                {{ band_info.min }} &lt;
                            {% endif %}
                            &tau;
                            {% if band_info.max is not none %}
                                &le; {{ band_info.max }}
                            {% endif %}
                        </option>
                    {% endfor %}
                    <option value="other" {{ 'selected="selected"' | safe if input_values.tau_band is none }}>Other</option>
                </select>
                <input type="text" name="tau_value" value="{{ input }}" {{ 'disabled="disabled"' | safe if input_values.tau_band is not none }} />
            {% elif value.code == 'wl' %}
                <select name="wl">
                    {% for wl_filt in (850, 450) %}
                        <option value="{{ wl_filt }}" {{ 'selected="selected"' | safe if input == wl_filt }}>{{ wl_filt }}</option>
                    {% endfor %}
                </select>
            {% elif value.code == 'pix850' or value.code == 'pix450' %}
                <input type="number" name="{{ value.code }}" value="{{ input }}" min="1" step="any" />
            {% else %}
                <input type="text" name="{{ value.code }}" value="{{ input }}" />
            {% endif %}
            {% if value.unit is not none %}
                <span id="calc_unit_{{ value.code }}">{{ value.unit }}</span>
            {% endif %}
            {% if value.code == 'time' %}
                <span class="explanation">decimal hours or hours:minutes:seconds</span>
            {% elif value.code == 'pos' %}
                <select name="pos_type">
                    {% for (pos_type, pos_type_info) in position_types.items() %}
                        <option value="{{ pos_type }}" {{ 'selected="selected"' | safe if pos_type == input_values.pos_type }} data-no_unit="{{ 'true' if pos_type_info.no_unit else 'false' }}">{{ pos_type_info.name }}</option>
                    {% endfor %}
                </select>
            {% elif value.code == 'map' %}
                <div class="formtip">
                    <div>
                        <p>
                            SCUBA-2 offers two types of standard observing mode:
                            &ldquo;daisy&rdquo; for compact sources (&lsim; 3 arc-minutes)
                            and &ldquo;pong&rdquo; patterns of various sizes.
                        </p>
                        <p>
                            An additional observing mode is offered for
                            polarimetry with
                            <a href="http://www.eaobservatory.org/jcmt/instrumentation/continuum/scuba-2/pol-2/" target="_blank">POL-2</a>.
                        </p>
                        <p>
                            <a href="http://www.eaobservatory.org/jcmt/instrumentation/continuum/scuba-2/observing-modes/" target="_blank">SCUBA-2 observing modes</a>
                        </p>
                    </div>
                </div>
            {% elif value.code == 'samp' %}
                <div class="formtip">
                    <div>
                        <p>
                            The ITC works in terms of the noise level of each pixel in your final
                            map.
                        </p>
                        <p>
                            For point-source detections, the signal-to-noise ratio
                            can be improved by applying a matched-beam filter.
                            If you select this option, the ITC will apply
                            suitable sampling factors for the use of this filter.
                        </p>
                        <p>
                            To work with a specific pixelization scheme you
                            can enter custom pixel sizes.
                            Note that pixels smaller than required for
                            Nyquist sampling (6.5" at 850&nbsp;&#x00b5;m and 4" at 450&nbsp;&#x00b5;m)
                            &mdash; as are often used for initial data reduction &mdash;
                            give an over-sampled map and correspondingly higher noise
                            level.
                        </p>
                        <p>
                            <a href="http://www.eaobservatory.org/jcmt/instrumentation/continuum/scuba-2/time-and-sensitivity/" target="_blank">SCUBA-2 sensitivity</a>
                        </p>
                    </div>
                </div>
            {% elif value.code == 'tau' %}
                <div class="formtip">
                    <div>
                        <p>
                            Opacity conditions at JCMT are divided into 5 bands.
                            You may select a band to use a representative value for that band
                            or select &ldquo;Other&rdquo; to enter a specific
                            225 GHz opacity value.
                        </p>
                        <p>
                            <a href="http://www.eaobservatory.org/jcmt/observing/weather-bands/" target="_blank">Weather band information</a>
                        </p>
                    </div>
                </div>
            {% endif %}
        </li>
    {% endif %}
{% endblock %}

{% block calculator_output_table %}
    {% for value in outputs %}
        {% with output = output_values[value.code] %}
            {% if output is not none %}
                <tr>
                    <th>
                        {{ value.name }}
                    </th>
                    <td>
                        {{ output | fmt(value.format) }}
                        {% if value.unit is not none %}
                            {{ value.unit }}
                        {% endif %}
                        {% if value.code == 'time' %}
                            ({{ output | format_hours_hms }})
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endwith %}
    {% endfor %}
    <tr>
        <th>Time on source</th>
        <td>{{ output_extra.time_src | fmt('{:.3f}') }} hours ({{ output_extra.time_src | format_hours_hms }})</td>
    </tr>
    {% if 'rms_alt' in output_extra %}
        <tr>
            <th>Sensitivity at {{ output_extra.wl_alt }} &micro;m</th>
            <td>{{ output_extra.rms_alt | fmt('{:.3f}') }} mJy/beam</td>
        </tr>
    {% endif %}
{% endblock %}

{% block calculator_output_extra %}
    <table>
        <tr>
            <th>Parameter</th>
            <th>850 &micro;m</th>
            <th>450 &micro;m</th>
        </tr>
        <tr>
        <tr>
            <th>Sampling factor</th>
            <td>{{ output_extra.f_850 }}</td>
            <td>{{ output_extra.f_450 }}</td>
        </tr>
        <tr>
            <th>Opacity</th>
            <td>{{ output_extra.tau_850 | fmt('{:.3f}') }}</td>
            <td>{{ output_extra.tau_450 | fmt('{:.3f}') }}</td>
        </tr>
        <tr>
            <th>Transmission</th>
            <td>{{ output_extra.trans_850 | fmt('{:.3f}') }}</td>
            <td>{{ output_extra.trans_450 | fmt('{:.3f}')}}</td>
        </tr>
        {% if 'airmass' in output_extra %}
            <tr>
                <th>Airmass</th>
                <td colspan="2">{{ output_extra.airmass | fmt('{:.3f}') }} </td>
            </tr>
        {% endif %}
    </table>

    <table>
        <tr>
            <th>&nbsp;</th>
            {% for weather_band in output_extra.wb_comparison.keys() %}
                <th>Band {{ weather_band }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th>Representative</th>
            {% for weather_band in output_extra.wb_comparison.values() %}
                <td>{{ weather_band.rep | fmt(output_extra.wb_comparison_format) }} {{ output_extra.wb_comparison_unit }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Range</th>
            {% for weather_band in output_extra.wb_comparison.values() %}
                <td>
                    {% if weather_band.min is none %}
                        &hellip;
                    {% else %}
                        {{ weather_band.min | fmt(output_extra.wb_comparison_format) }}
                    {% endif %}
                    {% if (weather_band.min is not none) and (weather_band.max is not none) %}
                        &ndash;
                    {% endif %}
                    {% if weather_band.max is none %}
                        &hellip;
                    {% else %}
                        {{ weather_band.max | fmt(output_extra.wb_comparison_format) }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    </table>
{% endblock %}
