{% extends 'generic/calculator_base.html' %}
{% set scripts=['edit_calc_jcmt', 'edit_calc_jcmt_het'] %}

{% block calculator_input_list %}
    {% for value in inputs %}{% if value.code not in ('dim_y', 'dy', 'res_unit') %}
        {% with input = input_values[value.code] %}
            <li>
                {% if value.code not in ('dim_x', 'dx') %}
                    <label for="a">{{ value.name }}</label>
                {% endif %}
                {% if value.code == 'rx' %}
                    <select name="{{ value.code }}">
                        {% for receiver_info in receivers %}
                            <option value="{{ receiver_info.name }}" {{ 'selected="selected"' | safe if receiver_info.name == input }}
                                data-f_min="{{ receiver_info.f_min }}"
                                data-f_max="{{ receiver_info.f_max }}"
                                data-ssb_available="{{ 'true' if receiver_info.ssb_available else 'false' }}"
                                data-dsb_available="{{ 'true' if receiver_info.dsb_available else 'false' }}"
                                data-dual_pol_available="{{ 'true' if receiver_info.n_mix > 1 else 'false' }}"
                                data-pixel_size="{{ receiver_info.pixel_size }}"
                                data-is_array="{{ 'false' if receiver_info.array is none else 'true' }}"
                            >{{ receiver_info.name }}</option>
                        {% endfor %}
                    </select>
                {% elif value.code == 'mm' %}
                    <select name="{{ value.code }}">
                        {% for (mode_code, map_mode) in map_modes.items() %}
                            <option value="{{ mode_code }}" {{ 'selected="selected"' | safe if mode_code == input }}
                                {% for sw_code in switch_modes.keys() %}
                                    data-{{ sw_code }}_allowed="{{ 'true' if sw_code in map_mode.sw_modes else 'false' }}"
                                {% endfor %}
                            >{{ map_mode.name }}</option>
                        {% endfor %}
                    </select>
                {% elif value.code == 'sw' %}
                    {% for (mode_code, switch_mode) in switch_modes.items() %}
                        <input type="radio" name="{{ value.code }}" value="{{ mode_code }}" {{ 'checked="checked"' | safe if mode_code == input }} /><span class="checkboxlabel">{{ switch_mode.name }}</span>
                    {% endfor %}
                {% elif value.code == 'freq' %}
                    <input type="number" name="{{ value.code }}" value="{{ input }}" step="any" />
                {% elif value.code == 'res' %}
                    <input type="number" name="{{ value.code }}" value="{{ input }}" step="any" />
                    <select name="res_unit">
                        {% for res_unit in ('MHz', 'km/s') %}
                            <option value="{{ res_unit }}" {{ 'selected="selected"' | safe if res_unit == input_values['res_unit'] }} >{{ res_unit }}</option>
                        {% endfor %}
                    </select>
                {% elif value.code == 'tau' %}
                    <select name="tau_band">
                        {% for (band_num, band_info) in weather_bands.items() %}
                            <option value="{{ band_num }}" {{ 'selected="selected"' | safe if band_num == input_values.tau_band }} data-representative="{{ band_info.rep }}">
                                Band {{ band_num }}:
                                {% if band_info.min is not none %}
                                    {{ band_info.min }} &lt;
                                {% endif %}
                                &tau;
                                {% if band_info.max is not none %}
                                    &le; {{ band_info.max }}
                                {% endif %}
                            </option>
                        {% endfor %}
                        <option value="other" {{ 'selected="selected"' | safe if input_values.tau_band is none }}>Other</option>
                    </select>
                    <input type="text" name="tau_value" value="{{ input }}" {{ 'disabled="disabled"' | safe if input_values.tau_band is not none }} />
                {% elif value.code == 'sb' %}
                    <input type="radio" name="{{ value.code }}" value="ssb" {{ 'checked="checked"' | safe if input == 'ssb' }} /><span class="checkboxlabel">Single sideband</span>
                    <input type="radio" name="{{ value.code }}" value="dsb" {{ 'checked="checked"' | safe if input == 'dsb' }} /><span class="checkboxlabel">Dual sideband</span>
                {% elif value.code == 'dual_pol' %}
                    <input type="checkbox" name="{{ value.code }}" value="true" {{ 'checked="checked"' | safe if input }} />
                    <span class="checkboxlabel">Dual polarization</span>
                {% elif value.code == 'n_pt' %}
                    <input type="number" name="{{ value.code }}" value="{{ input }}" min="1" step="1" />
                {% elif value.code == 'dim_x' %}
                    <label>Raster map size</label>
                    <input type="number" name="dim_x" value="{{ input_values['dim_x'] }}" min="1" step="any" />
                    x
                    <input type="number" name="dim_y" value="{{ input_values['dim_y'] }}" min="1" step="any" />
                {% elif value.code == 'dx' %}
                    <label>Raster pixel size</label>
                    <input type="number" name="dx" value="{{ input_values['dx'] }}" min="1" step="any" />
                    x
                    <input type="number" name="dy" value="{{ input_values['dy'] }}" min="1" step="any" />
                {% elif value.code in ('dim_x', 'dim_y', 'dx', 'dy') %}
                    <input type="number" name="{{ value.code }}" value="{{ input }}" min="1" step="any" />
                {% elif value.code == 'basket' %}
                    <input type="checkbox" name="{{ value.code }}" value="true" {{ 'checked="checked"' | safe if input }} />
                    <span class="checkboxlabel">Basket weave</span>
                {% elif value.code == 'sep_off' %}
                    <input type="checkbox" name="{{ value.code }}" value="true" {{ 'checked="checked"' | safe if input }} />
                    <span class="checkboxlabel">Separate offs</span>
                {% elif value.code == 'cont' %}
                    <input type="checkbox" name="{{ value.code }}" value="true" {{ 'checked="checked"' | safe if input }} />
                    <span class="checkboxlabel">Continuum mode</span>
                {% else %}
                    <input type="text" name="{{ value.code }}" value="{{ input }}" />
                {% endif %}
                {% if value.unit is not none %}
                    {{ value.unit }}
                {% endif %}
                {% if value.code == 'elapsed' %}
                    <span class="explanation">decimal hours or hours:minutes:seconds</span>
                {% elif value.code == 'freq' %}
                    <span class="explanation"><span id="freq_min"></span> &mdash; <span id="freq_max"></span> {{ value.unit }}</span>
                {% elif value.code == 'n_pt' %}
                    <select name="n_pt_jiggle">
                        {% for (jiggle_pattern_name, jiggle_pattern_pts) in jiggle_patterns.items() %}
                            <option value="{{ jiggle_pattern_pts }}" {{ 'selected="selected"' | safe if jiggle_pattern_pts == input_values.n_pt }}>{{ jiggle_pattern_name }}</option>
                        {% endfor %}
                    </select>
                    {% for receiver in receivers %}
                        {% if receiver.array is not none %}
                            <select name="n_pt_jiggle_{{ receiver.name }}">
                                {% for (jiggle_pattern_name, jiggle_pattern_pts) in receiver.array.jiggle_patterns.items() %}
                                    <option value="{{ jiggle_pattern_pts }}" {{ 'selected="selected"' | safe if jiggle_pattern_pts == input_values.n_pt }}>{{ jiggle_pattern_name }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </li>
        {% endwith %}
        {% if value.code == 'dx' %}
            <li>
                <label>Raster scan spacing</label>
                {% for receiver in receivers %}
                    {% if receiver.array is not none %}
                        <select name="dy_spacing_{{ receiver.name }}">
                            {% for (spacing_name, spacing_spacing) in receiver.array.scan_spacings.items() %}
                                {% with spacing_str = spacing_spacing | fmt('{:.3f}') %}
                                    <option value="{{ spacing_str }}" {{ 'selected="selected"' | safe if input_values['dy_spacing'] == spacing_str }} >{{ spacing_name }} ({{ spacing_spacing }}")</option>
                                {% endwith %}
                            {% endfor %}
                        </select>
                    {% endif %}
                {% endfor %}
            </li>
        {% endif %}
    {% endif %}{% endfor %}
{% endblock %}

{% block calculator_output_table %}
    {% for value in outputs %}
        {% with output = output_values[value.code] %}
            <tr>
                <th>
                    {{ value.name }}
                </th>
                <td>
                    {{ output | fmt(value.format) }}
                    {% if value.unit is not none %}
                        {{ value.unit }}
                    {% endif %}
                    {% if value.code == 'elapsed' %}
                        ({{ output | format_hours_hms }})
                    {% endif %}
                </td>
            </tr>
        {% endwith %}
    {% endfor %}

    {% if 'int_time' in output_extra %}
    <tr>
        <th>Integration time</th>
        <td>{{ output_extra.int_time | fmt('{:.3f}') }} seconds per point</td>
    </tr>
    {% endif %}

    <tr>
        <th>Receiver temperature</th>
        <td>{{ output_extra.t_rx | fmt('{:.3f}') }} K</td>
    </tr>
    <tr>
        <th>System temperature</th>
        <td>{{ output_extra.t_sys | fmt('{:.3f}') }} K</td>
    </tr>
    <tr>
        <th>Opacity</th>
        <td>{{ output_extra.tau | fmt('{:.3f}') }}</td>
    </tr>
    <tr>
        <th>Zenith angle</th>
        <td>{{ output_extra.zenith_angle | fmt('{:.3f}') }} degrees</td>
    </tr>
    {% if 'res_velocity' in output_extra %}
    <tr>
        <th>Velocity resolution</th>
        <td>{{ output_extra.res_velocity | fmt('{:.3f}') }} km/s</td>
    </tr>
    {% endif %}
    {% if 'res_freq' in output_extra %}
    <tr>
        <th>Frequency resolution</th>
        <td>{{ output_extra.res_freq | fmt('{:.3f}') }} MHz</td>
    </tr>
    {% endif %}
{% endblock %}
