{% extends 'generic/calculator_base.html' %}
{% set scripts=['edit_calc_jcmt', 'edit_calc_jcmt_het', 'formtip'] %}
{% set help_link = url_for('help.user_page', page_name='calculation_jcmt_het') %}
{% set help_link_text = 'Help on this calculator' %}

{% block calculator_input_item %}
    {% if value.code not in ('dim_y', 'dy', 'res_unit', 'pos_type', 'rv_sys', 'trans', 'side') %}
        {% if value.code == 'dim_x' %}
            <li>&nbsp;</li>
        {% endif %}
        <li>
            {% if value.code not in ('dim_x', 'dx', 'species') %}
                <label for="a">{{ value.name }}</label>
            {% endif %}
            {% if value.code == 'rx' %}
                <select name="{{ value.code }}">
                    {% for receiver_info in receivers %}
                        <option value="{{ receiver_info.name }}" {{ 'selected="selected"' | safe if receiver_info.name == input }}
                            data-f_min="{{ receiver_info.f_min }}"
                            data-f_max="{{ receiver_info.f_max }}"
                            data-f_if="{{ receiver_info.f_if }}"
                            data-f_if_min="{{ receiver_info.f_if_min }}"
                            data-f_if_max="{{ receiver_info.f_if_max }}"
                            data-ssb_available="{{ 'true' if receiver_info.ssb_available else 'false' }}"
                            data-dsb_available="{{ 'true' if receiver_info.dsb_available else 'false' }}"
                            data-frsw_available="{{ 'true' if receiver_info.frsw_available else 'false' }}"
                            data-sep_pol_available="{{ 'true' if receiver_info.n_mix > 1 else 'false' }}"
                            data-pixel_size="{{ receiver_info.pixel_size }}"
                            data-is_array="{{ 'false' if receiver_info.array is none else 'true' }}"
                            data-if_option="{{ 'true' if receiver_info.t_rx_lo else 'false' }}"
                        >{{ receiver_info.name }}</option>
                    {% endfor %}
                </select>
            {% elif value.code == 'mm' %}
                <select name="{{ value.code }}">
                    {% for (mode_code, map_mode) in map_modes.items() %}
                        <option value="{{ mode_code }}" {{ 'selected="selected"' | safe if mode_code == input }}
                            {% for sw_code in switch_modes.keys() %}
                                data-{{ sw_code }}_allowed="{{ 'true' if sw_code in map_mode.sw_modes else 'false' }}"
                            {% endfor %}
                        >{{ map_mode.name }}</option>
                    {% endfor %}
                </select>
                <div class="formtip">
                    <div>
                        <p>
                            <b>Grid:</b>
                            the telescope moves to one or more individual points.
                            <br />
                            <b>Jiggle:</b>
                            the secondary mirror of the telescope moves in a pre-defined pattern.
                            <br />
                            <b>Raster:</b>
                            data are recorded while the telescope scans an area.
                        </p>
                        <p>
                            <a href="http://www.eaobservatory.org/jcmt/instrumentation/heterodyne/observing-modes/" target="_blank">Heterodyne observing modes</a>
                        </p>
                    </div>
                </div>
            {% elif value.code == 'sw' %}
                {% for (mode_code, switch_mode) in switch_modes.items() %}
                    <input type="radio" name="{{ value.code }}" value="{{ mode_code }}" {{ 'checked="checked"' | safe if mode_code == input }} /><span class="checkboxlabel">{{ switch_mode.name }}</span>
                {% endfor %}
                <div class="formtip">
                    <div>
                        <p>
                            <b>Beam:</b>
                            the secondary mirror of the telescope &ldquo;chops&rdquo;
                            a short distance (&leq; 180 arc-seconds) to either side.
                            <br />
                            <b>Position:</b>
                            the whole telescope moves between the source and offset position.
                            <br />
                            <b>Frequency:</b>
                            the observing frequency alternates during the observation.
                        </p>
                        <p>
                            <a href="http://www.eaobservatory.org/jcmt/instrumentation/heterodyne/observing-modes/" target="_blank">Heterodyne observing modes</a>
                        </p>
                    </div>
                </div>
            {% elif value.code == 'species' %}
                <label>Transition line</label>
                <select name="species" data-line_catalog="{{ url_for('.calc_heterodyne_line_cat') }}" data-selected="{{ input }}">
                    <option value="">Loading&hellip;</option>
                </select>
                <select name="trans" data-selected="{{ input_values.trans }}">
                    <option value="">Loading&hellip;</option>
                </select>
            {% elif value.code == 'freq' %}
                <input type="number" name="{{ value.code }}" value="{{ input }}" step="any" />
            {% elif value.code == 'res' %}
                <select name="acsis_mode">
                    {% for (acsis_mode_num, acsis_mode_info) in acsis_modes.items() %}
                        <option value="{{ acsis_mode_num }}" {{ 'selected="selected"' | safe if acsis_mode_num == input_values.acsis_mode }} data-resolution="{{ acsis_mode_info.freq_res }}" data-array_only="{{ 'true' if acsis_mode_info.array_only else 'false' }}">
                            {{ acsis_mode_info.name }} mode
                        </option>
                    {% endfor %}
                    <option value="other" {{ 'selected="selected"' | safe if input_values.acsis_mode is none }} data-array_only="false">Other</option>
                </select>
                <input type="number" name="{{ value.code }}" value="{{ input }}" min="0" step="any" {{ 'disabled="disabled"' | safe if input_values.acsis_mode is not none }} />
                <select name="res_unit" {{ 'disabled="disabled"' | safe if input_values.acsis_mode is not none }}>
                    {% for res_unit in ('MHz', 'km/s') %}
                        <option value="{{ res_unit }}" {{ 'selected="selected"' | safe if res_unit == input_values['res_unit'] }} >{{ res_unit }}</option>
                    {% endfor %}
                </select>
                <div class="formtip">
                    <div>
                        <p>
                            ACSIS can use 250 MHz or 1000 MHz sub-bands.
                            In the case of HARP these can either be &ldquo;chained&rdquo;
                            for higher resolution or overlapped as a
                            400 MHz or 1600 MHz &ldquo;hybrid&rdquo; band.
                            Other receivers can use one of these &ldquo;hybrid&rdquo; modes
                            without a loss of resolution.
                        </p>
                        <p>
                            Please see the
                            <a href="http://www.eaobservatory.org/jcmt/instrumentation/heterodyne/acsis/" target="_blank">ACSIS spectrometer information</a>
                            for more information, including the resolution
                            constraints when observing multiple simultaneous
                            frequencies.
                        </p>
                        <p>
                            Please select &ldquo;Other&rdquo; to enter
                            a specific resolution in MHz or km/s.
                            If a resolution is entered in terms of frequency,
                            it corresponds to the sky frequency.
                        </p>
                    </div>
                </div>
            {% elif value.code == 'if' %}
                <select name="{{ value.code }}_type">
                    <option value="default" {{ 'selected="selected"' | safe if not input }}>Receiver default</option>
                    <option value="other" {{ 'selected="selected"' | safe if input }}>Other</option>
                </select>
                <input type="number" name="{{ value.code }}_value" value="{{ input }}" step="any" />
            {% elif value.code == 'tau' %}
                <select name="tau_band">
                    {% for (band_num, band_info) in weather_bands.items() %}
                        <option value="{{ band_num }}" {{ 'selected="selected"' | safe if band_num == input_values.tau_band }} data-representative="{{ band_info.rep }}">
                            {{ band_info.name }}:
                            {% if band_info.min is not none %}
                                {{ band_info.min }} &lt;
                            {% endif %}
                            &tau;
                            {% if band_info.max is not none %}
                                &le; {{ band_info.max }}
                            {% endif %}
                        </option>
                    {% endfor %}
                    <option value="other" {{ 'selected="selected"' | safe if input_values.tau_band is none }}>Other</option>
                </select>
                <input type="number" name="tau_value" value="{{ input }}" {{ 'disabled="disabled"' | safe if input_values.tau_band is not none }} step="any" min="0" />
                <div class="formtip">
                    <div>
                        <p>
                            Opacity conditions at JCMT are divided into 5 bands.
                            You may select a band to use a representative value for that band
                            or select &ldquo;Other&rdquo; to enter a specific
                            225 GHz opacity value.
                        </p>
                        <p>
                            <a href="http://www.eaobservatory.org/jcmt/observing/weather-bands/" target="_blank">Weather band information</a>
                        </p>
                    </div>
                </div>
            {% elif value.code == 'pos' %}
                <input type="number" name="{{ value.code }}" value="{{ input }}" min="-90" max="90" step="any" />
            {% elif value.code == 'rv' %}
                <input type="number" name="{{ value.code }}" value="{{ input }}" step="any" />
            {% elif value.code == 'sb' %}
                <input type="radio" name="{{ value.code }}" value="ssb" {{ 'checked="checked"' | safe if input == 'ssb' }} /><span class="checkboxlabel">Single sideband</span>
                <input type="radio" name="{{ value.code }}" value="dsb" {{ 'checked="checked"' | safe if input == 'dsb' }} /><span class="checkboxlabel">Dual sideband</span>
            {% elif value.code == 'sep_pol' %}
                <input type="checkbox" name="{{ value.code }}" value="true" {{ 'checked="checked"' | safe if input }} />
                <div class="formtip">
                    <div>
                        <p>
                            Some receivers have two mixers observing the same position in orthogonal polarizations.
                            Normally the data are combined to reduce the integration time required,
                            but you can use this option to see what the effect would be
                            of processing each polarization individually.
                        </p>
                        <p>
                            <a href="http://www.eaobservatory.org/jcmt/instrumentation/heterodyne/" target="_blank">Heterodyne receiver information</a>
                        </p>
                    </div>
                </div>
            {% elif value.code == 'n_pt' %}
                <input type="number" name="{{ value.code }}" value="{{ input }}" min="1" step="1" />
            {% elif value.code == 'dim_x' %}
                <label>Raster map size</label>
                <input type="number" name="dim_x" value="{{ input_values['dim_x'] }}" min="1" step="any" />
                &times;
                <input type="number" name="dim_y" value="{{ input_values['dim_y'] }}" min="1" step="any" />
            {% elif value.code == 'dx' %}
                <label>Raster pixel size</label>
                <input type="number" name="dx" value="{{ input_values['dx'] }}" min="1" step="any" />
                &times;
                <input type="number" name="dy" value="{{ input_values['dy'] }}" min="1" step="any" />
            {% elif value.code in ('dim_x', 'dim_y', 'dx', 'dy') %}
                <input type="number" name="{{ value.code }}" value="{{ input }}" min="1" step="any" />
            {% elif value.code == 'basket' %}
                <input type="checkbox" name="{{ value.code }}" value="true" {{ 'checked="checked"' | safe if input }} />
                <div class="formtip">
                    <div>
                        <p>
                            In a basket-weaved observation the telescope scans the map area
                            in two orthogonal directions (along the height and width)
                            to minimize the effects of sky and system uncertainties.
                        </p>
                    </div>
                </div>
            {% elif value.code == 'sep_off' %}
                <input type="checkbox" name="{{ value.code }}" value="true" {{ 'checked="checked"' | safe if input }} />
            {% elif value.code == 'cont' %}
                <input type="checkbox" name="{{ value.code }}" value="true" {{ 'checked="checked"' | safe if input }} />
                <div class="formtip">
                    <div>
                        <p>
                            Continuum mode can be selected when you are interested in the
                            continuum level (e.g. for planets)
                            at the expense of reduced observing efficiency.
                        </p>
                        <p>
                            <a href="http://www.eaobservatory.org/jcmt/instrumentation/heterodyne/observing-modes/" target="_blank">Heterodyne observing modes</a>
                        </p>
                    </div>
                </div>
            {% else %}
                <input type="text" name="{{ value.code }}" value="{{ input }}" />
            {% endif %}
            {% if value.unit is not none %}
                <span id="calc_unit_{{ value.code }}">{{ value.unit }}</span>
            {% endif %}
            {% if value.code == 'elapsed' %}
                <span class="explanation">decimal hours or hours:minutes:seconds</span>
            {% elif value.code == 'int_time' %}
                <span class="explanation">minimum {{ int_time_minimum | fmt('{:.3f}') }} {{ value.unit }}</span>
            {% elif value.code == 'freq' %}
                <span class="explanation"><span id="freq_min"></span> &mdash; <span id="freq_max"></span> {{ value.unit }}</span>
            {% elif value.code == 'n_pt' %}
                <select name="n_pt_jiggle">
                    {% for (jiggle_pattern_name, jiggle_pattern_pts) in jiggle_patterns.items() %}
                        <option value="{{ jiggle_pattern_pts }}" {{ 'selected="selected"' | safe if jiggle_pattern_pts == input_values.n_pt }}>{{ jiggle_pattern_name }}</option>
                    {% endfor %}
                </select>
                {% for receiver in receivers %}
                    {% if receiver.array is not none %}
                        <select name="n_pt_jiggle_{{ receiver.name }}">
                            {% for (jiggle_pattern_name, jiggle_pattern_pts) in receiver.array.jiggle_patterns.items() %}
                                <option value="{{ jiggle_pattern_pts }}" {{ 'selected="selected"' | safe if jiggle_pattern_pts == input_values.n_pt }}>{{ jiggle_pattern_name }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                {% endfor %}
            {% elif value.code == 'pos' %}
                <select name="pos_type">
                    {% for (pos_type, pos_type_info) in position_types.items() %}
                        <option value="{{ pos_type }}" {{ 'selected="selected"' | safe if pos_type == input_values.pos_type }} data-no_unit="{{ 'true' if pos_type_info.no_unit else 'false' }}">{{ pos_type_info.name }}</option>
                    {% endfor %}
                </select>
            {% elif value.code == 'rv' %}
                <select name="rv_sys">
                    {% for (rv_sys, rv_sys_info) in rv_systems.items() %}
                        <option value="{{ rv_sys }}" {{ 'selected="selected"' | safe if rv_sys == input_values.rv_sys }} data-no_unit="{{ 'true' if rv_sys_info.no_unit else 'false' }}">{{ rv_sys_info.name }}</option>
                    {% endfor %}
                </select>
            {% elif value.code == 'if' %}
                <select name="side">
                    <option value="" {{ 'selected="selected"' | safe if input_values.side is none }}>best sideband</option>
                    <option value="lsb" {{ 'selected="selected"' | safe if input_values.side == 'lsb'}} >lower sideband</option>
                    <option value="usb" {{ 'selected="selected"' | safe if input_values.side == 'usb'}} >upper sideband</option>
                </select>
            {% endif %}
        </li>
        {% if value.code == 'dx' %}
            <li>
                <label>Raster scan spacing</label>
                {% for receiver in receivers %}
                    {% if receiver.array is not none %}
                        <select name="dy_spacing_{{ receiver.name }}">
                            {% for (spacing_name, spacing_spacing) in receiver.array.scan_spacings.items() %}
                                {% with spacing_str = spacing_spacing | fmt('{:.3f}') %}
                                    <option value="{{ spacing_str }}" {{ 'selected="selected"' | safe if input_values['dy_spacing'] == spacing_str }} >{{ spacing_name }} ({{ spacing_spacing }}")</option>
                                {% endwith %}
                            {% endfor %}
                        </select>
                    {% endif %}
                {% endfor %}
            </li>
        {% endif %}
    {% endif %}
{% endblock %}

{% block calculator_output_table %}
    {% for value in outputs %}
        {% with output = output_values[value.code] %}
            <tr>
                <th>
                    {{ value.name }}
                </th>
                <td>
                    {{ output | fmt(value.format) }}
                    {% if value.unit is not none %}
                        {{ value.unit }}
                    {% endif %}
                    {% if value.code == 'elapsed' %}
                        ({{ output | format_hours_hms }})
                    {% endif %}
                </td>
            </tr>
        {% endwith %}
    {% endfor %}

    {% if 'int_time' in output_extra %}
    <tr>
        <th>Integration time</th>
        <td>{{ output_extra.int_time | fmt('{:.3f}') }} seconds per point</td>
    </tr>
    {% endif %}

    <tr>
        <th>Receiver temperature</th>
        <td>{{ output_extra.t_rx | fmt('{:.3f}') }} K</td>
    </tr>
    <tr>
        <th>System temperature</th>
        <td>{{ output_extra.t_sys | fmt('{:.3f}') }} K</td>
    </tr>
    <tr>
        <th>Opacity</th>
        <td>{{ output_extra.tau | fmt('{:.3f}') }}</td>
    </tr>
    {% if 'zenith_angle' in output_extra %}
    <tr>
        <th>Zenith angle</th>
        <td>{{ output_extra.zenith_angle | fmt('{:.3f}') }} degrees</td>
    </tr>
    {% endif %}
    {% if 'if_freq' in output_extra %}
    <tr>
        <th>IF frequency</th>
        <td>{{ output_extra.if_freq | fmt('{:.3f}') }} GHz</td>
    </tr>
    {% endif %}
    {% if 'lo_freq' in output_extra %}
    <tr>
        <th>LO frequency</th>
        <td>
            {{ output_extra.lo_freq | fmt('{:.3f}') }} GHz
            {% if 'sideband' in output_extra %}
                ({{ output_extra.sideband}})
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% if 'rest_freq' in output_extra %}
    <tr>
        <th>Rest frequency</th>
        <td>{{ output_extra.rest_freq | fmt('{:.3f}') }} GHz</td>
    </tr>
    {% endif %}
    {% if 'redshift' in output_extra %}
    <tr>
        <th>Redshift</th>
        <td>{{ output_extra.redshift | fmt('{:.6f}') }}</td>
    </tr>
    {% endif %}
    {% if 'sky_freq' in output_extra %}
    <tr>
        <th>Sky frequency</th>
        <td>{{ output_extra.sky_freq | fmt('{:.3f}') }} GHz</td>
    </tr>
    {% endif %}
    {% if 'sky_freq_res' in output_extra %}
    <tr>
        <th>Sky frequency resolution</th>
        <td>{{ output_extra.sky_freq_res | fmt('{:.3f}') }} MHz</td>
    </tr>
    {% endif %}
    {% if 'rest_freq_res' in output_extra %}
    <tr>
        <th>Rest frequency resolution</th>
        <td>{{ output_extra.rest_freq_res | fmt('{:.3f}') }} MHz</td>
    </tr>
    {% endif %}
    {% if 'velocity_res' in output_extra %}
    <tr>
        <th>Velocity resolution</th>
        <td>{{ output_extra.velocity_res | fmt('{:.3f}') }} km/s</td>
    </tr>
    {% endif %}
{% endblock %}

{% block calculator_output_extra %}
    <table>
        <tr>
            <th>&nbsp;</th>
            {% for weather_band in output_extra.wb_comparison.keys() %}
                <th>Band {{ weather_band }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th>Representative</th>
            {% for weather_band in output_extra.wb_comparison.values() %}
                <td>{{ weather_band.rep | fmt(output_extra.wb_comparison_format) }} {{ output_extra.wb_comparison_unit }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Range</th>
            {% for weather_band in output_extra.wb_comparison.values() %}
                <td>
                    {% if weather_band.min is none %}
                        &hellip;
                    {% else %}
                        {{ weather_band.min | fmt(output_extra.wb_comparison_format) }}
                    {% endif %}
                    {% if (weather_band.min is not none) and (weather_band.max is not none) %}
                        &ndash;
                    {% endif %}
                    {% if weather_band.max is none %}
                        &hellip;
                    {% else %}
                        {{ weather_band.max | fmt(output_extra.wb_comparison_format) }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    </table>
{% endblock %}
