{% extends 'generic/call_review_tabulation.html' %}

{% block explanation_extra %}
    <ul>
        <li>
            This table shows the total time requested and allocated for each
            proposal and the breakdown by weather band and instrument.
        </li>
        <li>
            This breakdown initially gives the requested time
            and changes to the allocated time once it has been entered.
        </li>
        <li>
            When the request is different from the time allocated,
            it is shown in bold and you can hover the mouse over it to see
            its original breakdown.
        </li>
        <li>
            Below the table are the times exempted from affiliation totals,
            the total times allocated,
            the total times as shown (allocated or requested)
            and the total original requested times.
        </li>
        <li>
            Sortable columns are indicated by a square.
            Click the column header to sort the table by that column,
            and click again to change the sort direction.
        </li>
    </ul>
{% endblock %}

{% block heading_line_one %}
    <th rowspan="2" class="sideways sortable sortreverse" data-sortkey="jcmt_request"><div><div><span>Request (hours)</span></div></div></th>
    <th rowspan="2" class="sideways sortable sortreverse" data-sortkey="jcmt_allocation"><div><div><span>Allocation (hours)</span></div></div></th>
    <th colspan="{{ jcmt_weathers | length + 1 }}" class="spacer_left">Weather</th>
    <th colspan="{{ jcmt_instruments | length + 1 }}" class="spacer_left">Instrument</th>
{% endblock %}

{% block heading_line_two %}
    {% for weather in jcmt_weathers.values() %}
        <th class="sideways{{ ' spacer_left' if loop.first }}"><div><div>{{ weather.name }}</div></div></th>
    {% endfor %}
    <th class="sideways"><div><div>Unknown</div></div></th>
    {% for instrument in jcmt_instruments.values() %}
        <th class="sideways{{ ' spacer_left' if loop.first }}"><div><div>{{ instrument }}</div></div></th>
    {% endfor %}
    <th class="sideways"><div><div>Unknown</div></div></th>
{% endblock %}

{% block row_sort_info %}{{ {
    'jcmt_request': proposal.jcmt_request.total,
    'jcmt_allocation': (None if (proposal.jcmt_allocation is none) else proposal.jcmt_allocation.total),
} | json(extend=super()) }}{% endblock %}

{% macro render_cell_class(is_total, is_first) %}number_right{{ ' total' if is_total }}{{ ' spacer_left' if is_first }}{% endmacro %}

{% macro render_jcmt_request(req_or_alloc, is_total=false) %}
    {% for weather in (jcmt_weathers.keys() + [0]) %}
        <td class="{{ render_cell_class(is_total, loop.first) }}">
            {% if weather in req_or_alloc.weather %}
                {{ req_or_alloc.weather[weather] | fmt('{:.1f}')}}
            {% else %}
                &nbsp;
            {% endif %}
        </td>
    {% endfor %}
    {% for instrument in (jcmt_instruments.keys() + [0]) %}
        <td class="{{ render_cell_class(is_total, loop.first) }}">
            {% if instrument in req_or_alloc.instrument %}
                {{ req_or_alloc.instrument[instrument] | fmt('{:.1f}')}}
            {% else %}
                &nbsp;
            {% endif %}
        </td>
    {% endfor %}
{% endmacro %}

{% block row_extra %}
    <td class="{{ render_cell_class(false, false) }}">
        {% if proposal.jcmt_allocation_different %}
            <div class="hovertable">
                <b>{{ proposal.jcmt_request.total | fmt('{:.1f}') }}</b>
                <table style="width: 80ex;">
                    <tr>
                        <td>{{ proposal.jcmt_request.total | fmt('{:.1f}') }}</td>
                        {{ render_jcmt_request(proposal.jcmt_request) }}
                    </tr>
                    <tr>
                        <th class="sideways"><div><div>Request (hours)</div></div></th>
                        {{ self.heading_line_two() }}
                    </tr>
                </table>
            </div>
        {% else %}
            {{ proposal.jcmt_request.total | fmt('{:.1f}') }}
        {% endif %}
    </td>
    {% if proposal.jcmt_allocation is none %}
        <td class="{{ render_cell_class(false, false) }}">&nbsp;</td>
        {{ render_jcmt_request(proposal.jcmt_request) }}
    {% else %}
        <td class="{{ render_cell_class(false, false) }}">{{ proposal.jcmt_allocation.total | fmt('{:.1f}') }}</td>
        {{ render_jcmt_request(proposal.jcmt_allocation) }}
    {% endif %}
{% endblock %}

{% block footer_exempt_extra %}
    <td colspan="2" class="{{ render_cell_class(true, false) }}">{{ jcmt_exempt_total.total | fmt('{:.1f}') }}</td>
    {{ render_jcmt_request(jcmt_exempt_total, is_total=true) }}
{% endblock %}

{% block footer_accepted_extra %}
    <td colspan="2" class="{{ render_cell_class(true, false) }}">{{ jcmt_accepted_total.total | fmt('{:.1f}') }}</td>
    {{ render_jcmt_request(jcmt_accepted_total, is_total=true) }}
{% endblock %}

{% block footer_available_extra %}
    <td colspan="2" class="{{ render_cell_class(true, false) }}">{{ jcmt_available.total | fmt('{:.1f}') }}</td>
    {{ render_jcmt_request(jcmt_available, is_total=true) }}
{% endblock %}

{% block footer_total_extra %}
    <td colspan="2" class="{{ render_cell_class(true, false) }}">{{ jcmt_request_total.total | fmt('{:.1f}') }}</td>
    {{ render_jcmt_request(jcmt_request_total, is_total=true) }}
{% endblock %}

{% block footer_original_extra %}
    <td colspan="2" class="{{ render_cell_class(true, false) }}">{{ jcmt_request_original.total | fmt('{:.1f}') }}</td>
    {{ render_jcmt_request(jcmt_request_original, is_total=true) }}
{% endblock %}

{% block footer_head_extra %}
    <th colspan="2" class="sideways"><div><div>Time (hours)</div></div></th>
{% endblock %}
