{% extends "generic/proposal_view.html" %}

{% block proposal_request %}
    <section>
        <h2>Observing Request</h2>

        {% if not requests.table %}
            <p class="missing">
                This proposal does not yet have an observing request.
            </p>
        {% else %}
            <table>
                <tr>
                    <th>Instrument</th>
                    {% for column in requests.columns.values() %}
                        <th>{{ column }}</th>
                    {% endfor %}
                    <th>Total</th>
                </tr>
                {% for (row_id, row_name) in requests.rows.items() %}
                    <tr>
                        <th>{{ row_name }}</th>
                        {% for column_id in requests.columns.keys() %}
                            <td>{{ requests.table[row_id][column_id] | fmt('{0:g}') }}</td>
                        {% endfor %}
                        <td class="total">{{ requests.table[row_id][0] | fmt('{0:g}' )}}</td>
                    </tr>
                {% endfor %}
                {% if 0 in requests.table %}
                    <tr>
                        <th>Total</th>
                        {% for column_id in requests.columns.keys() %}
                            <td class="total">{{ requests.table[0][column_id] | fmt('{0:g}') }}</td>
                        {% endfor %}
                        <td class="grandtotal">{{ requests.table[0][0] | fmt('{0:g}') }}</th>
                    </tr>
                {% endif %}
            </table>
        {% endif %}

        {% if jcmt_options %}
            <p>
                {% for jcmt_option in jcmt_options %}
                    <span class="label">{{ jcmt_option }}</span>
                {% endfor %}
            </p>
        {% endif %}

        {% if can_edit %}
            <nav>
                <p>
                    <a href="{{ url_for('.request_edit', proposal_id=proposal.id) }}">Edit observing request</a>
                </p>
            </nav>
        {% endif %}
    </section>
{% endblock %}
