{% extends "generic/proposal_view.html" %}

{% block proposal_request %}
    <h2>Observing Request</h2>

    {% if not requests.table %}
        <p>
            <i>This proposal does not yet have an observing request.</i>
        </p>
    {% else %}
        <table>
            <tr>
                <th>Instrument</th>
                {% for column in requests.columns.values() %}
                    <th>{{ column }}</th>
                {% endfor %}
                <th>Total</th>
            </tr>
            {% for (row_id, row_name) in requests.rows.items() %}
                <tr>
                    <th>{{ row_name }}</th>
                    {% for column_id in requests.columns.keys() %}
                        <td>{{ requests.table[row_id][column_id] }}</td>
                    {% endfor %}
                    <td class="total">{{ requests.table[row_id][0] }}</td>
                </tr>
            {% endfor %}
            {% if 0 in requests.table %}
                <tr>
                    <th>Total</th>
                    {% for column_id in requests.columns.keys() %}
                        <td class="total">{{ requests.table[0][column_id] }}</td>
                    {% endfor %}
                    <td class="grandtotal">{{ requests.table[0][0] }}</th>
                </tr>
            {% endif %}
        </table>
    {% endif %}

    {% if can_edit %}
        <p>
            <a href="{{ url_for('.request_edit', proposal_id=proposal.id) }}">Edit observing request</a>
        </p>
    {% endif %}

{% endblock %}
