{% extends 'generic/proposal_reviews.html' %}

{% set review_info_columns=['Assessment', 'Rating', 'Expertise'] %}

{% from 'jcmt/macro/review_questions.html' import render_ext_review_question %}

{% block review_info %}
    <td>
        {% if review.review_assessment is not none %}
            {{ review.review_assessment | assessment_name }}
        {% else %}
            &nbsp;
        {% endif %}
    </td>
    <td>
        {% if review.review_rating is not none %}
            {{ review.review_rating }}
        {% else %}
            &nbsp;
        {% endif %}
    </td>
    <td>
        {% if review.review_extra.expertise is not none %}
            {{ review.review_extra.expertise | jcmt_expertise_name }}
        {% else %}
            &nbsp;
        {% endif %}
    </td>
{% endblock %}

{% block review_text %}
    {% if facility_role_class.get_info(review.role).jcmt_external %}
        {% if review.review_extra.review_aims is not none %}
            <p><b>{{ render_ext_review_question('jcmt_review_aims') }}</b></p>

            {{ review.review_extra.review_aims | format_text(review.review_extra.review_format) }}
        {% endif %}

        {% if review.review_extra.review_goals is not none %}
            <p><i>{{ render_ext_review_question('jcmt_review_goals') }}</i></p>

            {{ review.review_extra.review_goals | format_text(review.review_extra.review_format) }}
        {% endif %}

        {% if review.review_extra.review_difficulties is not none %}
            <p><i>{{ render_ext_review_question('jcmt_review_difficulties') }}</i></p>

            {{ review.review_extra.review_difficulties | format_text(review.review_extra.review_format) }}
        {% endif %}

        {% if review.review_extra.rating_justification is not none %}
            <p>
                <b>Justification:</b>
                {{ review.review_extra.rating_justification | jcmt_review_rating_justification }}
            </p>
        {% endif %}

        {% if review.review_extra.review_details is not none %}
            <p><b>{{ render_ext_review_question('jcmt_review_details') }}</b></p>

            {{ review.review_extra.review_details | format_text(review.review_extra.review_format) }}
        {% endif %}

        {% if review.review_extra.review_obj_inst is not none %}
            <p><i>{{ render_ext_review_question('jcmt_review_obj_inst') }}</i></p>

            {{ review.review_extra.review_obj_inst | format_text(review.review_extra.review_format) }}
        {% endif %}

        {% if review.review_extra.review_telescope is not none %}
            <p><i>{{ render_ext_review_question('jcmt_review_telescope') }}</i></p>

            {{ review.review_extra.review_telescope | format_text(review.review_extra.review_format) }}
        {% endif %}

        {% if review.review_extra.rating_technical is not none %}
            <p>
                <b>Technical case:</b>
                {{ review.review_extra.rating_technical | jcmt_review_rating_technical }}
            </p>
        {% endif %}

        {% if review.review_extra.rating_urgency is not none %}
            <p>
                <b>Urgency:</b>
                {{ review.review_extra.rating_urgency | jcmt_review_rating_urgency }}
            </p>
        {% endif %}

        <p><b>Additional Comments</b></p>
    {% endif %}
    {{ review.review_text | format_text(review.review_format) }}
{% endblock %}
