{% extends "generic/proposal_view.html" %}

{% from 'jcmt/macro/request_table.html' import render_request_display, render_request_options_display %}

{% block proposal_preamble_not_submitted_note %}
    {% if facility_call_type_class.get_info(proposal.call_type).jcmt_close_when_full %}
        This call closes when the observing queue for Semester {{ proposal.semester_name }} is full.
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block science_case_extra %}
    {% if jcmt_pr_summary is not none %}
        <h2 id="jcmt_pr_summary">Public Summary</h2>

        {{ jcmt_pr_summary | format_text }}

        {% if can_edit %}
            <nav>
                <ol class="fa-ul">
                    <li><a href="{{ url_for('.pr_summary_edit', proposal_id=proposal.id) }}"><span class="fa-li"><span class="fa-solid fa-pencil"></span></span>Edit public summary</a></li>
                </ol>
            </nav>
        {% endif %}
    {% endif %}
{% endblock %}

{% block proposal_request %}
    <section>
        <h2 id="request">{{ proposal_order.proposal_request }}</h2>

        {% if not requests %}
            <p class="missing">
                This proposal does not yet have an observing request.
            </p>
        {% else %}
            {{ render_request_display(requests.to_table()) }}
        {% endif %}

        {{ render_request_options_display(jcmt_options) }}

        {% if can_edit %}
            <nav>
                <ol class="fa-ul">
                    <li><a href="{{ url_for('.request_edit', proposal_id=proposal.id) }}"><span class="fa-li"><span class="fa-solid fa-pencil"></span></span>Edit observing request</a></li>
                </ol>
            </nav>
        {% endif %}
    </section>
{% endblock %}
