{% extends 'generic/proposal_decision.html' %}

{% set scripts=['edit_jcmt_request', 'formtip'] %}

{% from 'jcmt/macro/request_table.html' import render_request_display, render_request_table, render_request_options, render_request_options_display %}

{% block form_list_extra %}
    <li class="separator">JCMT Observing Request</li>
    <li>
        <div class="explanation">
            This is the project&rsquo;s original observing request,
            for information only.
        </div>
    </li>
    <li>
        <div class="form_panel">
            {{ render_request_display(original_request) }}

            {{ render_request_options_display(original_options) }}
        </div>
    </li>
    <li class="separator">JCMT Time Allocation</li>
    <li>
        <div class="explanation">
            You can use this table to adjust the project&rsquo;s time allocation.
            {% if is_prefilled %}
                <br />
                This table has been pre-filled using the times from the
                project&rsquo;s original observing request.
            {% endif %}
        </div>
    </li>
    <li>
        <div class="form_panel">
            {{ render_request_table(allocations, instruments, weathers, description='allocation') }}
        </div>
    </li>
    <li>
        <div class="form_panel">
            {{ render_request_options(jcmt_options, jcmt_option_values) }}
        </div>
    </li>
{% endblock %}
