{% extends "layout.html" %}
{% set navigation=[(proposal_code, url_for('.proposal_view', proposal_id=proposal_id))] %}
{% set scripts=['edit_jcmt_request', 'formtip'] %}
{% set help_link=url_for('help.user_page', page_name='request') %}

{% from 'jcmt/macro/request_table.html' import render_request_table %}

{% block content %}

{% if message is not none %}
    <p class="warning">
        {{ message }}
    </p>
{% endif %}

<form method="POST" action="{{ url_for('.request_edit', proposal_id=proposal_id) }}">

    {{ render_request_table(requests, instruments, weathers) }}

    <p>
        {% for (option, option_name) in options.items() %}
            <input type="checkbox" name="option_{{ option }}" {{ 'checked="checked"' | safe if option_values[option] }} />
            <span class="checkboxlabel">{{ option_name }}</span>
            {% if not loop.last %}
                <br />
            {% endif %}
        {% endfor %}
    </p>

    <p>
        <input type="submit" name="submit-save" value="Save" />
    </p>

</form>

{% endblock %}
