{% extends 'generic/request_edit.html' %}

{% set scripts=['edit_jcmt_request', 'formtip'] %}

{% from 'jcmt/macro/request_table.html' import render_request_table %}

{% block request_form %}
    {{ render_request_table(requests, instruments, weathers) }}

    <p>
        {% for (option, option_name) in options.items() %}
            <input type="checkbox" name="option_{{ option }}" {{ 'checked="checked"' | safe if option_values[option] }} />
            <span class="checkboxlabel">{{ option_name }}</span>
            {% if not loop.last %}
                <br />
            {% endif %}
        {% endfor %}
    </p>
{% endblock %}
