{% extends 'generic/review_edit.html' %}

{% from 'jcmt/macro/request_table.html' import render_request_display %}
{% from 'jcmt/macro/review_questions.html' import render_ext_review_question %}

{% block information_extra %}
    {% if jcmt_request is not none %}
        <h3>Original Request</h3>
        {{ render_request_display(jcmt_request.to_table()) }}
    {% endif %}
    {% if jcmt_allocation is not none %}
        <h3>Time Allocation</h3>
        {{ render_request_display(jcmt_allocation.to_table()) }}
    {% endif %}
{% endblock %}

{% block form_list_review %}
    {% if role_info.jcmt_external %}
        <li>
            <div class="explanation">
                {{ render_ext_review_question('jcmt_review_aims') }}
            </div>
            <label for="jcmt_review_aims">Aims</label>
            <textarea name="jcmt_review_aims" cols="80" rows="10" autofocus="autofocus">{{ jcmt_review.review_aims if jcmt_review.review_aims is not none }}</textarea>
        </li>
        <li>
            <div class="explanation">
                {{ render_ext_review_question('jcmt_review_goals') }}
            </div>
            <label for="jcmt_review_goals">Goals</label>
            <textarea name="jcmt_review_goals" cols="80" rows="10">{{ jcmt_review.review_goals if jcmt_review.review_goals is not none }}</textarea>
        </li>
        <li>
            <div class="explanation">
                {{ render_ext_review_question('jcmt_review_difficulties') }}
            </div>
            <label for="jcmt_review_difficulties">Difficulties</label>
            <textarea name="jcmt_review_difficulties" cols="80" rows="10">{{ jcmt_review.review_difficulties if jcmt_review.review_difficulties is not none }}</textarea>
        </li>
        <li>
            <div class="explanation">
                Where would you place this proposal within the following scale?
            </div>
            <label for="jcmt_rating_justification">Justification</label>
            <select name="jcmt_rating_justification">
                {% for (rating_id, rating_name) in jcmt_ratings_justification.items() %}
                    <option value="{{ rating_id }}" {{ 'selected="selected"' | safe if rating_id == jcmt_review.rating_justification }}>{{ rating_name }}</option>
                {% endfor %}
            </select>
        </li>
        <li>
            <div class="explanation">
                {{ render_ext_review_question('jcmt_review_details') }}
            </div>
            <label for="jcmt_review_details">Details</label>
            <textarea name="jcmt_review_details" cols="80" rows="10">{{ jcmt_review.review_details if jcmt_review.review_details is not none }}</textarea>
        </li>
        <li>
            <div class="explanation">
                {{ render_ext_review_question('jcmt_review_obj_inst') }}
            </div>
            <label for="jcmt_review_obj_inst">Targets / instruments</label>
            <textarea name="jcmt_review_obj_inst" cols="80" rows="10">{{ jcmt_review.review_obj_inst if jcmt_review.review_obj_inst is not none }}</textarea>
        </li>
        <li>
            <div class="explanation">
                {{ render_ext_review_question('jcmt_review_telescope') }}
            </div>
            <label for="jcmt_review_telescope">Telescope</label>
            <textarea name="jcmt_review_telescope" cols="80" rows="10">{{ jcmt_review.review_telescope if jcmt_review.review_telescope is not none }}</textarea>
        </li>
        <li>
            <div class="explanation">
                Where would you place this proposal within the following scale?
            </div>
            <label for="jcmt_rating_technical">Technical case</label>
            <select name="jcmt_rating_technical">
                {% for (rating_id, rating_name) in jcmt_ratings_technical.items() %}
                    <option value="{{ rating_id }}" {{ 'selected="selected"' | safe if rating_id == jcmt_review.rating_technical }}>{{ rating_name }}</option>
                {% endfor %}
            </select>
        </li>
        <li>
            <div class="explanation">
                Where would you place this proposal within the following scale?
            </div>
            <label for="jcmt_rating_urgency">Urgency</label>
            <select name="jcmt_rating_urgency">
                {% for (rating_id, rating_name) in jcmt_ratings_urgency.items() %}
                    <option value="{{ rating_id }}" {{ 'selected="selected"' | safe if rating_id == jcmt_review.rating_urgency }}>{{ rating_name }}</option>
                {% endfor %}
            </select>
        </li>
    {% endif %}
    {% if role_info.text %}
        <li>
            {% if role_info.jcmt_external %}
                <div class="explanation">
                    Do you have any further comments about the proposal?
                </div>
                <label for="text">Additional comments</label>
            {% else %}
                <label for="text">Review</label>
            {% endif %}
            <textarea name="text" cols="80" rows="16" {{ 'autofocus="autofocus"' | safe if not role_info.jcmt_external }}>{{ reviewer.review_text if reviewer.review_text is not none }}</textarea>
        </li>
    {% endif %}
{% endblock %}

{% block form_rating_explanation %}
    Please give an overall numerical rating on a scale from
    0 (worst) to 100 (best).
    <ul>
        <li><b>100:</b> A clear proposal with potentially seminal results.</li>
        <li><b>75:</b> A potentially seminal project that has perhaps not been clearly explained or has minor flaws. Rating is given for potential for good science.</li>
        <li><b>50:</b> A solid proposal which ought to get time &mdash; depending on competition for RA/Dec and time left after allocating higher ranked proposals.</li>
        <li><b>25:</b> A proposal with some flaw.</li>
        <li><b>0:</b> A proposal with serious flaws either in concept or design.</li>
    </ul>
{% endblock %}

{% block form_list_extra %}
    {% if role_info.jcmt_expertise %}
        <li>
            <label for="jcmt_expertise">Expertise</label>
            <select name="jcmt_expertise">
                {% for (expertise_num, expertise_name) in jcmt_expertise_levels.items() %}
                    <option value="{{ expertise_num }}" {{ 'selected="selected"' | safe if expertise_num == jcmt_review.expertise }}>{{ expertise_name }}</option>
                {% endfor %}
            </select>
        </li>
    {% endif %}
{% endblock %}
