{% extends 'generic/proposal_view.html' %}

{% from 'ukirt/macro/request_table.html' import render_request_display %}

{% block proposal_request %}
    <section>
        <h2 id="request">{{ proposal_order.proposal_request }}</h2>

        {% if not requests %}
            <p class="missing">
                This proposal does not yet have an observing request.
            </p>
        {% else %}
            {{ render_request_display(requests.to_table()) }}
        {% endif %}

        {% if can_edit %}
            <nav>
                <p>
                    <a href="{{ url_for('.request_edit', proposal_id=proposal.id) }}">Edit observing request</a>
                </p>
            </nav>
        {% endif %}
    </section>
{% endblock %}
